<template>
    <!-- Attachment Control -->
    <x-box class="attachment-control" w="full">
      <el-upload
        :class="'attachment-control-upload' + (disabled ? ' is-disabled' : '')"
        drag
        action="/api/temporary-upload"
        :disabled="disabled"
        :headers="headers"
        :multiple="multiple"
        :on-success="handleOnSuccess"
        :on-error="handleOnError"
        :on-remove="handleOnRemove"
        :before-upload="handleBeforeUpload"
      >
        <x-flex>
          <x-box>Add File (Click or Drag)</x-box>
          <x-icon ml="auto" name="uiUpload" label="+" :size="null" />
        </x-flex>
      </el-upload>
    </x-box>
</template>

<script>
    // Attachment Upload control
    import { ElNotification } from "element-plus";

    export default {
        props: {
            // The code for the TemporaryUpload for the form (refactor to array)
            // We receive this via v-model which we update locally and then emit
            modelValue: String,

            loading: {
              type: Boolean,
              default: false
            },

            disabled: {
              type: Boolean,
              default: false
            },

            multiple: {
              type: Boolean,
              default: true
            }
        },

        data() {
            const token = document.head.querySelector('meta[name="csrf-token"]');

            return {
                // A local copy of the modelValue to modify, this represents the code of the TemporaryUpload
                // @debt refactor to array to handle multiple uploads
                code: this.modelValue,

                // A local copy of the loading prop to modify
                isLoading: this.loading,

                headers: {
                  'X-CSRF-TOKEN': token.content
                },
            }
        },

        // Sync the params from v-model
        watch: {
            code() {
                // See https://vuejs.org/guide/components/events.html#usage-with-v-model
                this.$emit("update:modelValue", this.code);
            },

            isLoading() {
                // See https://vuejs.org/guide/components/events.html#usage-with-v-model
                this.$emit("update:loading", this.isLoading);
            },
        },
        emits: ["update:modelValue", "update:loading"],

        methods: {
          handleOnSuccess(response, uploadFile, uploadFiles) {
            ElNotification({
                title: 'Attachment Uploaded',
                message: 'Your attachment has been uploaded.',
                type: 'success',
            });

            this.code = response.code
            this.isLoading = false
          },

          handleOnError(error, uploadFile, uploadFiles) {
            ElNotification({
                title: 'Error Uploading Attachment',
                message: 'An error occured uploading your attachment.',
                type: 'error',
            });
            this.isLoading = false
          },

          handleOnRemove(uploadFile, uploadFiles) {
            this.code = null;
          },

          handleBeforeUpload(rawFile) {
            this.isLoading = true
          }
        },

        mounted() {

        }

    };
</script>

<style lang="scss">
.attachment-control .el-upload-dragger {
    --el-upload-dragger-padding-horizontal: 6px;
    --el-upload-dragger-padding-vertical: 18px;

    border: 1px solid var(--el-border-color);

    &:hover {
      // @debt
      border-color: var(--el-input-hover-border-color);
    }
}
</style>
