<template>
    <x-box v-bind="attributes">
        <x-box v-if="title" class="display-card__title">
            <x-heading v-if="title" :size="titleSize" mb="none">{{ title }}</x-heading>
            <x-divide variation="primary" mt="xs" mb="sm"/>
        </x-box>
        <slot />
    </x-box>
</template>

<script>
    // A top-level display card (white background with an outer shadow)
    export default {
        props: {
            variation: {
                type: String, // nopadding
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            titleSize: {
                type: [Number, String],
                default: 4,
            },
        },

        data() {
            return {
                bem: this.$ripple().classNamer("display-card"),
            };
        },

        computed: {
            attributes() {
                return {
                    class: [this.bem.block(), this.bem.modifier(this.variation)]
                };
            },
        },
    }
</script>

<style lang="scss">
    .display-card {
        position: relative;
        max-width: 100%;

        // Animation
        transition: v('common.transition.fast');
        transition-property: border-color, background-color, color, transform;
    }
    :where(.display-card) {
        background-color: v("colors.base");
        padding: v("sizes.padding.card");
        border-radius: v("common.border-radius.card");
        box-shadow: v("common.shadow.card");
    }
    .display-card > :last-child {
        margin-bottom: 0;
    }
    .display-card__title {
        // display: flex;
        // justify-content: space-between;
        // position: relative;
    }
    .inertia-navigate:hover .display-card {
        // border-color: v('colors.primary.light');
    }

    @include design-breakpoint-down('sm') {
        :where(.display-card) {
            padding: v("sizes.padding.card-small");
        }
    }
</style>