<template>
    <x-box as="div" class="inner-card">
        <x-heading size="6" v-if="title">{{ title }}</x-heading>
        <slot />
    </x-box>
</template>

<script>
    // An inner display card
    import { computed } from 'vue';

    export default {
        props: {
            title: null,
        }
    }
</script>

<style lang="scss">
    .inner-card {
        position: relative;
        max-width: 100%;

        // Animation
        transition: v('common.transition.fast');
        transition-property: border-color, background-color, color, transform;
    }
    :where(.inner-card) {
        // background-color: v('colors.primary.bg');
        // padding: v('sizes.padding.card');
        // border-radius: v('common.border-radius.card');
        // border: solid 1px v('colors.primary.border');
        margin-bottom: 2rem;
    }
    .inner-card > :last-child {
        margin-bottom: 0;
    }
    .inertia-navigate:hover .inner-card {
        // border-color: v('colors.primary.light');
    }
</style>