<template>
    <x-box class="label-value">
        <x-label color="gray.placeholder" mb="xs">{{ label ?? '-' }}</x-label>
        <x-text color="gray.dark" mb="none">
            <x-box as="span" :mr="adjunct ? 'tiny' : ''">
                <span v-if="value" v-html="value" />
                <slot />
            </x-box>
            <x-adjunct as="span" v-if="adjunct">
                {{ ' ' + adjunct }}
            </x-adjunct>
        </x-text>
    </x-box>
</template>

<script>
    // A label and value text pair
    export default {
        props: {
            label: {
                type: String,
                default: null,
            },
            value: {
                type: String,
                default: null,
            },
            adjunct: {
                type: String,
                default: null,
            },
        },
    }
</script>

<style lang="scss">
    .label-value {
        //
    }
</style>