<template>
    <x-box :as="as" :href="href" class="app-logo">
        <span v-if="name" class="sr-only">{{ name }}</span>
        <img :src="src" :class="imgClass" alt="Application Logo">
    </x-box>
</template>

<script>
    // Project logo with optional link
    export default {
        props: {
            name: {
                type: String,
                default: null,
            },
            reverse: {
                type: Boolean,
                default: false,
            },
            href: {
                type: String,
                default: '/', // null
            },
            variation: {
                type: String,
                default: null,
            },
        },

        data() {
            return {
                as: ( this.href ? 'a' : 'h1' ),
                src: '/assets/images/company/logo'
                    + ( this.reverse ? '-reverse' : '' )
                    + '.svg',
                imgClass: 'style-logo'
                    + ( this.variation ? ' style-logo--' + this.variation : '' ),
            };
        },
    }
</script>

<style lang="scss">
    // Style managed in project/project.scss
</style>