<template>
    <x-box :as="as" :href="href" target="_blank" display="inline-block" class="app-river-logo">
        <span v-if="name" class="sr-only">{{ name }}</span>
        <img :src="src" :class="imgClass" style="height: 0.8em; transform: translateY(1px);" alt="Vendor Logo">
    </x-box>
</template>

<script>
    // Logo RIVER: The vendor logo and link
    export default {
        props: {
            name: {
                type: String,
                default: 'RIVER',
            },
            reverse: {
                type: Boolean,
                default: false,
            },
            href: {
                type: String,
                default: 'https://weareriver.nz/',
            },
            variation: {
                type: String,
                default: null,
            },
        },

        data() {
            return {
                as: ( this.href ? 'a' : 'h1' ),
                src: '/assets/images/river/river-logo'
                    + ( this.reverse ? '-reverse' : '' )
                    + '.svg',
                imgClass: 'style-logo'
                    + ( this.variation ? ' style-logo--' + this.variation : '' ),
            };
        },
    }
</script>

<style lang="scss">
    //
</style>