<template>
    <x-box class="title-divide">
        <x-row wrap="wrap" :mb="divide ? 'sm' : 'none'" alignItems="baseline" gap="xs">
            <x-title :size="size">
                {{ title }}
                <slot />
            </x-title>
            <x-label v-if="adjunct" color="gray.placeholder">{{ adjunct }}</x-label>
        </x-row>
        <x-divide v-if="divide" variation="primary" my="none" />
    </x-box>
</template>

<script>
    // A title with a divider
    export default {
        props: {
            title: {
                type: String,
                default: null,
            },
            size: {
                type: [String, Number],
                default: 5,
            },
            adjunct: {
                type: String,
                default: null,
            },
            divide: {
                type: Boolean,
                default: true,
            },
        },
    }
</script>

<style lang="scss">
    .title-divide {
        //
    }
</style>