<template>
    <!-- Keyword Search -->
    <x-box class="list-search">
        <el-input v-model="params.keyword" clearable :placeholder="placeholder" @change="handleKeywordChange">
            <template #suffix>
                <x-icon name="uiSearch" label="Search" size="1em" />
            </template>
        </el-input>
    </x-box>
</template>

<script>
    // Keyword Search for a Laravel paginated result set of params
    export default {
        props: {
            // The params that should be used for search
            // We receive this via v-model which we update locally and then emit
            modelValue: Object,

            // The results from the last API call
            result: {
                type: Object,
                default: null,
            },
            placeholder: {
                type: String,
                default: 'Quick Search...',
            }
        },

        data() {
            return {
                // A local copy of the modelValue params to modify
                params: this.modelValue,
            }
        },

        methods: {
          handleKeywordChange() {
            // See https://vuejs.org/guide/components/events.html#usage-with-v-model
            this.$emit("update:modelValue", this.params);
          }
        },

        // Sync the params from v-model
        // better to bind a change method to input and then emit
        // that is more efficient. I did the watch in previous component
        // due to multiple fields & it was faster.
        // watch: {
        //     params() {
        //         // See https://vuejs.org/guide/components/events.html#usage-with-v-model
        //         this.$emit("update:modelValue", this.params);
        //     },
        // },
        emits: ["update:modelValue"],

    };
</script>