<template>
    <!-- Paging -->
    <x-row v-if="result" class="list-paging" alignItems="center" color="gray.dark">
        <x-box class="list-paging--control" :disabled="params.page <= 1" @click="params.page = Math.max(params.page - 1, 1)">
            <x-icon name="uiLeft" label="<" :size="null" />
        </x-box>
        <x-text margin="auto">
            <template v-if="result.from">
                <x-box as="span">{{ result.from }} - {{ result.to }}</x-box>
                <x-box as="span" color="gray.placeholder"> / {{ result.total }}</x-box>
            </template>
            <span v-else>-</span>
        </x-text>
        <x-box
            class="list-paging--control"
            :disabled="params.page >= result.last_page"
            @click="params.page = Math.min(params.page + 1, result.last_page)"
        >
            <x-icon name="uiRight" label=">" :size="null" />
        </x-box>
    </x-row>
</template>

<script>
    // Paging for a Laravel paginated result set of params
    export default {
        props: {
            // The params that should be used for paging
            // We receive this via v-model which we update locally and then emit
            modelValue: Object,

            // The results from the last API call
            result: {
                type: Object,
                default: null,
            },
        },

        data() {
            return {
                // A local copy of the modelValue params to modify
                params: this.modelValue,
            }
        },

        // Sync the params from v-model
        watch: {
            params() {
                // See https://vuejs.org/guide/components/events.html#usage-with-v-model
                this.$emit("update:modelValue", this.params);
            },
        },
        emits: ["update:modelValue"],

    };
</script>

<style lang="scss">
    .list-paging {
        color: v('colors.gray.dark');
        font-size: v('type.size.sm');
        font-weight: v('type.weight.bold');
    }
    .list-paging--control {
        cursor: pointer;

        // Animation
        transition: v('common.transition.normal');
        transition-property: opacity;
    }
    .list-paging--control[disabled=true] {
        cursor: not-allowed;
        opacity: v('common.opacity.disabled');
    }
    .list-paging--control .style-icon {
        width: 1.2em;
        height: 1.2em;
        vertical-align: middle;
    }
</style>