// Ripple Utilities - Design for Type //

// Define all of our design utilities for type here.
// Example classes: .font-family--primary, .font-size--normal, .font-size--title-1, .spacing--normal, etc

// Design Utilities for Type
$design-utilities-type: (

    // Design - Font Family
    'design-type-font': (
        enabled: false, // Rarely used
        properties: (
            'font':                         'font-family',
        ),
        values: '@type.font', // all references
        // values: '@type.font' 'primary' 'secondary', // limited references
    ),

    // Design - Font Size
    'design-type-size': (
        enabled: true,
        responsive: 'md',
        properties: (
            'text':                         'font-size',
        ),
        values: '@type.size', // all references
        // values: '@type.size' 'xs' 'sm' 'normal' 'lg' 'xl', // limited references
    ),

    // Design - Font Weight
    'design-type-weight': (
        enabled: true,
        properties: (
            'weight':                       'font-weight',
        ),
        values: '@type.weight', // all references
        // values: '@type.weight' 'light' 'normal' 'title' 'bold', // limited references
    ),

    // Design - Line Height
    'design-type-leading': (
        enabled: false, // Rarely used
        properties: (
            'leading':                      'line-height',
        ),
        values: '@type.leading', // all references
        // values: '@type.leading' 'none' 'tight' 'normal' 'title' 'relaxed', // limited references
    ),

    // Design - Letter Spacing
    'design-type-tracking': (
        enabled: false, // Rarely used
        properties: (
            'tracking':                     'letter-spacing',
        ),
        values: '@type.tracking', // all references
        // values: '@type.tracking' 'tight' 'none' 'normal' 'title' 'wide', // limited references
    ),

    // Design - Paragraph Spacing
    'design-type-paragraph': (
        enabled: false, // Rarely used
        properties: (
            'paragraph ':                   'margin-bottom',
        ),
        values: '@type.paragraph', // all references
        // values: '@type.paragraph' 'none' 'small' 'normal' 'title' 'large', // limited references
    ),

    
);

// Merge in utilities
$design-utilities: design-utilities-add($design-utilities-type);
