// Ripple Utilities - Design for Color //

// Define all of our design utilities for color here.
// Example classes: .color--base, .color--primary.normal, .bg--base, .bg--gray.bg, etc

// Design Utilities for Color
$design-utilities-color: (

    // Design - All Colors
    'design-color-all': (
        enabled: true,
        states: false,
        properties: (
            'color':                        'color',
            'bg':                           'background-color',
            'border':                       'border-color',
        ),
        values: '@colors', // all references
        // values: '@colors' 'base' 'reverse' 'light' 'normal' 'dark', // limited references
        defaultValue: 'normal',
    ),

    // Design - Primary and Gray Colors only
    'design-color-primary': (
        enabled: false,
        states: 'hover',
        valuePrefix: 'primary.',
        properties: (
            'color':                        'color',
            'bg':                           'background-color',
            'border':                       'border-color',
        ),
        values: '@colors.primary', // all references
        // values: '@colors.primary' 'light' 'normal' 'dark', // limited references
        defaultValue: 'normal',
    ),
    'design-color-gray': (
        enabled: false,
        states: false,
        valuePrefix: 'gray.',
        properties: (
            'color':                        'color',
            'bg':                           'background-color',
            'border':                       'border-color',
        ),
        values: '@colors.gray', // all references
        // values: '@colors.gray' 'light' 'normal' 'dark', // limited references
        defaultValue: 'normal',
    ),

    // Design - Notification Colors
    'design-color-info': (
        enabled: false,
        properties: (
            'color':                        'color',
            'bg':                           'background-color',
            'border':                       'border-color',
        ),
        values: '@colors.info',
    ),
    'design-color-success': (
        enabled: false,
        properties: (
            'color':                        'color',
            'bg':                           'background-color',
            'border':                       'border-color',
        ),
        values: '@colors.success',
    ),
    'design-color-warning': (
        enabled: false,
        properties: (
            'color':                        'color',
            'bg':                           'background-color',
            'border':                       'border-color',
        ),
        values: '@colors.warning',
    ),
    'design-color-error': (
        enabled: false,
        properties: (
            'color':                        'color',
            'bg':                           'background-color',
            'border':                       'border-color',
        ),
        values: '@colors.error',
    ),

);

// Merge in utilities
$design-utilities: design-utilities-add($design-utilities-color);
