// Ripple Utilities - Design for Borders //

// Define all of our design utilities for borders here.
// Example classes: .border--normal, .border--input, etc

// Load prior to colors, to ensure color utilities have a higher cascade specificity

// Design Utilities for Borders
$design-utilities-borders: (

    // Design - Borders
    'border-helpers': (
        enabled: true,
        responsive: false,
        properties: (
            'border':                       'border',
        ),
        values: (
            'normal@':                      ('@' 'common.border.normal' (solid 2px slategray)),
            'input@':                       ('@' 'common.border.input' (solid 2px slategray)),
        ),
    ),

);

// Merge in utilities
$design-utilities: design-utilities-add($design-utilities-borders);
