// Ripple Utilities - Design for Margins //

// Define all of our design utilities for margins here.
// Example classes: .m--normal, .mt--small, .mx--auto, .md:m--normal, .md:mt--small, etc

// Design Utilities for Margins
$design-utilities-margins: (

    // Design - Margins
    'design-margin': (
        enabled: true,
        responsive: 'md',
        properties: (
            'm':                            'margin',
            'mt':                           'margin-top',
            'mr':                           'margin-right',
            'mb':                           'margin-bottom',
            'ml':                           'margin-left',
            'mx':                           'margin-left' 'margin-right',
            'my':                           'margin-top' 'margin-bottom',
        ),
        values: '@sizes.size', // all references
        // values: '@sizes.size' 'xs' 'sm' 'normal' 'lg' 'xl', // limited references
    ),

    'design-margin-negative': (
        enabled: false, // Rarely used
        responsive: 'md',
        calculation: -1,
        valueSuffix: '-negative',
        properties: (
            'm':                            'margin',
            'mt':                           'margin-top',
            'mr':                           'margin-right',
            'mb':                           'margin-bottom',
            'ml':                           'margin-left',
            'mx':                           'margin-left' 'margin-right',
            'my':                           'margin-top' 'margin-bottom',
        ),
        values: '@sizes.size', // all references
        // values: '@sizes.size' 'xs' 'sm' 'normal' 'lg' 'xl', // limited references
    ),

    'margin-helpers': (
        enabled: true,
        responsive: 'sm' 'md' 'lg',
        properties: (
            'm':                            'margin',
            'mt':                           'margin-top',
            'mr':                           'margin-right',
            'mb':                           'margin-bottom',
            'ml':                           'margin-left',
            'mx':                           'margin-left' 'margin-right',
            'my':                           'margin-top' 'margin-bottom',
        ),
        values: (
            'auto':                         'auto',
            'none':                         0,
        ),
    ),

);

// Merge in utilities
$design-utilities: design-utilities-add($design-utilities-margins);
