<!-- Header -->
<template>

    <x-stack class="app-header" gap="xs" alignItems="start">
        <!-- Toggle Sidebar & Breadcrumbs -->
        <x-row gap="none" alignItems="center">
            <!-- Toggle Sidebar -->
            <x-box @click="events.emit('toggleSidebar')" class="app-toggle-sidebar">
                <x-icon name="uiMenu" label="Toggle Menu" :size="null" />
            </x-box>

            <!-- Breadcrumbs -->
            <component
                v-if="routesConfig[activeRoute]?.breadcrumbsComponent ?? null"
                :is="routesConfig[activeRoute].breadcrumbsComponent"
                :activeRoute="activeRoute"
                :activeSectionRouteKey="activeSectionRouteKey"
                :activeSubmenuRouteKey="activeSubmenuRouteKey"
                />
        </x-row>

        <!-- Actionbar -->
        <component
            v-if="routesConfig[activeRoute]?.actionbarComponent ?? null"
            :is="routesConfig[activeRoute].actionbarComponent"
            :activeRoute="activeRoute"
            :activeSectionRouteKey="activeSectionRouteKey"
            :activeSubmenuRouteKey="activeSubmenuRouteKey"
            />
    </x-stack>

</template>

<script>
    // Navigation header
    import routesConfig from "~/config/routes-config.js";

    // Available Breadcrumbs (we need to load in all options defined in routes-config)
    import defaultBreadcrumbs from "~/components/navigation/breadcrumbs/default-breadcrumbs.vue";

    // Available Actionbars (we need to load in all options defined in routes-config)
    import defaultActionbar from "~/components/navigation/actionbar/default-actionbar.vue";

    export default {
        props: {
            // Active route, pulled from Project layout
            activeRoute: String,
            activeSectionRouteKey: String,
            activeSubmenuRouteKey: String,
        },

        data: () => ({
            routesConfig: routesConfig,
        }),

        components: {
            // Breadcrumbs
            defaultBreadcrumbs,
            // Actionbars
            defaultActionbar,
        },

        methods: {
            // toggleSidebar: function() {
            //     // As the layout to toggle the sidebar
            //     this.$emit('toggleSidebar');
            // }
        },
    }
</script>