<!-- Sidebar Navigation -->
<template>
    <x-box class="app-navigation">

        <!-- Navigation Section -->
        <template v-for="(item, routeKey) in navigationConfig">
            <x-box as="nav" class="app-navigation__section"
                :data-section="routeKey"
                :data-state="routeKey == activeSectionRouteKey ? 'active' : null"
                v-if="showSection(routeKey, item)"
                >
                <x-label class="app-navigation__section-label" color="gray.normal">{{ item.name }}</x-label>
                <x-box class="app-navigation__submenu">
                    <component 
                        v-if="item.submenuComponent ?? null"
                        :is="item.submenuComponent"
                        :activeRoute="activeRoute"
                        :activeSectionRouteKey="activeSectionRouteKey"
                        :activeSubmenuRouteKey="activeSubmenuRouteKey"
                        :data="item.submenuData ?? {}"
                        />
                </x-box>
            </x-box>
        </template>

    </x-box>
</template>

<script>
    // Navigation menu
    import appNavigationConfig from "~/config/app-navigation-config.js";
    import staffNavigationConfig from "~/config/staff-navigation-config.js";
    import routesConfig from "~/config/routes-config.js";

    // Available Submenus (we need to load in all options defined in navigation-config)
    import defaultSubmenu from "~/components/navigation/submenu/default-submenu.vue";

    export default {
        props: {
            // Active route, pulled from Project layout
            activeRoute: String,
            activeSectionRouteKey: String,
            activeSubmenuRouteKey: String,
        },

        data: () => ({
            appNavigationConfig: appNavigationConfig,
            staffNavigationConfig: staffNavigationConfig,
            routesConfig: routesConfig,
        }),

        components: {
            // Submenus
            defaultSubmenu,
        },

        computed: {
            navigationConfig() {
                return this.$page.props.auth.admin
                    ? this.staffNavigationConfig
                    : this.appNavigationConfig;
            },
        },

        methods: {
            showSection(routeKey, item) {
                // console.log('showSection', this.activeSectionRouteKey, routeKey);
                if (item.visible == undefined) {
                    return true;
                }
                if (item.visible instanceof Function) {
                    let vm = this;
                    return item.visible(vm);
                }
                if (item.visible) {
                    return true;
                }
                if (this.activeSectionRouteKey == routeKey) {
                    return true;
                }
                return false;
            },
            showSubmenu(routeKey, item) {
                return true;
            }
        },

        mounted: function() {
            // console.log(this.activeRoute, this.activeSectionRouteKey, this.activeSubmenuRouteKey);
        },
    }
</script>

<style lang="scss">
    // Navigation
    .app-navigation {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }
    .app-navigation__section {
        display: block;
    }
    .app-navigation__section-label {
        margin-bottom: 1.0rem;
    }
    .app-navigation__submenu {
        display: flex;
        flex-direction: column;
        row-gap: 1.0rem;
    }

    // Navigation Links
    .app-navigation__submenu .style-link {
        display: inline-block;
    }
    .app-navigation__submenu .style-link > .row > * {
        transition: v('common.transition.fast');
        transition-property: color;
    }
    .app-navigation__submenu .style-link > .row > *{
        color: v('colors.gray.light');
    }
    .app-navigation__submenu .style-link[data-state="active"] > .row > *,
    .app-navigation__submenu .style-link:hover > .row > * {
        color: v('colors.base');
    }
</style>