// Ripple Design System - Design Maps

// Here we define our own maps for the design system;
// we can update the default maps, or set completely new maps ourselves.
// We have full control over each map, though if we follow existing conventions
// we will get improved default styling for our helpers and preloaded CSS.

// To override and/or set a new map, we use:
// $design-map: design-map-set('colors', (...));

// To update an existing map, we use:
// $design-map: design-map-update('colors', (...));


// Ensure Design Maps are defined
$design-map: () !default;


// Color
// $design-map: design-map-set('colors', ());
// $design-map: design-map-update('colors', ());
@import 'maps/map-colors';

// Notifications
// $design-map: design-map-set('notifications', ());
// $design-map: design-map-update('notifications', ());
@import 'maps/map-notifications';

// Type
// $design-map: design-map-set('type', ());
// $design-map: design-map-update('type', ());
@import 'maps/map-type';

// Sizes
// $design-map: design-map-set('sizes', ());
// $design-map: design-map-update('sizes', ());
@import 'maps/map-sizes';

// Common
// $design-map: design-map-set('common', ());
// $design-map: design-map-update('common', ());
@import 'maps/map-common';

// Base (Styles)
// $design-map: design-map-set('base', ());
// $design-map: design-map-update('base', ());
@import 'maps/styles-base';

// Typography (Styles)
// $design-map: design-map-set('typography', ());
// $design-map: design-map-update('typography', ());
@import 'maps/styles-typography';
