<template>
    <x-box v-bind="attributes">
        <x-container class="style-page__container" :variation="variation == 'nopadding' ? 'fluid' : null">
            <x-title v-if="title" :size="titleSize" mb="sm">{{ title }}</x-title>
            <slot />
        </x-container>
    </x-box>
</template>

<script>
    // A Page container for consistent page layout
    import { defineComponent } from "vue";

    export default defineComponent({
        props: {
            variation: {
                type: String,
                default: null, // null, "nopadding"
            },
            title: {
                type: String,
                default: null,
            },
            titleSize: {
                type: [Number, String],
                default: 4,
            },
        },

        data() {
            return {
                bem: this.$ripple().classNamer("style-page"),
            };
        },

        computed: {
            attributes() {
                return {
                    class: [this.bem.block(), this.bem.modifier(this.variation)]
                };
            },
        },
    });
</script>

<style lang="scss">
    :where(.style-page) {
        // Expects to go inside a flex element, and grow to full size
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        min-height: 50rem;
        padding-top: v('sizes.size.normal');
        padding-bottom: v('sizes.size.normal');
    }
    .style-page__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    // We add a nopadding option which is useful for fullsize page elements, such as maps
    .style-page--nopadding {
        padding: 0;
    }
    .style-page--nopadding .style-page__container {
        max-width: none;
        margin: 0;
        padding: 0;
    }

    @include design-breakpoint-down('sm') {
        :where(.style-page) {
            padding-top: v('sizes.size.sm');
            padding-bottom: v('sizes.size.sm');
        }
    }

</style>