<!-- Management - Staff / Index -->
<template>

    <!-- Manage Staff List -->
    <x-box class="manage-staff">

        <x-title-divide mb="normal">Manage Staff</x-title-divide>
        <x-text>
            You can add, edit, and remove staff here (as you have management permissions).
            After you add a staff, it is highly recommended they update their own password after logging in.
            <!-- Note that staff cannot update their own details, so you will need to do it for them. -->
        </x-text>

        <x-space height="xl" />
        <x-grid columns="1 md:4 lg:6" gap="sm" gapY="xs" mb="xs">
            <x-grid-cell span="1 lg:2">
                <x-label color="gray.placeholder">Name</x-label>
            </x-grid-cell>
            <x-grid-cell span="1 lg:2">
                <x-label color="gray.placeholder">Email</x-label>
            </x-grid-cell>
            <x-grid-cell>
                <x-label color="gray.placeholder">Role</x-label>
            </x-grid-cell>
            <x-grid-cell mb="sm md:none">
                <x-label color="gray.placeholder">Actions</x-label>
            </x-grid-cell>
        </x-grid>

        <!-- Staff List -->
        <x-box class="manage-staff-list" v-loading="formLoading">
            <x-grid columns="1 md:4 lg:6" gap="sm" gapY="xs" mb="xs">
                <template v-if="admins?.length" v-for="(admin, index) in admins" :key="index">
                    <x-grid-cell span="1 lg:2">
                        <x-text color="gray.dark" class="overflow-ellipsis">{{ admin.name }}</x-text>
                    </x-grid-cell>
                    <x-grid-cell span="1 lg:2">
                        <x-text color="gray.dark" class="overflow-ellipsis">{{ admin.email }}</x-text>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-text color="gray.dark">{{ admin.roleLabel }}</x-text>
                    </x-grid-cell>
                    <x-grid-cell mb="sm md:none">
                        <x-row wrap="wrap" gap="sm">
                            <x-button variation="default small" @click="removeAdmin(admin)">Remove</x-button>
                        </x-row>
                    </x-grid-cell>
                </template>
                <x-text v-else color="gray.dark" mb="none">-</x-text>
            </x-grid>
        </x-box>

        <!-- Add Staff button -->
        <x-space height="normal" />
        <el-button type="primary" variation="small" @click="dialogVisible = true" class="add-staff-action">
            <span>Add Staff</span>
            <x-icon variation="right" name="uiRight" label=">" :size="null" />
        </el-button>

    </x-box>

    <!-- Add Staff popup -->
    <el-dialog v-model="dialogVisible" title="Add Staff"
        custom-class="add-staff-dialog el-dialog--borderless">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title-divide>Add Staff</x-title-divide>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <!-- Spouse Details -->
            <x-grid columns="1 md:2" gapY="none">
                <x-form-control for="input_name" :error="form.errors.name" label="Staff Name">
                    <el-input id="input_name" v-model="form.name" placeholder="Staff Name..." />
                </x-form-control>
                <x-form-control for="input_email" :error="form.errors.email" label="Staff Email">
                    <el-input id="input_email" v-model="form.email" placeholder="Staff Email..." />
                </x-form-control>
                <x-form-control for="input_role" :error="form.errors.role" label="Staff Role">
                    <el-select
                        filterable clearable default-first-option
                        id="input_role"
                        v-model="form.role"
                        placeholder="Staff Role...">
                        <el-option v-for="(label, key) in adminRoles" :key="key" :label="label" :value="key" />
                    </el-select>
                </x-form-control>
                <x-form-control for="input_password" :error="form.errors.password" label="Staff Password">
                    <el-input id="input_password" v-model="form.password" placeholder="Staff Password..." />
                </x-form-control>
            </x-grid>

            <!-- Form Controls -->
            <x-space height="normal" />
            <x-flex>
                <el-button type="primary" variation="small" @click="handleSubmit">Add Staff</el-button>
                <x-box ml="auto">
                    <el-button variation="outline small" @click="dialogVisible = false">Cancel</el-button>
                </x-box>
            </x-flex>

        </x-form-container>

    </el-dialog>

    <!-- Confirm Remove Staff popup -->
    <el-dialog v-model="removeDialogVisible" title="Remove Staff"
        custom-class="manage-staff-remove-dialog el-dialog--borderless el-dialog--small">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title-divide>Remove Staff</x-title-divide>
        </template>

        <!-- Body -->
        <x-text colors="gray.dark" mb="sm" v-if="adminDelete">
            Are you sure you would like to delete the staff
            <x-text as="span" weight="bold">{{ adminDelete.label }}</x-text>
            ?
        </x-text>
        <x-text colors="gray.dark">This will remove all associated Case Assignments, and cannot be undone.</x-text>

        <!-- Form Controls -->
        <x-space height="normal" />
        <x-flex>
            <el-button type="primary" variation="small" @click="confirmRemoveAdmin">Remove Staff</el-button>
            <x-box ml="auto">
                <el-button variation="outline small" @click="closeRemoveAdmin">Cancel</el-button>
            </x-box>
        </x-flex>

    </el-dialog>

</template>

<script>
    // Manage Admins / Staff (management permissions only)
    import axios from "axios";
    import { ElNotification } from "element-plus";
    import { sendInertiaForm } from '~/utils/inertia-utils';

    import inputConfigs from "~/config/inputs-config";

    export default {
        props: {
            admin: {
                type: Object, // DisplayAdminData DTO
                default: null,
            },
        },

        data() {
            return {
                // State
                formLoading: false,
                dialogVisible: false,
                removeDialogVisible: false,

                // Add Staff form
                form: this.$inertia.form({
                    name: null,
                    email: null,
                    role: null,
                    password: null,
                }),
                formMessage: null,
                formError: null,

                // Delete Form data
                deleteForm: this.$inertia.form({
                    admin_id: null,
                }),
                deleteFormMessage: null,
                deleteFormError: null,

                // Data
                admins: [], // Collection of DisplayAdminData DTOs
                adminDelete: null,
            };
        },

        computed: {
            ...inputConfigs,
        },

        components: {
            //
        },

        methods: {
            fetchAdmins() {
                this.formLoading = true;
                this.admins = []; // Clear existing Staff to reset their state (otherwise we cannot re-edit the same Staff)

                // axios
                //     .get(this.route('api.admins.list'))
                //     .then((res) => {
                //         // console.log('Fetched Admins', res.data.admins);
                //         this.admins = res.data.admins;
                //         this.formLoading = false;
                //     })
                //     .catch((err) => {
                //         // console.log('Error fetching Admins', err);
                //         ElNotification({
                //             title: 'Error Loading Staff',
                //             message: 'An error occured loading Staff.',
                //             type: 'error',
                //         });
                //     });
            },
            // Add Staff
            handleSubmit() {
                let vm = this;
                sendInertiaForm(vm, {
                    route: 'api.admins.store',
                });
            },
            submitOnCtrlEnter(e) {
                if (e.keyCode == 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
            // Remove Staff
            removeAdmin(admin) {
                this.removeDialogVisible = true;
                this.adminDelete = admin;
            },
            confirmRemoveAdmin() {
                this.formLoading = true;
                this.deleteForm.admin_id = this.adminDelete.id;

                this.deleteForm.post(this.route('api.admins.delete'), {
                    preserveScroll: true,
                    visit: false,
                    onSuccess: (res) => {
                        // console.log('Removed Admin', res);
                        ElNotification({
                            title: 'Staff Removed',
                            message: 'The Staff member was successfully removed.',
                            type: 'success',
                        });
                        this.fetchAdmins();
                    },
                    onError: (res) => {
                        // console.log('Error Removing Admin', res);
                        ElNotification({
                            title: 'Error Removing Staff',
                            message: 'An error occured removing the Staff member.',
                            type: 'error',
                        });
                        this.fetchAdmins();
                    },
                });

                this.closeRemoveAdmin(); // Close popup, clears this.deleteForm.admin_id
            },
            closeRemoveAdmin() {
                this.removeDialogVisible = false;
                this.adminDelete = null;
                this.deleteForm.admin_id = null;
            },
        },

        mounted: function() {
            this.fetchAdmins();
        },
    };
</script>

<style lang="scss">
    .manage-staff-list {
        min-height: 20rem;
    }
</style>