<template>

    <!-- Edit Organisation button -->
    <el-button :type="variation" variation="small" @click="dialogVisible = true" class="organisation-edit-details-action">
        <span>Edit Details</span>
        <x-icon variation="right" name="uiRight" label=">" :size="null" />
    </el-button>

    <!-- Edit Details popup -->
    <el-dialog v-model="dialogVisible" title="Edit Details"
        class="organisation-edit-details-dialog el-dialog--borderless">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title-divide>Edit Details</x-title-divide>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <!-- Organisation: Details (modified from create-contact-form.vue) -->
            <template v-if="isOrganisation()">
                <x-title size="6" mb="sm">Organisation Details</x-title>
                <x-form-grid>
                    <x-grid-cell>
                        <x-form-control for="input_name" :error="form.errors.name" label="Organisation Name" required>
                            <el-input :disabled="readOnly" id="input_name" v-model="form.name" placeholder="Name..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_reference" :error="form.errors.reference" label="Reference Code">
                            <el-input :disabled="readOnly" id="input_reference" v-model="form.reference" placeholder="Code..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_industry" :error="form.errors.industry" label="Industry">
                            <el-input :disabled="readOnly" id="input_industry" v-model="form.industry" placeholder="Industry..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_website" :error="form.errors.website" label="Website">
                            <el-input :disabled="readOnly" id="input_website" v-model="form.website" placeholder="Website..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_phone" :error="form.errors.phone" label="Phone">
                            <el-input :disabled="readOnly" id="input_phone" v-model="form.phone" placeholder="Phone..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_email" :error="form.errors.email" label="Email">
                            <el-input :disabled="readOnly" id="input_email" v-model="form.email" placeholder="Email..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell span="1 md:2">
                        <x-form-control for="input_address" :error="form.errors.address" label="Address">
                            <el-input :disabled="readOnly" id="input_address" v-model="form.address" placeholder="Address..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_country" :error="form.errors.country" label="Country">
                            <el-select :disabled="readOnly"
                                filterable clearable default-first-option
                                id="input_country"
                                v-model="form.country"
                                placeholder="Country...">
                                <el-option v-for="(label, key) in countryOptions" :key="key" :label="label" :value="key" />
                            </el-select>
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell span="1 md:3">
                        <x-form-control :error="form.errors.type" label="Organisation Type">
                            <x-stack gap="xs">
                                <x-row wrap="wrap">
                                    <template v-for="(label, key) in organisationTypeOptions" :key="key">
                                        <el-radio v-if="key !== 'other'" :disabled="readOnly" v-model="form.type" :label="key">{{ label }}</el-radio>
                                    </template>
                                </x-row>
                                <x-row gapX="sm">
                                    <el-radio :disabled="readOnly" v-model="form.type" label="other">Other</el-radio>
                                    <el-input variation="small"
                                        :disabled="form.type !== 'other' || readOnly"
                                        id="input_type_other"
                                        v-model="form.type_other"
                                        placeholder="Other type..."
                                        style="max-width: 24rem;"
                                        />
                                </x-row>
                            </x-stack>
                        </x-form-control>
                    </x-grid-cell>
                </x-form-grid>
            </template>

            <!-- Administration -->
            <x-space height="2xl" />
            <x-title size="5" mb="sm">Administration</x-title>
            <x-form-grid>
                <x-grid-cell span="1 md:2">
                    <x-form-control for="input_comments" :error="form.errors.comments" label="Comments">
                        <el-input
                            :disabled="readOnly"
                            type="textarea"
                            autosize
                            id="input_comments"
                            v-model="form.comments"
                            placeholder="Comments..."
                        />
                    </x-form-control>
                </x-grid-cell>
            </x-form-grid>


            <!-- Form Controls -->
            <x-row wrap="wrap" mt="2xl" gap="normal">
                <el-button id="form-submit" type="primary" variation="small" @click="handleSubmit">Update Details</el-button>
                <x-button ml="md:auto" variation="default small" @click="dialogVisible = false">Cancel</x-button>
            </x-row>

        </x-form-container>

    </el-dialog>

</template>

<script>
    // Action to create or edit a organisation Note
    import { ElNotification } from "element-plus";
    import axios from "axios";
    import { sendInertiaForm } from "~/utils/inertia-utils";

    import inputConfigs from "~/config/inputs-config";

    export default {
        props: {
            organisation: {
                type: Object, // OrganisationData DTO
                default: null,
            },
            variation: {
                type: String,
                default: "default", // default, primary
            },

            // Options to pass through to the sendInertiaForm() request
            submitOptions: {
                type: Object,
                default: {},
            },
        },

        components: {
            //
        },

        data() {
            return {
                // Admin
                admin: this.$page.props.auth.user,

                // State
                dialogVisible: false,
                formLoading: false,
                formMessage: null,
                formError: null,

                // Form data
                form: this.$inertia.form({
                    // Setup
                    organisation_id: this.organisation.id,
                    contact_type: 'organisation', // @debt type from backend
                    contact_action: 'details',

                    // Setup - Administration
                    admin_id: this.organisation.admin_id,
                    date_added: this.organisation.date_added,

                    // Contact Details (Shared)
                    name: this.organisation.name,
                    reference: this.organisation.reference,
                    phone: this.organisation.phone,
                    email: this.organisation.email,
                    website: this.organisation.website,
                    address: this.organisation.address,
                    country: this.organisation.country,
                    type: this.organisation.type,
                    type_other: this.organisation.type_other,
                    comments: this.organisation.comments,

                    // Organisation Details
                    industry: this.organisation.industry,
                }),
            };
        },

        computed: {
            ...inputConfigs,
            readOnly() {
                return false;
            },
        },

        methods: {
            isEditing() {
                return true;
            },
            isOrganisation() {
                return true;
            },
            handleSubmit() {
                const vm = this;
                sendInertiaForm(vm, {
                    route: "api.organisations.update",
                    ...this.submitOptions,
                });
            },
            submitOnCtrlEnter(e) {
                if (this.dialogVisible && e.keyCode === 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted: function() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>