<template>

    <!-- Add / Remove Access button -->
    <el-button :type="variation" variation="small" @click="dialogVisible = true" class="user-add-remove-access-action">
        <span>{{ getActionName() }}</span>
        <x-icon variation="right" name="uiRight" label=">" :size="null" />
    </el-button>

    <!-- Edit Details popup -->
    <el-dialog v-model="dialogVisible" title="Edit Details"
        class="user-add-remove-access-action-dialog el-dialog--borderless">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title-divide>{{ getActionName() }}</x-title-divide>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <!-- User: Enable Access -->
            <template v-if="enablingAuth()">
                <!-- <x-title size="6" mb="sm">Provide Login Access</x-title> -->
                <x-stack gap="xs" mb="normal">
                    <x-text>Provide login access to <x-box as="span" weight="bold">{{ user.name }}, {{ user.email }}</x-box>?</x-text>
                    <x-text>Login access allows a user to log in and manage their account. Once approved, an email invitation will be sent asking them to create a password and confirm their account.</x-text>
                    <x-text>You can include an optional message below. This will go underneath the opening line of the email saying they have been invited to create an account.</x-text>
                </x-stack>
                <x-form-grid>
                    <x-grid-cell span="1 md:2">
                        <x-form-control for="input_message" :error="form.errors.message" label="Optional Message">
                            <el-input
                                :disabled="readOnly"
                                type="textarea"
                                autosize
                                id="input_message"
                                v-model="form.message"
                                placeholder="Message..."
                            />
                        </x-form-control>
                    </x-grid-cell>
                </x-form-grid>
            </template>

            <!-- Form Controls -->
            <x-row wrap="wrap" mt="2xl" gap="normal">
                <el-button id="form-submit" type="primary" variation="small" @click="handleSubmit">{{ getSubmitButtonName() }}</el-button>
                <x-button ml="md:auto" variation="default small" @click="dialogVisible = false">Cancel</x-button>
            </x-row>

        </x-form-container>

    </el-dialog>

</template>

<script>
    // Action to create or edit a user Note
    import { ElNotification } from "element-plus";
    import axios from "axios";
    import { sendInertiaForm } from "~/utils/inertia-utils";

    import inputConfigs from "~/config/inputs-config";

    export default {
        props: {
            user: {
                type: Object, // UserData DTO
                default: null,
            },
            variation: {
                type: String,
                default: "default", // default, primary
            },

            // Options to pass through to the sendInertiaForm() request
            submitOptions: {
                type: Object,
                default: {},
            },
        },

        components: {
            //
        },

        data() {
            return {
                // Admin
                admin: this.$page.props.auth.user,

                // State
                dialogVisible: false,
                formLoading: false,
                formMessage: null,
                formError: null,

                // Form data
                form: this.$inertia.form({
                    // Setup
                    user_id: this.user.id,
                    enabling_auth: this.enablingAuth(),
                    message: null,
                }),
            };
        },

        computed: {
            ...inputConfigs,
            readOnly() {
                return false;
            },
        },

        methods: {
            enablingAuth() {
                // We are enabling auth access if the user does not currently have access
                return this.user.authEnabled ? false : true;
            },
            getActionName() {
                return this.enablingAuth()
                    ? 'Add Login Access'
                    : 'Remove Login Access';
            },
            getSubmitButtonName() {
                return this.enablingAuth()
                    ? 'Add Access'
                    : 'Remove Access';
            },
            handleSubmit() {
                const vm = this;
                sendInertiaForm(vm, {
                    route: "api.users.manage-auth",
                    ...this.submitOptions,
                });
            },
            submitOnCtrlEnter(e) {
                if (this.dialogVisible && e.keyCode === 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted: function() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>