<template>

    <!-- Edit User button -->
    <el-button :type="variation" variation="small" @click="dialogVisible = true" class="user-edit-details-action">
        <span>Edit Details</span>
        <x-icon variation="right" name="uiRight" label=">" :size="null" />
    </el-button>

    <!-- Edit Details popup -->
    <el-dialog v-model="dialogVisible" title="Edit Details"
        class="user-edit-details-dialog el-dialog--borderless">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title-divide>Edit Details</x-title-divide>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <!-- User: Details (modified from create-contact-form.vue) -->
            <template v-if="isUser()">
                <x-title size="5" mb="sm">User Details</x-title>
                <x-form-grid>
                    <x-grid-cell>
                        <x-form-control for="input_name" :error="form.errors.name" label="Full Name" required>
                            <el-input :disabled="readOnly" id="input_name" v-model="form.name" placeholder="Name..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_reference" :error="form.errors.reference" label="Reference">
                            <el-input :disabled="readOnly" id="input_reference" v-model="form.reference" placeholder="Reference..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_occupation" :error="form.errors.occupation" label="Occupation">
                            <el-input :disabled="readOnly" id="input_occupation" v-model="form.occupation" placeholder="Occupation..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_website" :error="form.errors.website" label="Website">
                            <el-input :disabled="readOnly" id="input_website" v-model="form.website" placeholder="Website..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_phone" :error="form.errors.phone" label="Phone">
                            <el-input :disabled="readOnly" id="input_phone" v-model="form.phone" placeholder="Phone..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_email" :error="form.errors.email" label="Email">
                            <el-input :disabled="readOnly" id="input_email" v-model="form.email" placeholder="Email..." />
                        </x-form-control>
                    </x-grid-cell>
                </x-form-grid>
            </template>

            <!-- Administration -->
            <x-space height="2xl" />
            <x-title size="5" mb="sm">Administration</x-title>
            <x-form-grid>
                <x-grid-cell span="1 md:2">
                    <x-form-control for="input_comments" :error="form.errors.comments" label="Comments">
                        <el-input
                            :disabled="readOnly"
                            type="textarea"
                            autosize
                            id="input_comments"
                            v-model="form.comments"
                            placeholder="Comments..."
                        />
                    </x-form-control>
                </x-grid-cell>
            </x-form-grid>


            <!-- Form Controls -->
            <x-row wrap="wrap" mt="2xl" gap="normal">
                <el-button id="form-submit" type="primary" variation="small" @click="handleSubmit">Update Details</el-button>
                <x-button ml="md:auto" variation="default small" @click="dialogVisible = false">Cancel</x-button>
            </x-row>

        </x-form-container>

    </el-dialog>

</template>

<script>
    // Action to create or edit a user Note
    import { ElNotification } from "element-plus";
    import axios from "axios";
    import { sendInertiaForm } from "~/utils/inertia-utils";

    import inputConfigs from "~/config/inputs-config";

    export default {
        props: {
            user: {
                type: Object, // UserData DTO
                default: null,
            },
            variation: {
                type: String,
                default: "default", // default, primary
            },

            // Options to pass through to the sendInertiaForm() request
            submitOptions: {
                type: Object,
                default: {},
            },
        },

        components: {
            //
        },

        data() {
            return {
                // Admin
                admin: this.$page.props.auth.user,

                // State
                dialogVisible: false,
                formLoading: false,
                formMessage: null,
                formError: null,

                // Form data
                form: this.$inertia.form({
                    // Setup
                    user_id: this.user.id,
                    contact_type: 'user', // @debt type from backend
                    contact_action: 'details',

                    // Setup - Administration
                    admin_id: this.user.admin_id,
                    date_added: this.user.date_added,

                    // Contact Details (Shared)
                    name: this.user.name,
                    reference: this.user.reference,
                    phone: this.user.phone,
                    email: this.user.email,
                    website: this.user.website,
                    address: this.user.address,
                    country: this.user.country,
                    type: this.user.type,
                    type_other: this.user.type_other,
                    comments: this.user.comments,

                    // User Details
                    occupation: this.user.occupation,
                }),
            };
        },

        computed: {
            ...inputConfigs,
            readOnly() {
                return false;
            },
        },

        methods: {
            isEditing() {
                return true;
            },
            isUser() {
                return true;
            },
            handleSubmit() {
                const vm = this;
                sendInertiaForm(vm, {
                    route: "api.users.update",
                    ...this.submitOptions,
                });
            },
            submitOnCtrlEnter(e) {
                if (this.dialogVisible && e.keyCode === 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted: function() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>