/* Project / Auth */
// Auth CSS for the project

.auth-cover {
    position: absolute;
    inset: 0;
}
.auth-cover > .style-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.auth-cover > .style-cover {
    position: absolute;
    inset: 0;
    background-color: v('colors.alpha', rgba(black, 0.1));
}

.auth-form {
    display:  block;
    width:  80%;
    max-width: 480px;
    text-align: left;
    margin:  auto;
    background:  white;
    border: solid 1px v('colors.gray.border', slategray);
    border-radius: 12px;
    padding: 3.0rem;
}
.auth-form .web-logo {
    display: inline-block;
}
.auth-form .form-input {
    text-align: left;
}
@include design-breakpoint-down('sm') {
    .auth-form {
        width: 100%;
    }
}
