/* Project / Content */
// Content CSS for the project

// Resources Page
.resource-filters-form {
    .form-control--checkbox {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 0;
    }
    input[type=checkbox].form-input {
        cursor: pointer;
        margin: 0;
    }
    .form-control__label {
        cursor: pointer;
        padding-left: 1rem;
        margin-right: auto;
        margin-bottom: 0;
    }
    .form-control__success, .form-control__error {
        display: none;
    }
}