/* Project / Defaults */
// Default opinionated styling and theming for the project

:where(a) {
    color: v('colors.primary.normal', slateblue);
    text-decoration: underline;
}

// :where(p) {
//     margin-bottom: v('type.spacing.normal', 1em);
// }

:where(h1, h2, h3, h4, h5, h6) {
    font-weight: v('type.weight.title', 'type.weight.bold', bold);
}

:where(strong, b) {
    font-weight: v('type.weight.bold', bold);
}

:where(hr) {
    border-style: solid;
    border-color: v('colors.gray.border', 'colors.gray.light', slategray);
}

:where(img,video) {
    height: auto;
    max-width: 100%;
}
