/* Project / Demo */
// Custom CSS for the demo pages

// Color
.demo-color > .demo-color__bg {
    width: 10rem;
    height: 4rem;
    border-radius: 4px;
    border: solid 1px v('colors.gray.border');
}
.demo-color > .demo-color__range {
    display: inline;
    margin-right: 0.5rem;
}
.demo-color > .demo-color__value {
    display: inline;
}
.demo-color > .demo-color__tags {
    display: block;
}

.demo-color--base-Base > .demo-color__bg {
    background-color: val('colors.base');
}
.demo-color--base-Base > .demo-color__value:after {
    content: '#{val('colors.base')}';
}
.demo-color--base-Reverse > .demo-color__bg {
    background-color: val('colors.reverse');
}
.demo-color--base-Reverse > .demo-color__value:after {
    content: '#{val('colors.reverse')}';
}
.demo-color--base-Alpha > .demo-color__bg {
    background-color: val('colors.alpha');
}
.demo-color--base-Alpha > .demo-color__value:after {
    content: 'rgba';// '#{val('colors.alpha')}';
}
.demo-color--base-Shadow > .demo-color__bg {
    background-color: val('colors.shadow');
}
.demo-color--base-Shadow > .demo-color__value:after {
    content: 'rgba';//'#{val('colors.shadow')}';
}
.demo-color--base-Gradient > .demo-color__bg {
    background-color: val('colors.gradient');
}
.demo-color--base-Gradient > .demo-color__value:after {
    // content: '#{val('colors.gradient')}';
}

.demo-color--primary-50 > .demo-color__bg {
    background-color: val('colors.primary.50');
}
.demo-color--primary-50 > .demo-color__value:after {
    content: '#{val('colors.primary.50')}';
}
.demo-color--primary-100 > .demo-color__bg {
    background-color: val('colors.primary.100');
}
.demo-color--primary-100 > .demo-color__value:after {
    content: '#{val('colors.primary.100')}';
}
.demo-color--primary-200 > .demo-color__bg {
    background-color: val('colors.primary.200');
}
.demo-color--primary-200 > .demo-color__value:after {
    content: '#{val('colors.primary.200')}';
}
.demo-color--primary-300 > .demo-color__bg {
    background-color: val('colors.primary.300');
}
.demo-color--primary-300 > .demo-color__value:after {
    content: '#{val('colors.primary.300')}';
}
.demo-color--primary-400 > .demo-color__bg {
    background-color: val('colors.primary.400');
}
.demo-color--primary-400 > .demo-color__value:after {
    content: '#{val('colors.primary.400')}';
}
.demo-color--primary-500 > .demo-color__bg {
    background-color: val('colors.primary.500');
}
.demo-color--primary-500 > .demo-color__value:after {
    content: '#{val('colors.primary.500')}';
}
.demo-color--primary-600 > .demo-color__bg {
    background-color: val('colors.primary.600');
}
.demo-color--primary-600 > .demo-color__value:after {
    content: '#{val('colors.primary.600')}';
}
.demo-color--primary-700 > .demo-color__bg {
    background-color: val('colors.primary.700');
}
.demo-color--primary-700 > .demo-color__value:after {
    content: '#{val('colors.primary.700')}';
}
.demo-color--primary-800 > .demo-color__bg {
    background-color: val('colors.primary.800');
}
.demo-color--primary-800 > .demo-color__value:after {
    content: '#{val('colors.primary.800')}';
}
.demo-color--primary-900 > .demo-color__bg {
    background-color: val('colors.primary.900');
}
.demo-color--primary-900 > .demo-color__value:after {
    content: '#{val('colors.primary.900')}';
}

.demo-color--gray-50 > .demo-color__bg {
    background-color: val('colors.gray.50');
}
.demo-color--gray-50 > .demo-color__value:after {
    content: '#{val('colors.gray.50')}';
}
.demo-color--gray-100 > .demo-color__bg {
    background-color: val('colors.gray.100');
}
.demo-color--gray-100 > .demo-color__value:after {
    content: '#{val('colors.gray.100')}';
}
.demo-color--gray-200 > .demo-color__bg {
    background-color: val('colors.gray.200');
}
.demo-color--gray-200 > .demo-color__value:after {
    content: '#{val('colors.gray.200')}';
}
.demo-color--gray-300 > .demo-color__bg {
    background-color: val('colors.gray.300');
}
.demo-color--gray-300 > .demo-color__value:after {
    content: '#{val('colors.gray.300')}';
}
.demo-color--gray-400 > .demo-color__bg {
    background-color: val('colors.gray.400');
}
.demo-color--gray-400 > .demo-color__value:after {
    content: '#{val('colors.gray.400')}';
}
.demo-color--gray-500 > .demo-color__bg {
    background-color: val('colors.gray.500');
}
.demo-color--gray-500 > .demo-color__value:after {
    content: '#{val('colors.gray.500')}';
}
.demo-color--gray-600 > .demo-color__bg {
    background-color: val('colors.gray.600');
}
.demo-color--gray-600 > .demo-color__value:after {
    content: '#{val('colors.gray.600')}';
}
.demo-color--gray-700 > .demo-color__bg {
    background-color: val('colors.gray.700');
}
.demo-color--gray-700 > .demo-color__value:after {
    content: '#{val('colors.gray.700')}';
}
.demo-color--gray-800 > .demo-color__bg {
    background-color: val('colors.gray.800');
}
.demo-color--gray-800 > .demo-color__value:after {
    content: '#{val('colors.gray.800')}';
}
.demo-color--gray-900 > .demo-color__bg {
    background-color: val('colors.gray.900');
}
.demo-color--gray-900 > .demo-color__value:after {
    content: '#{val('colors.gray.900')}';
}

// Font Size
.demo-font-size > .style-adjunct {
    display: inline-block;
    margin-left: 0.5rem;
}
.demo-font-size--2xl > .style-adjunct:after {
    content: '#{val('type.size.2xl')}';
}
.demo-font-size--xl > .style-adjunct:after {
    content: '#{val('type.size.xl')}';
}
.demo-font-size--lg > .style-adjunct:after {
    content: '#{val('type.size.lg')}';
}
.demo-font-size--normal > .style-adjunct:after {
    content: '#{val('type.size.normal')}';
}
.demo-font-size--sm > .style-adjunct:after {
    content: '#{val('type.size.sm')}';
}
.demo-font-size--xs > .style-adjunct:after {
    content: '#{val('type.size.xs')}';
}
.demo-font-size--2xs > .style-adjunct:after {
    content: '#{val('type.size.2xs')}';
}

// Title
.demo-title > .style-adjunct {
    display: inline-block;
    margin-left: 0.5rem;
}
.demo-title--1 > .style-adjunct:after {
    content: '#{val('type.size.title-1')}';
}
.demo-title--2 > .style-adjunct:after {
    content: '#{val('type.size.title-2')}';
}
.demo-title--3 > .style-adjunct:after {
    content: '#{val('type.size.title-3')}';
}
.demo-title--4 > .style-adjunct:after {
    content: '#{val('type.size.title-4')}';
}
.demo-title--5 > .style-adjunct:after {
    content: '#{val('type.size.title-5')}';
}
.demo-title--6 > .style-adjunct:after {
    content: '#{val('type.size.title-6')}';
}

