/* Project / Fonts */
// Fonts loaded via @import and @font-face

// Work Sans (Google Fonts)
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

// Montserrat
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

// Helvetica Now
// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-Light.eot');
//     src: local('Helvetica Now Light'), local('/assets/fonts/HelveticaNow/HelveticaNowText-Light'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Light.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Light.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Light.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
    
// }

// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-LightItalic.eot');
//     src: local('Helvetica Now Light Italic'), local('/assets/fonts/HelveticaNow/HelveticaNowText-LightItalic'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-LightItalic.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-LightItalic.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-LightItalic.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
    
// }

// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-Regular.eot');
//     src: local('Helvetica Now Regular'), local('/assets/fonts/HelveticaNow/HelveticaNowText-Regular'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Regular.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Regular.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Regular.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
    
// }

// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-RegularItalic.eot');
//     src: local('Helvetica Now Regular Italic'), local('/assets/fonts/HelveticaNow/HelveticaNowText-RegularItalic'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-RegularItalic.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-RegularItalic.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-RegularItalic.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-RegularItalic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
    
// }

// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-Medium.eot');
//     src: local('Helvetica Now Medium'), local('/assets/fonts/HelveticaNow/HelveticaNowText-Medium'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Medium.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Medium.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Medium.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
    
// }

// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-MediumItalic.eot');
//     src: local('Helvetica Now Medium Italic'), local('/assets/fonts/HelveticaNow/HelveticaNowText-MediumItalic'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-MediumItalic.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-MediumItalic.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-MediumItalic.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-MediumItalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
    
// }

// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-Bold.eot');
//     src: local('Helvetica Now Bold'), local('/assets/fonts/HelveticaNow/HelveticaNowText-Bold'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Bold.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Bold.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Bold.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-Bold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
    
// }

// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('/assets/fonts/HelveticaNow/HelveticaNowText-BoldItalic.eot');
//     src: local('Helvetica Now Bold Italic'), local('/assets/fonts/HelveticaNow/HelveticaNowText-BoldItalic'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-BoldItalic.woff2') format('woff2'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-BoldItalic.woff') format('woff'),
//         url('/assets/fonts/HelveticaNow/HelveticaNowText-BoldItalic.ttf') format('truetype');
//     font-weight: 600;
//     font-style: italic;
    
// }
