/* Project */
// Custom CSS for this project

// Logo
.web-logo, .app-logo, .style-logo {
    display: inline-block;
}
:where(.web-logo > .style-logo) {
    width: auto;
    height: 3rem;
}
:where(.app-logo > .style-logo) {
    width: auto;
    height: 2.5rem;
}

// Container refinements
.layout-container:not(.layout-container--fluid) {
    // For a website we recommend 1260px
    max-width: 1260px;
}
.app-root .layout-container:not(.layout-container--fluid) {
    // For a web app we recommend 1480px
    max-width: 1480px;
    padding-left: v('sizes.size.normal');
    padding-right: v('sizes.size.normal');
}

@include design-breakpoint-down('sm') {
    .layout-container {
        padding-left: v('sizes.size.sm');
        padding-right: v('sizes.size.sm');
    }
}

// General
.cms-content li {
    list-style-type: disc;
}

.content-video {
    width: 100%;
    padding-bottom: 50%;
    position: relative;
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

// Hide Captcha
.grecaptcha-badge {
    visibility: hidden;
}

// Custom styling for grids where the grid-columns, and child display-cards, should grow to full height
.grid-cards-grow {
    //
}
.grid-cards-grow > .grid-col {
    display: flex;
}
.grid-cards-grow > .grid-col > .display-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
