/* Project / Support */
// Support helpers and utilities for the project

// General Helpders
.overflow-x-hidden {
    overflow-x: hidden;
}

// Text Helpers
.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Flex stack, row, and position helpers
.flex-stack {
    display: flex;
    flex-direction: column;
    gap: v('sizes.size.small', 1rem);
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: v('sizes.size.small', 1rem);
}
.flex-center {
    justify-content: center;
    align-content: center;
}
.flex-stretch {
    flex: 1 0 0%;
}

// Sample markup to create a header and centered body, such as a login form
// <div class="flex-stack display-fullscreen" style="background-color: #F0F0F0">
//     {{-- Header --}}
//     <div class="flex-row">
//         <div>LOGO</div>
//         <div class="flex-row">Menu Items...</div>
//         <div class="ml--auto">More</div>
//     </div>
//     {{-- Centered Body --}}
//     <div class="flex-stretch flex-center" style="background-color: #E0E0E0">
//         <div class="width--10/12 md:width--8/12 lg:width--6/12" style="background-color: #D0D0D0; max-width: 800px;">
//             BODY
//             <br>
//             ...
//         </div>
//     </div>
// </div>
