<template>

    <!-- Submenu Links -->
    <template v-for="routeKey in data.routes" :key="routeKey">
        <x-box class="app-navigation-submenu" v-if="showRoute(routeKey)">
            <x-link
                :href="route(routeKey, params)"
                :active="routeKey == activeSubmenuRouteKey"
                variation="plain"
                >
                <x-row gap="xs" alignItems="center">
                    <x-icon v-if="routesConfig[routeKey]?.icon"
                        :name="routesConfig[routeKey]?.icon"
                        :label="routesConfig[routeKey]?.name || routeKey"
                        :size="null" />
                    <x-title size="6">{{ routesConfig[routeKey]?.name || routeKey }}</x-title>
                </x-row>
            </x-link>
        </x-box>
    </template>

</template>

<script>
    // Render a default navigation submenu
    // Takes a list of routes from navigation-config, and matches them to named routes in routes-config
    
    // Navigation config
    import routesConfig from "~/config/routes-config.js";

    export default {
        props: {
            data: Object,
            params: {
                type: Object,
                defaut: {},
            },
            // Active route, pulled from Project layout
            activeRoute: String,
            activeSectionRouteKey: String,
            activeSubmenuRouteKey: String,
        },

        data: () => ({
            routesConfig: routesConfig,
        }),

        methods: {
            showRoute(routeKey) {
                let route = this.routesConfig[routeKey];
                if (! route) {
                    console.error("Submenu Error: A route for they key '" + routeKey + "' could not be found");
                    return;
                }
                if (route.visible == undefined) {
                    return true;
                }
                if (route.visible instanceof Function) {
                    let vm = this;
                    return route.visible(vm);
                }
                if (route.visible) {
                    return true;
                }
                return false;
            },
        },

        mounted: function() {
            //
        }
    };
</script>