<!-- Auth / Manage Profile -->
<template>

    <x-display-card>

        <x-row alignItems="center" gap="sm" wrap="wrap">
            <x-title :size="4">Your Profile</x-title>
            <x-pill v-if="isAdmin()" info>Staff Access</x-pill>
        </x-row>

        <x-space height="xl" />
        <x-grid columns="1 sm:2 lg:4">
            <x-label-value label="Name">{{ auth.name ?? "-" }}</x-label-value>
            <x-label-value label="Company">{{ auth.company ?? "-" }}</x-label-value>
            <x-label-value label="Email">{{ auth.email ?? "-" }}</x-label-value>
            <x-label-value label="Phone">{{ auth.phone ?? "-" }}</x-label-value>
            <x-label-value label="Role">{{ auth.role ?? "-" }}</x-label-value>
            <x-label-value label="Added" :adjunct="auth.addedAdjunct ?? ''">{{ auth.addedLabel ?? "-" }}</x-label-value>
        </x-grid>

        <x-space height="xl" />
        <x-row wrap="wrap" gap="sm">
            <auth-update-details-action :auth="auth" variation="primary" />
            <auth-update-password-action :auth="auth" variation="primary" />
            <x-button :href="logoutUrl" :inertia="false" variation="default small" ml="auto">Logout</x-button>
        </x-row>

    </x-display-card>

</template>

<script>
    // Show and manage your profile
    import AuthUpdateDetailsAction from "~/components/auth/actions/auth-update-details-action.vue";
    import AuthUpdatePasswordAction from "~/components/auth/actions/auth-update-password-action.vue";

    export default {
        props: {
            // The user or staff to show the profile for
            auth: {
                type: Object, // AuthData DTO, for either User or Admin model
                default: null,
            },
        },

        data() {
            return {
                //
            };
        },

        components: {
            AuthUpdateDetailsAction,
            AuthUpdatePasswordAction,
        },

        computed: {
            logoutUrl() {
                // As we share this layout between Users and Staff, define the associated logout url
                return this.isAdmin()
                    ? route('staff.logout')
                    : route('logout');
            },
        },

        methods: {
            isAdmin() {
                // We are logged in as an admin, if an admin is passed through via HandleInertiaRequests.php
                return this.auth.permissions.isAdmin ?? false;
            },
        },

        mounted: function() {
            console.log('auth', this.auth);
        },
    };
</script>