<template>
    <!-- Organisation Card -->
    <x-inner-card class="organisation-card" :organisation-id="organisation.id" :organisation-status="organisation.status" m="none">
        <x-title size="5" mb="2xs" class="overflow-ellipsis">{{ organisation.name }}</x-title>
        <x-label color="gray.placeholder">Organisation #{{ organisation.id }}</x-label>
        <x-stack my="sm">
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Code: {{ organisation.reference ?? '-' }}</x-text>
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Projects: N/A</x-text>
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Users: N/A</x-text>
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Added: {{ organisation.dateAddedLabel }} <x-adjunct as="span">{{ organisation.dateAddedDiff }}</x-adjunct></x-text>
        </x-stack>
        <x-row v-if="actionable" gap="sm" mt="sm" mb="normal">
            <x-button :href="route('organisations.show', { organisation: organisation.id })" variation="primary small" icon="uiRight" iconLabel=">" :iconRight="true">View Organisation</x-button>
        </x-row>
    </x-inner-card>
</template>

<script>
    // A card that represents an Organisation, to go into an Organisation List or similar
    export default {
        props: {
            organisation: Object, // OrganisationData DTO
            actionable: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                //
            };
        },

        computed: {
            //
        },

        mounted() {
            // console.log('data', this.data);
        },
    };
</script>

<style lang="scss">
    .organisation-card {
        position: relative;
    }
</style>