<template>
    <!-- Organisation List (wrapped in display-card) -->
    <x-display-card class="organisation-list">

        <!-- Title -->
        <x-title-divide size="4" mb="normal">{{ title }}</x-title-divide>

        <!-- Search -->
        <list-search v-if="searchable" v-model="organisationsParams" :result="organisationsResult" placeholder="Quick Search..." mb="normal" />

        <!-- List -->
        <x-stack v-loading="organisationsLoading" gap="normal">
            <template v-if="organisations.length" v-for="organisation in organisations" :key="organisation.id">
                <organisation-card :organisation="organisation" :actionable="actionable" />
                <x-divide my="none" />
            </template>
            <x-caption v-else>No matching Organisations...</x-caption>
        </x-stack>

        <!-- Paging -->
        <x-space height="normal" />
        <list-paging v-model="organisationsParams" :result="organisationsResult" mt="auto" />

    </x-display-card>
</template>

<script>
    // A list of Organisation cards, pulled from the api.organisations.list API route with paging.
    import axios from "axios";
    import { ElNotification } from 'element-plus'

    import OrganisationCard from "~/components/contacts/organisation-card.vue";
    import ListSearch from "~/components/shared/list-search.vue";
    import ListPaging from "~/components/shared/list-paging.vue";

    export default {
        props: {
            initialResult: {
                // Optionally pass in initial results to skip the first load (should match the route api.organisations.list)
                // This should be a Paginated DisplayOrganisationData Collection, keyed by 'organisations' (to match api.organisations.list route)
                type: Object,
                default: null,
            },
            searchable: {
                type: Boolean,
                default: true,
            },
            actionable: {
                type: Boolean,
                default: true,
            },
            limit: {
                type: Number,
                default: 3,
            },
            status: {
                // Note, this should be strictly types from the backend OrganisationStatus enum
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: 'Organisations',
            },
        },

        data() {
            return {
                // Search & Paging
                organisationsLoading: false,
                organisationsResult: this.initialResult ? this.initialResult.organisations : null,
                organisations: this.initialResult ? this.initialResult.organisations.data : [],
                organisationsLastPage: this.initialResult ? this.initialResult.organisations.last_page : null,
                organisationsParams: {
                    limit: this.limit,
                    status: this.status,
                    page: 1,
                    keyword: null,
                },
                organisationsParamsOld: null,
            };
        },

        components: {
            OrganisationCard,
            ListSearch,
            ListPaging,
        },

        watch: {
            organisationsParams: {
                handler(newValue) {
                    if (this.organisationsParamsOld && newValue.keyword !== this.organisationsParamsOld.keyword) {
                        // Reset the page if we are searching via keyword input
                        newValue.page = 1;
                    }
                    this.fetchOrganisations();
                },
                deep: true,
            },
        },

        methods: {
            fetchOrganisations() {
                this.organisationsLoading = true;
                this.organisationsParamsOld = { ...this.organisationsParams };

                let route = this.$page.props.auth.admin
                    ? 'api.organisations.list'
                    : 'api.app.organisations.list';

                axios
                    .get(this.route(route, this.organisationsParams))
                    .then((res) => {
                        // console.log('Fetched Organisations', res.data.organisations);
                        this.organisationsResult = res.data.organisations;
                        this.organisations = res.data.organisations.data;
                        this.organisationsLastPage = res.data.organisations.last_page;
                        this.organisationsLoading = false;
                    })
                    .catch((err) => {
                        // console.log('Error fetching Organisations', err);
                        ElNotification({
                            title: "Error Loading Organisations",
                            message: "An error occured loading the Organisations.",
                            type: "error",
                        });
                    });
            },
        },

        mounted() {
            // Fetch Organisations only if they have not been passed through to us
            if (!this.organisationsResult) {
                this.fetchOrganisations();
            }
        },
    };
</script>