<template>
    <!-- User Card -->
    <x-inner-card class="user-card" :user-id="user.id" :user-status="user.status" m="none">
        <x-title size="5" mb="2xs" class="overflow-ellipsis">{{ user.name }}</x-title>
        <x-label color="gray.placeholder">
            User #{{ user.id }}
            <span>(Login Access)</span>
        </x-label>
        <x-stack my="sm">
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Organisations: 3 Total</x-text>
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Email: {{ user.email ?? '-' }}</x-text>
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Phone: {{ user.phone ?? '-' }}</x-text>
            <x-text size="sm" color="gray.dark" class="overflow-ellipsis">Added: {{ user.dateAddedLabel }} <x-adjunct as="span">{{ user.dateAddedDiff }}</x-adjunct></x-text>
        </x-stack>
        <x-row gap="sm" mt="sm" mb="normal">
            <x-button :href="route('users.show', { user: user.id })" variation="primary small" icon="uiRight" iconLabel=">" :iconRight="true">View User</x-button>
        </x-row>
    </x-inner-card>
</template>

<script>
    // A card that represents a User, to go into a User List or similar
    export default {
        props: {
            user: Object, // UserData DTO
        },

        data() {
            return {
                //
            };
        },

        computed: {
            //
        },

        mounted() {
            // console.log('data', this.data);
        },
    };
</script>

<style lang="scss">
    .user-card {
        position: relative;
    }
</style>