<template>

    <!-- Update Password button -->
    <el-button :type="variation" variation="small" @click="dialogVisible = true" class="auth-update-password-action">
        <span>Update Password</span>
        <x-icon variation="right" name="uiRight" label=">" :size="null" />
    </el-button>

    <!-- Update Password popup -->
    <el-dialog v-model="dialogVisible" title="Update Password"
        class="auth-update-password-dialog el-dialog--borderless">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title :size="4">Update Password</x-title>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <x-title size="6" mb="tiny">Current Password</x-title>
            <x-caption mb="sm">Enter your current password to confirm your identity.</x-caption>
            <x-grid columns="1 md:2" gapY="none">
                <x-grid-cell>
                    <x-form-control for="input_password_current" :error="form.errors.password_current" label="Current Password" required>
                        <el-input id="input_password_current" v-model="form.password_current" type="password" />
                    </x-form-control>
                </x-grid-cell>
            </x-grid>

            <x-space height="sm" />
            <x-title size="6" mb="tiny">New Password</x-title>
            <x-caption mb="sm">Enter and confirm your new password.</x-caption>
            <x-grid columns="1 md:2" gapY="none">
                <x-form-control for="input_password_new" :error="form.errors.password_new" label="New Password" required>
                    <el-input id="input_password_new" v-model="form.password_new" type="password" />
                </x-form-control>
                <x-form-control for="input_password_confirm" :error="form.errors.password_confirm" label="Confirm Password" required>
                    <el-input id="input_password_confirm" v-model="form.password_confirm" type="password" />
                </x-form-control>
            </x-grid>

            <!-- Form Controls -->
            <x-space height="normal" />
            <x-flex>
                <el-button type="primary" variation="small" @click="handleSubmit">Update Password</el-button>
                <x-box ml="auto">
                    <el-button variation="default small" @click="dialogVisible = false">Cancel</el-button>
                </x-box>
            </x-flex>

        </x-form-container>

    </el-dialog>

</template>

<script>
    // Action to update the password for an auth user or admin
    import { ElNotification } from "element-plus";
    import inputConfigs from "~/config/inputs-config";
    // import SurvivorAliases from "./survivor-aliases.vue";

    import axios from "axios";
    import { sendInertiaForm } from "~/utils/inertia-utils";

    export default {
        props: {
            // The user or staff to update the password for
            auth: {
                type: Object, // AuthData DTO, for either User or Admin model
                default: null,
            },
            variation: {
                type: String,
                default: "default", // default, primary
            },
        },

        components: {
            //
        },

        data() {
            if (! this.auth) {
                console.error('Either a User or Admin needs to be passed in to update their password');
            }

            return {
                // State
                dialogVisible: false,
                formLoading: false,

                // Form data
                form: this.$inertia.form({
                    class: this.auth.class,
                    id: this.auth.id,
                    password_current: null,
                    password_new: null,
                    password_confirm: null,
                }),
                formMessage: null,
                formError: null,
            };
        },

        computed: {
            ...inputConfigs,
        },

        methods: {
            handleSubmit() {
                const vm = this;
                let route = 'api.auth.update-password';
                sendInertiaForm(vm, {
                    route: route,
                });
            },
            submitOnCtrlEnter(e) {
                if (this.dialogVisible && e.keyCode === 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>