<template>

    <!-- Update Details button -->
    <el-button :type="variation" variation="small" @click="dialogVisible = true" class="auth-update-password-action">
        <span>Edit Details</span>
        <x-icon variation="right" name="uiRight" label=">" :size="null" />
    </el-button>

    <!-- Update Details popup -->
    <el-dialog v-model="dialogVisible" title="Edit Details"
        class="auth-update-password-dialog el-dialog--borderless">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title :size="4">Update Your Details</x-title>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <x-title size="6" mb="tiny">Your Details</x-title>
            <x-caption mb="sm">Enter your new details below. You will need to ask us to update your email address.</x-caption>
            <x-grid columns="1 md:2" gapY="none">
                <x-form-control for="input_name" :error="form.errors.name" label="Your Name..." required>
                    <el-input id="input_name" v-model="form.name"/>
                </x-form-control>
                <x-form-control for="input_company" :error="form.errors.company" label="Your Company...">
                    <el-input id="input_company" v-model="form.company"/>
                </x-form-control>
                <x-form-control for="input_email" :error="form.errors.email" label="Your Email..." required>
                    <el-input disabled id="input_email" v-model="form.email"/>
                </x-form-control>
                <x-form-control for="input_phone" :error="form.errors.phone" label="Your Phone...">
                    <el-input id="input_phone" v-model="form.phone"/>
                </x-form-control>
            </x-grid>

            <!-- Form Controls -->
            <x-space height="normal" />
            <x-flex>
                <el-button type="primary" variation="small" @click="handleSubmit">Update Details</el-button>
                <x-box ml="auto">
                    <el-button variation="default small" @click="dialogVisible = false">Cancel</el-button>
                </x-box>
            </x-flex>

        </x-form-container>

    </el-dialog>

</template>

<script>
    // Action to update the details for an auth user or admin
    import { ElNotification } from "element-plus";
    import inputConfigs from "~/config/inputs-config";
    // import SurvivorAliases from "./survivor-aliases.vue";

    import axios from "axios";
    import { sendInertiaForm } from "~/utils/inertia-utils";

    export default {
        props: {
            // The user or staff to update the password for
            auth: {
                type: Object, // AuthData DTO, for either User or Admin model
                default: null,
            },
            variation: {
                type: String,
                default: "default", // default, primary
            },
        },

        components: {
            //
        },

        data() {
            if (! this.auth) {
                console.error('Either a User or Admin needs to be passed in to update their details');
            }

            return {
                // State
                dialogVisible: false,
                formLoading: false,

                // Form data
                form: this.$inertia.form({
                    class: this.auth.class,
                    id: this.auth.id,
                    name: this.auth.name,
                    company: this.auth.company,
                    email: this.auth.email,
                    phone: this.auth.phone,
                }),
                formMessage: null,
                formError: null,
            };
        },

        computed: {
            ...inputConfigs,
        },

        methods: {
            handleSubmit() {
                const vm = this;
                let route = 'api.auth.update-details';
                sendInertiaForm(vm, {
                    route: route,
                });
            },
            submitOnCtrlEnter(e) {
                if (this.dialogVisible && e.keyCode === 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>