<template>
    <x-page>
        
        <!-- Color -->
        <x-title size="4">Color</x-title>
        <x-adjunct mb="sm">map-color.scss</x-adjunct>

        <x-subtitle mb="xs">Primary:</x-subtitle>
        <x-row gap="xs" wrap="wrap">
            <x-box v-for="(label, key) in getColorRange()" :class="'demo-color demo-color--primary-' + key">
                <div class="demo-color__bg"></div>
                <x-text class="demo-color__range" size="sm">{{ key }}</x-text>
                <x-adjunct class="demo-color__value" />
                <x-adjunct class="demo-color__tags" color="gray.dark">{{ label }}</x-adjunct>
            </x-box>
        </x-row>

        <x-space size="sm" />
        <x-subtitle mb="xs">Gray:</x-subtitle>
        <x-row gap="xs" wrap="wrap">
            <x-box v-for="(label, key) in getColorRange()" :class="'demo-color demo-color--gray-' + key">
                <div class="demo-color__bg"></div>
                <x-text class="demo-color__range" size="sm">{{ key }}</x-text>
                <x-adjunct class="demo-color__value" />
                <x-adjunct class="demo-color__tags" color="gray.dark">{{ label }}</x-adjunct>
            </x-box>
        </x-row>

        <x-space size="sm" />
        <x-subtitle mb="xs">Base:</x-subtitle>
        <x-row gap="xs" wrap="wrap">
            <x-box v-for="(label, key) in getBaseColorRange()" :class="'demo-color demo-color--base-' + key">
                <div class="demo-color__bg"></div>
                <x-text class="demo-color__range" size="sm">{{ key }}</x-text>
                <x-adjunct class="demo-color__value" />
                <x-adjunct class="demo-color__tags" color="gray.dark">{{ label }}</x-adjunct>
            </x-box>
        </x-row>

        <!-- Type -->
        <x-divide my="sm"/>
        <x-title size="4">Type</x-title>
        <x-adjunct mb="sm">map-type.scss, styles-typography.scss</x-adjunct>

        <x-grid columns="1 md:2" gap="sm">
            <x-grid-cell>
                <x-subtitle mb="xs">Font Size:</x-subtitle>
                <x-stack gap="xs">
                    <x-text v-for="value in getFontSizeRange()" :class="'demo-font-size demo-font-size--' + value" :size="value">Font Size @{{ value }}<x-adjunct /></x-text>
                </x-stack>
                <x-space size="sm" />
                <x-subtitle mb="xs">Common:</x-subtitle>
                <x-stack gap="xs">
                    <x-subtitle>Subtitle</x-subtitle>
                    <x-label>Label</x-label>
                    <x-adjunct>Adjunct</x-adjunct>
                    <x-caption>Caption</x-caption>
                    <x-text bold>Bold</x-text>
                    <x-text emphasis>Emphasis</x-text>
                </x-stack>
            </x-grid-cell>
            <x-grid-cell>
                <x-subtitle mb="xs">Titles:</x-subtitle>
                <x-stack gap="xs">
                    <x-title v-for="value in getTitleRange()" :class="'demo-title demo-title--' + value" :size="value">Title {{ value }}<x-adjunct /></x-title>
                </x-stack>
            </x-grid-cell>
        </x-grid>

        <!-- Buttons -->
        <x-divide my="sm"/>
        <x-title size="4">Buttons</x-title>
        <x-adjunct mb="sm">style-button.scss, map-sizes.scss, map-common.scss</x-adjunct>

        <x-grid columns="1 md:2" gap="sm">
            <x-grid-cell>
                <x-subtitle mb="xs">Default:</x-subtitle>
                <x-stack gap="xs">
                    <div><x-button>Button</x-button></div>
                    <div><el-button>El Button</el-button></div>
                    <div><x-button icon="uiPlus" iconLabel="+">Icon Left</x-button></div>
                    <div><x-button icon="uiRight" :iconRight="true" iconLabel=">">Icon Right</x-button></div>
                    <div><el-button>El Button Icon <x-icon variation="right" name="uiRight" label=">" :size="null" /></el-button></div>
                    <div><x-button variation="outline">Outline</x-button></div>
                    <div><el-button variation="outline">El Outline</el-button></div>
                    <div><x-button variation="text">Text</x-button></div>
                    <div><x-button variation="small">Small</x-button></div>
                    <div><x-button variation="outline small">Outline + Small</x-button></div>
                    <div><el-button variation="outline small">El Outline + Small</el-button></div>
                </x-stack>
            </x-grid-cell>
            <x-grid-cell>
                <x-subtitle mb="xs">Primary:</x-subtitle>
                <x-stack gap="xs">
                    <div><x-button variation="primary">Button</x-button></div>
                    <div><el-button type="primary">El Button</el-button></div>
                    <div><x-button variation="primary" icon="uiPlus" iconLabel="+">Icon Left</x-button></div>
                    <div><x-button variation="primary" icon="uiRight" :iconRight="true" iconLabel=">">Icon Right</x-button></div>
                    <div><el-button type="primary">El Button Icon <x-icon variation="right" name="uiRight" label=">" :size="null" /></el-button></div>
                    <div><x-button variation="primary outline">Outline</x-button></div>
                    <div><el-button type="primary" variation="outline">El Outline</el-button></div>
                    <div><x-button variation="primary text">Text</x-button></div>
                    <div><x-button variation="primary small">Small</x-button></div>
                    <div><x-button variation="primary outline small">Outline + Small</x-button></div>
                    <div><el-button type="primary" variation="outline small">El Outline + Small</el-button></div>
                </x-stack>
            </x-grid-cell>
        </x-grid>

        <!-- Links -->
        <x-divide my="sm"/>
        <x-title size="4">Links</x-title>
        <x-adjunct mb="sm">style-link.scss</x-adjunct>

        <x-grid columns="1 md:2" gap="sm">
            <x-grid-cell>
                <x-subtitle mb="xs">Default:</x-subtitle>
                <x-stack gap="xs">
                    <div><x-link :href="currentHref">Link</x-link></div>
                    <div><x-link :href="currentHref" variation="plain">Plain</x-link></div>
                    <div><x-link :href="currentHref" variation="subtle">Subtle</x-link></div>
                    <div><x-link :href="currentHref" variation="no-border">No Border</x-link></div>
                    <div><x-link :href="currentHref" variation="current">Current</x-link></div>
                    <div><x-link :href="currentHref" variation="subtle hover">Subtle + Hover</x-link></div>
                </x-stack>
            </x-grid-cell>
            <x-grid-cell>
                <x-subtitle mb="xs">Button:</x-subtitle>
                <x-stack gap="xs">
                    <div><x-link :href="currentHref" variation="button">Link</x-link></div>
                    <div><x-link :href="currentHref" variation="button plain">Plain</x-link></div>
                    <div><x-link :href="currentHref" variation="button subtle">Subtle</x-link></div>
                    <div><x-link :href="currentHref" variation="button no-border">No Border</x-link></div>
                    <div><x-link :href="currentHref" variation="button current">Current</x-link></div>
                    <div><x-link :href="currentHref" variation="button plain hover">Plain + Hover</x-link></div>
                </x-stack>
            </x-grid-cell>
        </x-grid>

        <!-- Inputs -->
        <x-divide my="sm"/>
        <x-title size="4">Inputs</x-title>
        <x-caption mb="sm">Using Element Plus for Input elements...</x-caption>

        <x-grid columns="1 md:3" gap="sm">
            <x-grid-cell>
                <x-form-control for="input_field_1" :error="form.errors.field_1" label="Input">
                    <el-input id="input_field_1" v-model="form.field_1" placeholder="Input..." />
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_2" :error="form.errors.field_2" label="Required Input" required>
                    <el-input id="input_field_2" v-model="form.field_2" placeholder="Required Input..." />
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_3" :error="form.errors.field_3" label="Input with Icon">
                    <el-input clearable
                        id="input_field_3" v-model="form.field_3" placeholder="Input with Icon...">
                        <template #suffix>
                            <x-icon name="uiSearch" label="Search" size="1em"/>
                        </template>
                    </el-input>
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_textarea" :error="form.errors.field_textarea" label="Text Area">
                    <el-input type="textarea" autosize
                        id="input_field_textarea" v-model="form.field_textarea"
                        placeholder="Text Area..." />
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_select" :error="form.errors.field_select" label="Select">
                    <el-select  filterable clearable
                        id="input_field_select" v-model="form.field_select" placeholder="Select...">
                        <el-option
                            v-for="(label, key) in selectOptions"
                            :key="key"
                            :label="label"
                            :value="key"
                            />
                    </el-select>
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_date" :error="form.errors.field_date" label="Date Picker">
                    <el-date-picker id="input_field_date" v-model="form.field_date" placeholder="Date Picker..."/>
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control label="Checkbox Group">
                    <el-checkbox v-model="form.field_option_1" label="Option 1" />
                    <el-checkbox v-model="form.field_option_2" label="Option 2" />
                    <el-checkbox v-model="form.field_option_3" label="Option 3" />
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control :error="form.errors.field_radio" label="Radio Group">
                    <el-radio
                        v-model="form.field_radio"
                        v-for="(label, key) in radioOptions"
                        :key="key"
                        :label="label"
                        :value="key"
                        />
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_switch" :error="form.errors.field_switch" label="Switch">
                    <el-switch id="input_field_switch" v-model="form.field_switch" active-text="Description" />
                </x-form-control>
            </x-grid-cell>
        </x-grid>
        <x-grid columns="1 md:3" gap="sm">
            <x-grid-cell>
                <x-form-control for="input_field_error" error="Sample Error..." label="Input with Error">
                    <el-input id="input_field_error" v-model="form.field_error" placeholder="Input with Error..." />
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_success" success="Sample Success..." label="Input with Success">
                    <el-input id="input_field_success" v-model="form.field_error" placeholder="Input with Success..." />
                </x-form-control>
            </x-grid-cell>
            <x-grid-cell>
                <x-form-control for="input_field_description" description="Sample Description..." label="Input with Description">
                    <el-input id="input_field_description" v-model="form.field_description" placeholder="Input with Description..." />
                </x-form-control>
            </x-grid-cell>
        </x-grid>
        <x-grid columns="1 md:3" gap="sm">
            <x-notification success>Success Notification</x-notification>
            <x-notification info>Info Notification</x-notification>
            <x-notification warning>Warning Notification</x-notification>
            <x-notification error>Error Notification</x-notification>
            <x-notification text>Text Notification</x-notification>
        </x-grid>

        <!-- Icon -->
        <x-divide my="sm"/>
        <x-title size="4" mb="sm">Ripple Icons</x-title>

        <x-row gap="sm" align="center" wrap="wrap" fontSize="sm" color="gray.dark">
            <x-link variation="plain hover"><x-icon name="uiClose" label="x" size="1em" /></x-link>
            <x-link variation="plain hover"><x-icon name="uiDown" label="-" size="1em" /></x-link>
            <x-link variation="plain hover"><x-icon name="uiLeft" label="<" size="1em" /></x-link>
            <x-link variation="plain hover"><x-icon name="uiMenu" label="Menu" size="1em" /></x-link>
            <x-link variation="plain hover"><x-icon name="uiPlus" label="+" size="1em" /></x-link>
            <x-link variation="plain hover"><x-icon name="uiRight" label=">" size="1em" /></x-link>
            <x-link variation="plain hover"><x-icon name="uiSearch" label="Search" size="1em" /></x-link>
            <x-link variation="plain hover"><x-icon name="uiUp" label="^" size="1em" /></x-link>
        </x-row>

        <!-- Ripple Components -->
        <x-divide my="sm"/>
        <x-title size="4" mb="sm">Ripple Components</x-title>

        <x-subtitle mb="xs">Grid:</x-subtitle>
        <x-grid columns="1 md:2 lg:4" gap="sm">
            <x-grid-cell>
                <x-text size="sm" p="xs" bg="gray.bg-dark">Cell 1</x-text>
            </x-grid-cell>
            <x-grid-cell>
                <x-text size="sm" p="xs" bg="gray.bg-dark">Cell 2</x-text>
            </x-grid-cell>
            <x-grid-cell span="1 md:2 lg:2">
                <x-text size="sm" p="xs" bg="gray.bg-dark">Cell 3/4</x-text>
            </x-grid-cell>
        </x-grid>

        <x-space size="sm" />
        <x-subtitle mb="xs">Columns:</x-subtitle>
        <x-box class="overflow-x-hidden">
            <x-columns>
                <x-column width="12/12 md:6/12 lg:3/12">
                    <x-text size="sm" p="xs" bg="gray.bg-dark">Col 1</x-text>
                </x-column>
                <x-column width="12/12 md:6/12 lg:3/12">
                    <x-text size="sm" p="xs" bg="gray.bg-dark">Col 2</x-text>
                </x-column>
                <x-column width="12/12 md:12/12 lg:6/12">
                    <x-text size="sm" p="xs" bg="gray.bg-dark">Col 3/4</x-text>
                </x-column>
            </x-columns>
        </x-box>

        <x-space size="sm" />
        <x-subtitle mb="xs">Stack:</x-subtitle>
        <x-stack gap="sm">
            <div><x-text as="span" size="sm" p="xs" bg="gray.bg-dark">Item 1</x-text></div>
            <div><x-text as="span" size="sm" p="xs" bg="gray.bg-dark">Item 2</x-text></div>
            <div><x-text as="span" size="sm" p="xs" bg="gray.bg-dark">Item 3</x-text></div>
        </x-stack>

        <x-space size="sm" />
        <x-subtitle mb="xs">Row:</x-subtitle>
        <x-row gap="sm" align="center" wrap="wrap">
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 1</x-text>
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 2</x-text>
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 3</x-text>
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 4</x-text>
        </x-row>

        <x-space size="sm" />
        <x-subtitle mb="xs">Flex:</x-subtitle>
        <x-flex gap="xs md:sm" direction="col md:row" align="center" wrap="wrap">
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 1</x-text>
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 2</x-text>
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 3</x-text>
            <x-text size="sm" p="xs" bg="gray.bg-dark">Item 4</x-text>
        </x-flex>

        <x-space size="sm" />
        <x-subtitle mb="xs">Lists:</x-subtitle>
        <x-grid columns="1 md:2">
            <x-list ul fontSize="sm">
                <x-list-item>Item 1</x-list-item>
                <x-list-item>Item 2</x-list-item>
                <x-list-item>Item 3</x-list-item>
            </x-list>
            <x-list ol fontSize="sm">
                <x-list-item>Item 1</x-list-item>
                <x-list-item>Item 2</x-list-item>
                <x-list-item>Item 3</x-list-item>
            </x-list>
        </x-grid>

        <!-- /End -->
        <x-space height="xl" />

    </x-page>
</template>

<script>
    // Demo showcase
    export default {
        props: {
            user: Object,
        },

        data() {
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate();

            return {
                // Form data
                form: this.$inertia.form({
                    field_date: date, // moment().format('Y-m-d'), // Example default value for el-date-picker
                }),
            };
        },

        computed: {
            currentHref() {
                let routeCurrent = route().current();
                return route(routeCurrent);
            },
            selectOptions() {
                return {
                    value_1: 'Value 1',
                    value_2: 'Value 2',
                    value_3: 'Value 3',
                }
            },
            radioOptions() {
                return {
                    value_1: 'Option 1',
                    value_2: 'Option 2',
                    value_3: 'Option 3',
                }
            },
        },

        methods: {
            noClick(e) {
                e.preventDefault();
                e.stopPropagation();
                return false;
            },
            getBaseColorRange() {
                return {
                    'Base': '@ base',
                    'Reverse': '@ reverse',
                    'Alpha': '@ alpha',
                    'Shadow': '@ shadow',
                    'Gradient': '@ gradient',
                }
            },
            getColorRange() {
                return {
                    50: '@ bg',
                    100: '@ bg-dark',
                    200: '@ border',
                    300: '@ light',
                    400: '@ placeholder',
                    500: '@ normal',
                    600: null,
                    700: '@ dark',
                    800: null,
                    900: '@ darkest',
                }
            },
            getFontSizeRange() {
                return ['2xl', 'xl', 'lg', 'normal', 'sm', 'xs', '2xs'];
            },
            getTitleRange() {
                return [1, 2, 3, 4, 5, 6];
            },
        },

        mounted: function() {
            this.hydrateLayout();
        },
    }
</script>

<style lang="scss">
    // Defined via styles/project/demo.scss
</style>