<!-- Header Action Bar -->
<!-- WARNING, if there are no actions for this Project, avoid leaving an empty <x-row> as this may cause print issues -->
<template>

    <x-row class="app-actionbar" wrap="wrap" gap="normal">      
        
        <!-- Organisations -->
        <template v-if="activeRoute == 'staff.organisations.index'">
            <x-button :href="route('staff.contacts.create') + '?organisation'" variation="default small">Add Contact</x-button>
        </template>

        <!-- Users -->
        <template v-if="activeRoute == 'staff.users.index'">
            <x-button :href="route('staff.contacts.create') + '?user'" variation="default small">Add Contact</x-button>
        </template>

    </x-row>

</template>

<script>
    // Build our actions for the layout, based on the state of the application
    // We build actions based on the current route and data on the Edison layout
    // WARNING, if there are no actions for this Project, avoid leaving an empty <x-row> as this may cause print issues
    import { defineComponent } from 'vue';

    // Config
    import routesConfig from "~/config/routes-config.js";

    export default defineComponent({
        props: {
            // Active route, pulled from Project layout
            activeRoute: String,
            activeSectionRouteKey: String,
            activeSubmenuRouteKey: String,
        },

        data: () => ({
            // Config
            routesConfig: routesConfig,

            // Layout Data, hydrated via hydrateLayout
            organisation: null,
            user: null,
            admin: null,
        }),

        components: {
            //
        },

        methods: {
            hydrateLayout(layoutData) {
                this.organisation = layoutData.data.organisation ?? null;
                this.user = layoutData.data.user ?? null;
                this.admin = layoutData.data.admin ?? null;
            },
        },

        mounted: function() {
            this.events.on('hydrateLayout', this.hydrateLayout);
        }
    })
</script>