<template>
  <h1>
    <span class="sr-only">{{ name }}</span>
    <img :src="src" alt="Application Logo" class="inline-flex" style="height: 16px;">
  </h1>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

const props = defineProps<{
  name: string,
  reverse?: false | true,
}>()

const src = computed(() => {
  let suffix = props.reverse ? '-reverse' : '';

  return `/assets/images/company/logo${suffix}.svg`;
});
</script>
