<template>
    <Link class="inertia-navigate" :href="href">
        <slot/>
    </Link>
</template>

<script>
    // An unstyled Inertia link used to navigate around Inertia
    import { Link } from '@inertiajs/inertia-vue3'

    export default {
        props: {
            href: String,
        },
        components: {
            Link,
        },
    }
</script>

<style lang="scss">
    .inertia-navigate {
        cursor: pointer;
        text-decoration: none;
        color: currentColor;
    }
</style>