<template>
  <x-stack as="nav" gap="x-small" padding="small">
    <x-link
      v-for="link in links"
      v-text="link.label"
      variation="app-navigation"
      :key="link.route"
      :active="activeRoute === link.route"
      :href="route(link.route)"
    />
  </x-stack>
</template>

<script>
export default {
  data: () => ({
    activeRoute: route().current(),
    links: [
      {
        route: "dashboard",
        label: "Dashboard",
      },
      {
        route: "demo",
        label: "Demo",
      },
      {
        route: "test",
        label: "Test",
      }
    ]
  }),

  watch: {
    '$page.url': {
      immediate: true,
      handler (newValue, oldValue) {
        this.activeRoute = route().current()

        if (newValue !== oldValue) {
          this.$emit('routeChange');
        }
      }
    }
  }
}
</script>


<style lang="scss">
.style-link--app-navigation {
  all: unset;
  padding: var(--sizes-size-1) var(--sizes-size-2);
  border-radius: 6px;
  font-size: var(--type-size-small);

  &:hover {
    background: var(--colors-gray-100);
  }

  &[data-state=active] {
    color: var(--colors-primary-800);
    background: var(--colors-primary-100);
  }
}
</style>
