<template>
  <div class="test-component">
    <x-heading size="2" color="primary.normal">Test Component: {{ message }}</x-heading>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

type Props = {
  message?: string, // we use "?:" as opposed to ":" to denote that this is optional
}

const props = defineProps({
  message: { default: 'default message' }
})

// const props = defineProps<{
//   message: string
// }>()
</script>

<style lang="scss">
  .test-component {
    background-color: v('colors.primary.bg');
  }
</style>
