<!-- Header Breadcrumbs -->
<template>

    <x-row class="app-breadcrumbs" alignItems="center" wrap="wrap" gapX="xs" gapY="none">

        <!-- Section -->
        <template v-if="activeSectionRouteKey">
            <x-title  class="app-breadcrumbs__item" size="4">
                <x-link :href="route(activeSectionRouteKey)" variation="plain">
                    {{ routesConfig[activeSectionRouteKey]?.name ?? activeSectionRouteKey }}
                </x-link>
            </x-title>
            <x-icon class="app-breadcrumbs__seperator" name="uiRight" label=">" :size="null" />
        </template>

        <!-- Submenu Page (not clickable; skipped if we're on a custom show page) -->
        <template v-if="activeSectionRouteKey != activeSubmenuRouteKey && activeSubmenuRouteKey == activeRoute">
            <x-title class="app-breadcrumbs__item" size="4">
                <span>{{ routesConfig[activeSubmenuRouteKey]?.name ?? activeSubmenuRouteKey }}</span>
            </x-title>
            <x-icon class="app-breadcrumbs__seperator" name="uiRight" label=">" :size="null" />
        </template>

    </x-row>

</template>

<script>
    // Build our breadcrumbs for the layout, based on the state of the application
    // We build breadcrumbs based on the current route and data on the Edison layout
    import { defineComponent } from 'vue';
    import routesConfig from "~/config/routes-config.js";

    export default defineComponent({
        props: {
            // Active route, pulled from Project layout
            activeRoute: String,
            activeSectionRouteKey: String,
            activeSubmenuRouteKey: String,
        },

        data: () => ({
            // Config
            routesConfig: routesConfig,

            // Layout Data, hydrated via hydrateLayout
            organisation: null,
            user: null,
            admin: null,
        }),

        methods: {
            hydrateLayout(layoutData) {
                this.organisation = layoutData.data.organisation ?? null;
                this.user = layoutData.data.user ?? null;
                this.admin = layoutData.data.admin ?? null;
            },
            toggleSidebar: function() {
                // Ask the layout to toggle the sidebar
                this.$emit('toggleSidebar');
            }
        },

        mounted: function() {
            this.events.on('hydrateLayout', this.hydrateLayout);
        }
    })
</script>

<style lang="scss">
    // Breadcrumbs
    .app-breadcrumbs {
        color: v('colors.type.title');
    }

    // Breadcrumb Arrow
    .app-breadcrumbs__item .inertia-link,
    .app-breadcrumbs__item span {
        display: inline-block;
        // transform: translateY(0.3rem);
        color: currentColor;
    }
    .app-breadcrumbs__seperator {
        width: 1em;
        height: 1em;
        margin-top: 0;
    }
    .app-breadcrumbs .app-breadcrumbs__seperator:last-child {
        display: none;
    }
</style>