<!-- Management - Profile -->
<template>
    <x-page>

        <!-- Profile -->
        <manage-profile :auth="user ?? admin" />

    </x-page>
</template>

<script>
    // Show and manage your profile
    import manageProfile from "~/components/auth/manage-profile.vue";

    export default {
        props: {
            //
        },

        components: {
            manageProfile,
        },

        data() {
            return {
                user: this.$page.props.auth.user,
                admin: this.$page.props.auth.admin,
            };
        },

        mounted: function() {
            this.hydrateLayout({ user: this.user });
        },
    };
</script>