<!-- Management - Staff -->
<template>
    <x-page>

        <!-- Staff -->
        <staff-index :admin="admin" />

    </x-page>
</template>

<script>
    // Show and manage your profile
    import staffIndex from "~/pages/staff/management/components/staff-index";

    export default {
        props: {
            //
        },

        components: {
            staffIndex,
        },

        data() {
            return {
                admin: this.$page.props.auth.user,
            };
        },

        mounted: function() {
            this.hydrateLayout({ admin: this.admin });
        },
    };
</script>