<!-- Reporting / Index -->
<template>

    <!-- Search & Filtering -->
    <x-box display="print:none">
        <x-form-grid>
            <x-form-control for="input_date_from" label="Date From">
                <el-date-picker id="input_date_from" v-model="reportParams.date_from" placeholder="Any Date..."/>
            </x-form-control>
            <x-form-control for="input_date_to" label="Date To">
                <el-date-picker id="input_date_to" v-model="reportParams.date_to" placeholder="Any Date..."/>
            </x-form-control>
            <x-form-control label="Options">
                <x-button variation="default small" mr="normal" mt="tiny md:2xs" @click="openPrint">Print Page</x-button>
                <!-- Export PENDING -->
            </x-form-control>
        </x-form-grid>
        <x-divide  mt="normal" mb="normal" />
    </x-box>

    <!-- Reporting Results -->
    <x-box class="reporting-data" v-loading="reportLoading">
        REPORTING...
    </x-box>

</template>

<script>
    // Index page for Reprting
    import axios from "axios";
    import { ElNotification } from 'element-plus'

    import inputConfigs from "~/config/inputs-config";

    export default {
        props: {
            initialResult: {
                // TBC
                type: Object,
                default: null,
            },
        },

        data() {
            return {
                // Filters
                reportLoading: false,
                report: this.initialResult ? this.initialResult.report.data : [],
                reportParams: {
                    date_from: null,
                    date_to: null,
                },
                reportParamsOld: null,
            };
        },

        components: {
            //
        },

        computed: {
            ...inputConfigs,
        },

        watch: {
            reportParams: {
                handler(newValue) {
                    this.fetchReport();
                },
                deep: true,
            },
        },

        methods: {
            openPrint: function() {
                window.print();
            },
            fetchReport() {
                this.reportLoading = true;
                this.reportParamsOld = { ...this.reportParams };

                // axios
                //     .get(this.route("api.reporting.list", this.reportParams))
                //     .then((res) => {
                //         // console.log('Fetched Report', res.data.report);
                //         this.report = res.data.report;
                //         this.reportLoading = false;
                //     })
                //     .catch((err) => {
                //         // console.log('Error fetching Report', err);
                //         ElNotification({
                //             title: "Error Loading Report",
                //             message: "An error occured loading the Report data.",
                //             type: "error",
                //         });
                //     });
            },
        },

        mounted() {
            if (! this.initialResult) {
                this.fetchReport();
            }
        },
    };
</script>

<style lang="scss">
    .reporting-data {
        min-height: 20rem;
    }
    .reporting-data .label-value {
        display: flex;
        flex-direction: row;
        gap: 0;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .reporting-data .label-value > .style-label {
        min-width: 15rem;
        margin-bottom: 0;
    }
    .reporting-data .label-value--wide > .style-label {
        min-width: 30rem;
    }
</style>