/* Components (Ripple) / Custom */
// Custom Ripple styling for this project

// Text Button style
:where(.button-text) {
    // Text; taken from .style-button
    font-family: v('type.font.normal', sans-serif);
    font-size: v('type.size.normal', 1.6rem);
    font-weight: v('type.weight.title', bold);
    letter-spacing: v('type.tracking.widest', 0);
    text-transform: uppercase;
}

// Divider
.style-divide {
    border-width: 2px;
}
.style-divide--primary {
    border-color: v('colors.primary.border');
    border-width: 3px;
    max-width: 8rem;
}

// Custom styling for grids where the grid-columns, and child display-cards, should grow to full height
.grid-cards-grow {
    //
}
.grid-cards-grow > .grid-col {
    display: flex;
}
.grid-cards-grow > .grid-col > .display-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
