/* Components (Ripple) / Style Button */
// An notification display

// Override the default ".style-notification" styling from Ripple Core Components

// Core Style
.style-notification {
    border: none;
    border-radius: v('common.border-radius.notification');
    border: solid v('common.border-width.notification') currentColor;
}

.style-notification a:not(.style-link, .style-button),
.style-notification a:not(.style-link, .style-button):hover {
    color: inherit;
    text-decoration: underline;
}

// Variations
.style-notification--text, .style-notification--text .style-title {
    color: v('colors.gray.normal');
    background-color: v('colors.gray.bg-dark'); // v('colors.gray.bg');
}
.style-notification--success, .style-notification--success .style-title {
    color: v('colors.success.normal');
    background-color: v('colors.success.bg');
}
.style-notification--info, .style-notification--info .style-title {
    color: v('colors.info.normal');
    background-color: v('colors.info.bg');
}
.style-notification--warning, .style-notification--warning .style-title {
    color: v('colors.warning.normal');
    background-color: v('colors.warning.bg');
}
.style-notification--error, .style-notification--error .style-title {
    color: v('colors.error.normal');
    background-color: v('colors.error.bg');
}
