/* Components (Ripple) / Style Button */
// An interactive styled button

// Override the default ".style-button" styling from Ripple Core Components
// Override styling for Element Plus .el-button

// Themes: default, primary
// Variations: outline, text, small


// Variables
.style-button {
    --text-color: currentColor;
    --background-color: transparent;
    --border-color: transparent;
    // Hover
    --text-color-hover: var(--text-color);
    --background-color-hover: var(--background-color);
    --border-color-hover: var(--border-color);
    // Active
    --text-color-active: var(--text-color);
    --background-color-active: var(--background-color);
    --border-color-active: var(--border-color);
}

// Class
.style-button,
.el-button {
    // Style
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    border: v('common.border.button', solid 1px slategray);
    border-radius: v('common.border-radius.button', 0);
    border-color: var(--border-color);
    text-decoration: none;
    padding: v('sizes.padding.button', 1.0rem 2.0rem);

    // Text
    font-family: v('type.font.normal', sans-serif);
    font-size: v('type.size.normal', 1.6rem);
    font-weight: v('type.weight.title', bold);
    letter-spacing: v('type.tracking.widest', 0);
    text-transform: uppercase;

    // Animation
    transition: v('common.transition.fast', all 0.2s ease-in-out);
    transition-property: color, background-color, border-color;
}

// Children
.style-button {
    // Icon
    > .style-icon {
        vertical-align: middle;
        transition: val('common.transition.fast', all 0.2s ease-in-out);
        transition-property: transform;
    }
}

// States
.style-button:hover,
.group:hover .style-button,
.el-button:hover {
    cursor: pointer;
    color: var(--text-color-hover);
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
}
.style-button:active,
.style-button.is-active,
.el-button:active,
.style-button:focus,
.el-button:focus {
    color: var(--text-color-active);
    background-color: var(--background-color-active);
    border-color: var(--border-color-active);
    outline: 0;
}
.style-button:focus-visible,
.el-button:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(val('colors.primary.normal', slateblue), 1.0);
}

.style-button--disabled {
    opacity: v('common.opacity.disabled', 0.5);
    cursor: not-allowed !important;
}
.style-button--readonly {
    cursor: not-allowed !important;
}

// Themes
.style-button, .style-button--default,
.el-button {
    --text-color: #{v('colors.gray.dark', slategray)};
    --background-color: #{v('colors.gray.bg', white)};
    --border-color: #{v('colors.gray.border', slategray)};
    --text-color-hover: #{v('colors.gray.dark', slategray)};
    --background-color-hover: #{v('colors.gray.border', white)};
    --border-color-hover: #{v('colors.gray.normal', slategray)};
    --text-color-active: #{v('colors.gray.dark', slategray)};
    --background-color-active: #{v('colors.gray.light', white)};
    --border-color-active: #{v('colors.gray.dark', slategray)};
}

.style-button--primary,
.el-button--primary {
    --text-color: #{v('colors.base', white)};
    --background-color: #{v('colors.primary.normal', slateblue)};
    --border-color: #{v('colors.primary.normal', slateblue)};
    --text-color-hover: #{v('colors.base', white)};
    --background-color-hover: #{v('colors.primary.dark', slateblue)};
    --border-color-hover: #{v('colors.primary.dark', slateblue)};
    --text-color-active: #{v('colors.base', white)};
    --background-color-active: #{v('colors.primary.darkest', slateblue)};
    --border-color-active: #{v('colors.primary.darkest', slateblue)};
}

.style-button--secondary,
.el-button--secondary {
    --text-color: #{v('colors.base', white)};
    --background-color: #{v('colors.secondary.normal', slateblue)};
    --border-color: #{v('colors.secondary.normal', slateblue)};
    --text-color-hover: #{v('colors.base', white)};
    --background-color-hover: #{v('colors.secondary.dark', slateblue)};
    --border-color-hover: #{v('colors.secondary.dark', slateblue)};
    --text-color-active: #{v('colors.base', white)};
    --background-color-active: #{v('colors.secondary.darkest', slateblue)};
    --border-color-active: #{v('colors.secondary.darkest', slateblue)};
}
.style-button--secondary:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(val('colors.primary.normal', slateblue), 1.0);
}

.style-button--warning,
.el-button--warning {
    --text-color: #{v('colors.base', white)};
    --background-color: #{v('colors.error.normal', slateblue)};
    --border-color: #{v('colors.error.dark', slateblue)};
    --text-color-hover: #{v('colors.base', white)};
    --background-color-hover: #{v('colors.error.dark', slateblue)};
    --border-color-hover: #{v('colors.error.dark', slateblue)};
    --text-color-active: #{v('colors.base', white)};
    --background-color-active: #{v('colors.error.dark', slateblue)};
    --border-color-active: #{v('colors.error.dark', slateblue)};
}

// Variations

// Outline: Border uses currentColor, no fill
.style-button--outline,
.el-button[variation*="outline"] {
    --border-color: currentColor;
    --background-color: transparent;
}
.style-button--primary.style-button--outline,
.el-button--primary.el-button[variation*="outline"], {
    --text-color: #{v('colors.primary.normal', slateblue)};
}
.style-button--secondary.style-button--outline {
    --text-color: #{v('colors.secondary.normal', slateblue)};
}

// Text: No border, no fill (only on hover)
.style-button--text,
.el-button[variation*="text"] {
    --border-color: transparent;
    --background-color: transparent;
}
.style-button--primary.style-button--text,
.el-button--primary.el-button[variation*="text"] {
    --text-color: #{v('colors.primary.normal', slateblue)};
}
.style-button--secondary.style-button--text {
    --text-color: #{v('colors.secondary.normal', slateblue)};
}

// Small: Smaller font, padding, and border-radius
.style-button--small,
.el-button[variation*="small"],
.el-button.el-button--small {
    border-radius: v('common.border-radius.button-small', 0);
    padding: v('sizes.padding.button-small', 0.5rem 1.0rem);
    font-size: v('type.size.xs', 1.2rem);
}

// Icon: No text, icon only
.style-button--icon,
.el-button[variation*="icon"],
.el-button.el-button--icon {
    border-radius: 4px;
    padding: 0.2rem;
    .style-icon {
        height: 1em;
        width: auto;
        margin: 0;
    }
}
.style-button--icon > span {
    display: block;
    line-height: 0;
}

// Functional Variation: Icon External / Up / Down / Left / Right
// Animate the icon on hover
.style-button--icon-external:hover .style-icon,
.group:hover .style-button--icon-external .style-icon {
    transform:
        translateX(0.4rem)
        translateY(-0.4rem);
}
.style-button--icon-up:hover .style-icon,
.group:hover .style-button--icon-up .style-icon {
    transform: translateY(-0.4rem);
}
.style-button--icon-down:hover .style-icon,
.group:hover .style-button--icon-down .style-icon {
    transform: translateY(0.4rem);
}
.style-button--icon-left:hover .style-icon,
.group:hover .style-button--icon-left .style-icon {
    transform: translateX(-0.4rem);
}
.style-button--icon-right:hover .style-icon,
.group:hover .style-button--icon-right .style-icon {
    transform: translateX(0.4rem);
}

// Scope: Reverse
.scope-reverse.style-button,
.scope-reverse .style-button:not(.scope-cancel) {
    & {
        --text-color: #{v('colors.gray.dark', slategray)};
        --background-color: #{v('colors.base', white)};
        --border-color: #{v('colors.base', white)};
        --text-color-hover: #{v('colors.gray.darkest', slategray)};
        --background-color-hover: #{v('colors.gray.bg-dark', white)};
        --border-color-hover: #{v('colors.gray.bg-dark', white)};
        --text-color-active: #{v('colors.gray.darkest', slategray)};
        --background-color-active: #{v('colors.gray.light', white)};
        --border-color-active: #{v('colors.gray.light', white)};
    }
    &.style-button--outline {
        --text-color: #{val('colors.base', white)};
        --background-color: transparent;
        --border-color: #{val('colors.base', white)};
    }
    &.style-button--primary {
        --text-color: #{val('colors.primary.normal', slateblue)};
    }
}
