/* Components (Ripple) / style Link */
// An interactive styled link

// Override the default ".style-link" styling from Ripple Core Components

// Themes: default, primary
// Variations: plain, subtle, no-border, current, color-hover, hover


// Variables
.style-link {
    --text-color: currentColor;
    --background-color: transparent;
    --border-color: transparent;
    // Hover
    --text-color-hover: var(--text-color);
    --background-color-hover: var(--background-color);
    --border-color-hover: var(--border-color);
    // Active
    --text-color-active: var(--text-color);
    --background-color-active: var(--background-color);
    --border-color-active: var(--border-color);
}

// Class
.style-link {
    // Style
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    text-decoration: none;

    // Text
    // Inherit...

    // Animation
    transition: v('common.transition.fast', all 0.2s ease-in-out);
    transition-property: color, background-color, border-color;
}
.style-link:after {
    // Apply the border as 'after' for custom animations and effects
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -0.05em;
    height: val('common.border-width.link', 1px);
    background-color: var(--border-color);

    // Animation
    opacity: 1;
    transform: translateY(0);
    transition: val('common.transition.fast', all 0.2s ease-in-out);
    transition-property: opacity, transform;
}

// Children
.style-link {
    // Icon
    > .style-icon {
        vertical-align: middle;
        margin-top: -2px;
        transition: val('common.transition.fast', all 0.2s ease-in-out);
        transition-property: transform;
    }
}

// States
.style-link:hover,
.group:hover .style-link {
    cursor: pointer;
    color: var(--text-color-hover);
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
}
.style-link:active,
.style-link:focus,
.style-link.is-active {
    color: var(--text-color-active);
    background-color: var(--background-color-active);
    border-color: var(--border-color-active);
    outline: 0;
}
.style-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(val('colors.primary.normal', slateblue), 1.0);
    border-radius: 0.1rem;
}

.style-link:hover:after,
.group:hover .style-link:after {
    opacity: 1;
    background-color: var(--border-color-hover);
    transform: translateY(#{val('sizes.size.subtle', 0.2rem)});
}
.style-link:active:after,
.style-link:focus:after,
.style-link.is-active:after {
    opacity: 1;
    background-color: var(--border-color-active);
    transform: translateY(#{val('sizes.size.subtle', 0.2rem)});
}

.style-link--disabled {
    opacity: v('common.opacity.disabled', 0.5);
    cursor: not-allowed !important;
}
.style-link--readonly {
    cursor: not-allowed !important;
}

// Themes
// .style-link, .style-link--default {
//     --text-color: #{v('colors.primary.normal', slateblue)};
//     --border-color: var(--text-color);
//     --text-color-hover: #{v('colors.primary.dark', slateblue)};
//     --border-color-hover: var(--text-color-hover);
//     --text-color-active: #{v('colors.primary.dark', slateblue)};
//     --border-color-active: var(--text-color-active);
// }
.style-link, .style-link--default {
    --text-color: #{v('colors.primary.normal', slateblue)};
    --border-color: var(--text-color);
    --text-color-hover: #{v('colors.primary.dark', slateblue)};
    --border-color-hover: var(--text-color-hover);
    --text-color-active: #{v('colors.primary.dark', slateblue)};
    --border-color-active: var(--text-color-active);
}
.style-link--button {
    // Text; taken from .style-button
    font-family: v('type.font.normal', sans-serif);
    font-size: v('type.size.normal', 1.6rem);
    font-weight: v('type.weight.title', bold);
    letter-spacing: v('type.tracking.widest', 0);
    text-transform: uppercase;
}

// Variations

// Inline
.style-link--inline {
    display: inline !important;
}
.style-link--inline:after {
    display: none;
}
.style-link--inline:hover {
    text-decoration: underline;
}

// Current: Current color (all states)
.style-link--current {
    --text-color: currentColor;
    --text-color-hover: currentColor;
    --text-color-active: currentColor;
}

// No Border: No border (all states)
.style-link--no-border:after {
    display: none;
}

// Hover Border: Border on hover only (not default)
.style-link--hover-border:after {
    opacity: 0;
}

// Plain: Current + No Border = Current color and no border (all states)
.style-link--plain {
    --text-color: currentColor;
    --text-color-hover: currentColor;
    --text-color-active: currentColor;
}
.style-link--plain:after {
    display: none;
}

// Subtle: Current + Hover Border = Current color (all states), border on hover only (not default)
.style-link--subtle {
    --text-color: currentColor;
    --text-color-hover: currentColor;
    --text-color-active: currentColor;
}
.style-link--subtle:after {
    opacity: 0;
}

// // Hover: Primary color on hover
// .style-link--hover {
//     // --text-color: currentColor;
//     // --border-color: var(--text-color);
//     --text-color-hover: #{v('colors.primary.dark', slateblue)};
//     --border-color-hover: var(--text-color-hover);
//     --text-color-active: #{v('colors.primary.dark', slateblue)};
//     --border-color-active: var(--text-color-active);
// }

// Block: Block styling for lists
.style-link--block {
    display: block;
    padding: v('size.padding.button', 1rem 2rem);
    --text-color: #{v('colors.gray.dark', slategray)};
    --background-color: transparent;
    --border-color: transparent;
    --text-color-hover: #{v('colors.gray.darkest', slategray)};
    --background-color-hover: #{v('colors.gray.bg-dark', white)};
    --text-color-active: #{v('colors.gray.darkest', slategray)};
    --background-color-active:  #{v('colors.gray.bg-dark', white)};
}
.style-link--block:after {
    display: none;
}

// Functional Variation: Icon External / Up / Down / Left / Right
// Animate the icon on hover
.style-link--icon-external:hover .style-icon,
.group:hover .style-link--icon-external .style-icon {
    transform:
        translateX(0.3rem)
        translateY(-0.3rem);
}
.style-link--icon-up:hover .style-icon,
.group:hover .style-link--icon-up .style-icon {
    transform: translateY(-0.3rem);
}
.style-link--icon-down:hover .style-icon,
.group:hover .style-link--icon-down .style-icon {
    transform: translateY(0.3rem);
}
.style-link--icon-left:hover .style-icon,
.group:hover .style-link--icon-left .style-icon {
    transform: translateX(-0.3rem);
}
.style-link--icon-right:hover .style-icon,
.group:hover .style-link--icon-right .style-icon {
    transform: translateX(0.3rem);
}

// Scope: Reverse
.scope-reverse.style-link,
.scope-reverse .style-link:not(.scope-cancel) {
    & {
        --text-color: #{v('colors.base', white)};
        --border-color: #{v('colors.base', white)};
        --text-color-hover: #{v('colors.base', white)};
        --border-color-hover: #{v('colors.base', white)};
        --text-color-active: #{v('colors.base', white)};
        --border-color-active: #{v('colors.base', white)};
    }
}
