/* RIVER Nova Theme (Entry point) */

:root {
    --primary-light: ##6184ea;
    --primary: #3561e3;
    --primary-dark: #1c48ca;
    --primary-90: hsla(225, 76%, 55%, 0.9);
    --primary-80: hsla(225, 76%, 55%, 0.8);
    --primary-70: hsla(225, 76%, 55%, 0.7);
    --primary-60: hsla(225, 76%, 55%, 0.6);
    --primary-50: hsla(225, 76%, 55%, 0.5);
    --primary-40: hsla(225, 76%, 55%, 0.4);
    --primary-30: hsla(225, 76%, 55%, 0.3);
    --primary-20: hsla(225, 76%, 55%, 0.2);
    --primary-10: hsla(225, 76%, 55%, 0.1);

    --danger-light: #e36968;
    --danger: #dc4b4a;
    --danger-dark: #c02625;

    --info-light: #e5a936;
    --warning: #eabc61;
    --info-dark: #f0cf8d;

    --info-light: #5ed6ea;
    --info: #35cae3;
    --info-dark: #1cb1ca;

    --success-light: #a1dcbf;
    --success: #57bc8a;
    --success-dark: #41a473;

    /* Grays */
    --20: #f8fafc;
    --30: #f8fafc;
    --40: #f1f5f9;
    --50: #e2e8f0;
    --80: #475569;
    --90: #0f172a;

    --black: #040f20;

    --custom-sidebar-width: 260px;
}

.font-sans {
    font-family: system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
}

.font-black,
.font-bold,
.font-extrabold {
    font-weight: 600;
}

p {
    line-height: 1.5;
}

/* Elements
---------------------------------------------------------------------------- */
.form-control,
.form-input,
.form-select,
.btn {
    border-radius: 3px;
}

.form-control:focus,
.form-control:active,
.form-input-bordered:focus,
.form-input:focus,
.form-input:active,
.form-select:focus,
.form-select:active,
.btn:focus,
.btn:active {
    border-radius: 3px;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px var(--primary-40);
}

.btn {
    font-weight: 500;
}

/* Custom Logo
---------------------------------------------------------------------------- */
.custom-nova-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 100%;
}

.custom-nova-logo svg {
    fill: currentColor;
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

/* Customize Toolbar
---------------------------------------------------------------------------- */
/* Toolbar */
#nova .content > div:first-child {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

/* Link */
#nova .content > div:first-child > a {
    display: none;
}

/* Search */
#nova .content > div:first-child > [dusk="global-search-component"] {
    max-width: none !important;
}

/* User Menu */
#nova .content > div:first-child > .dropdown-right {
    flex-shrink: 0;
    margin-left: 2rem;
}

/* Customize Sidebar
---------------------------------------------------------------------------- */
#nova .bg-grad-sidebar,
#nova .bg-grad-sidebar .h-header {
    background: #040f20 !important;
    width: var(--custom-sidebar-width);
}

#nova .bg-grad-sidebar .list-reset > li > a {
    font-weight: 500 !important;
    color: #828b97;
    opacity: 1;
}
#nova .bg-grad-sidebar .list-reset > li > a:hover {
    color: #caced3;
    opacity: 1;
}
#nova .bg-grad-sidebar .list-reset > li > a.router-link-active {
    font-weight: 500 !important;
    color: #fff;
    opacity: 1;
}

#nova .sidebar-icon {
    width: 1rem;
    height: 1rem;
}
#nova .bg-grad-sidebar .router-link-active {
    font-weight: 400 !important;
}

.h-header {
    height: 4.5rem;
}

/* Sticky footer on forms
---------------------------------------------------------------------------- */
#nova .content .px-view.py-view form > .flex.items-center {
    position: fixed;
    z-index: 20;
    top: auto;
    right: 0;
    bottom: 0;
    left: var(--custom-sidebar-width);
    background: #fff;
    padding: 0 3.125rem;
    height: 72px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.125);
}

/* Toast messages
---------------------------------------------------------------------------- */
.nova.toasted {
    border-radius: 3px;
}
