<template>

    <!-- Add / Edit Note button -->
    <el-button v-if="! asIcon" :type="variation" variation="small" @click="dialogVisible = true" class="add-edit-note-action">
        <span>{{ getOpenButtonName() }}</span>
        <x-icon variation="right" name="uiRight" label=">" :size="null" />
    </el-button>
    <el-tooltip v-if="asIcon" content="Edit Note" effect="dark" placement="top">
        <el-button :type="variation" variation="icon" @click="dialogVisible = true" class="add-edit-note-action">
            <x-icon name="heroPencilSquare" label="Edit" :size="null" />
        </el-button>
    </el-tooltip>

    <!-- Add / Edit Note popup -->
    <el-dialog v-model="dialogVisible" :title="getTitle()" @open="handleOpen"
        class="add-edit-note-dialog el-dialog--borderless">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title-divide>{{ getTitle() }}</x-title-divide>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <x-grid columns="1 md:2" gapY="none">

                <!-- Title & Subject -->
                <x-grid-cell>
                    <x-form-control for="name_input" label="Note Title" :error="form.errors.name">
                        <el-input v-model="form.name" id="name_input" placeholder="Title..." />
                    </x-form-control>
                </x-grid-cell>
                <x-grid-cell v-if="showSubject && subjectType && subjectId">
                    <x-form-control for="subject_input" label="Note Subject">
                        <el-select disabled id="subject_input" v-model="form.subject_id" placeholder="Select Subject...">
                            <el-option :value="subjectId" :label="subjectType.substring(subjectType.lastIndexOf('\\') + 1) + ' #' + subjectId" />
                        </el-select>
                    </x-form-control>
                </x-grid-cell>

                <!-- Note Content -->
                <x-grid-cell span="1 md:2">
                    <x-form-control for="content_input" label="Note Content" :error="form.errors.content" required>
                        <el-input id="content_input" v-model="form.content" autosize type="textarea" placeholder="Notes..." />
                    </x-form-control>
                </x-grid-cell>

                <!-- Attachments -->
                <x-grid-cell>
                    <x-form-control for="attachment" label="Attachment" :error="form.errors.attachments">
                      <attachment-control
                        :disabled="isEditing()"
                        v-model="form.attachments"
                        v-model:loading="attachmentsLoading"
                        :multiple="false"
                      />
                    </x-form-control>
                </x-grid-cell>

                <!-- Options -->
                <x-grid-cell>
                    <x-form-control label="Options">
                        <el-checkbox v-model="form.option_pinned" label="Pinned"/>
                        <el-checkbox v-model="form.option_important" label="Important"/>
                    </x-form-control>
                </x-grid-cell>

            </x-grid>

            <!-- Form Controls -->
            <x-space height="normal" />
            <x-flex>
                <el-button type="primary" variation="small" :disabled="isLoading" @click="handleSubmit">{{ getSubmitButtonName() }}</el-button>
                <x-box ml="auto">
                    <el-button variation="default small" @click="dialogVisible = false">Cancel</el-button>
                </x-box>
            </x-flex>

        </x-form-container>
    </el-dialog>

</template>

<script>
    // Action to create or edit a Note
    import { ElNotification } from 'element-plus'
    import axios from "axios";
    import { sendInertiaForm } from '~/utils/inertia-utils';

    import AttachmentControl from "~/components/attachments/attachment-control.vue";

    export default {
        props: {
            // Pre-selected Note (to edit an existing note)
            note: {
                type: Object, // ActivityData DTO
                default: null,
            },

            // Subject Model to attach this Note to
            subjectType: {
                type: String,
                default: null,
            },
            subjectId: {
                type: Number,
                default: null,
            },
            showSubject: {
                type: Boolean,
                default: false,
            },

            // Parent Model to attach this Note to
            parentType: {
                type: String,
                default: null,
            },
            parentId: {
                type: Number,
                default: null,
            },

            // Text or Icon Button
            asIcon: {
                type: Boolean,
                default: false,
            },

            // Variation
            variation: {
                type: String,
                default: "default", // default, primary
            },

            // Options to pass through to the sendInertiaForm() request
            submitOptions: {
                type: Object,
                default: {},
            },
        },

        data() {
            if (this.note && ( ! this.note.with?.valid || this.note.with?.class !== 'App\\Models\\Note' ) ) {
                console.error('An invalid Note without a correct model reference was passed in');
            }

            return {
                // State
                dialogVisible: false,
                formLoading: false,
                attachmentsLoading: false,

                // Form data
                form: this.$inertia.form({
                    note_id: this.note?.with?.id ?? null,
                    name: this.note?.title ?? null,
                    content: this.note?.message ?? null,
                    option_pinned: (this.note?.isPinned?true:false) ?? false,
                    option_important: (this.note?.isImportant?true:false) ?? false,
                    tags: null,
                    attachments: null,
                    // @debt tags implementation PENDING

                    // Relations
                    subject_type: this.subjectType ?? null,
                    subject_id: this.subjectId ?? null,
                    parent_type: this.parentType ?? null,
                    parent_id: this.parentId ?? null,
                }),
                formMessage: null,
                formError: null,
            };
        },

        computed: {
            isLoading() {
              return this.formLoading || this.attachmentsLoading;
            }
        },

        components: {
            AttachmentControl,
        },

        methods: {
            isEditing() {
                return this.note ? true : false;
            },
            getTitle() {
                if (this.isEditing()) {
                    return 'Edit Note';
                }
                return this.parentType && this.parentType !== this.subjectType
                    ? 'Add Related Note'
                    : 'Add Note';
            },
            getOpenButtonName() {
                return this.isEditing()
                    ? 'Edit'
                    : 'Add Note';
            },
            getSubmitButtonName() {
                return this.isEditing()
                    ? 'Update Note'
                    : 'Add Note';
            },
            handleOpen() {
                this.formMessage = null;
                this.formError = null;
            },
            handleSubmit() {
                let vm = this;
                let route = this.isEditing() ? 'api.notes.update' : 'api.notes.store';

                if (this.isLoading) {
                  return false;
                }

                sendInertiaForm(vm, {
                    route: route,
                    afterSuccess: function() {
                        // NOTE, more refinements are needed for auto-scroll - doesn't work if all widgets reloaded, etc...
                        // let target = document.querySelector('.activity-list');
                        // target?.scrollIntoView({ behavior: "smooth" });
                    },
                    ...this.submitOptions,
                });
            },
            submitOnCtrlEnter(e) {
                if (this.dialogVisible && e.keyCode == 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted() {
            // console.log(this.note, this.note?.id);
        },
    };
</script>

<style lang="scss">
    //
</style>
