<template>

    <!-- Delete Note button -->
    <el-button v-if="! asIcon" :type="variation" variation="small" @click="dialogVisible = true" class="delete-note-action">
        <span>{{ getOpenButtonName() }}</span>
        <x-icon variation="right" name="uiRight" label=">" :size="null" />
    </el-button>
    <el-tooltip v-if="asIcon" content="Delete Note" effect="dark" placement="top">
        <el-button :type="variation" variation="icon" @click="dialogVisible = true" class="delete-note-action">
            <x-icon name="heroTrash" label="Edit" :size="null" />
        </el-button>
    </el-tooltip>

    <!-- Add / Edit Note popup -->
    <el-dialog v-model="dialogVisible" :title="getTitle()" @open="handleOpen"
        class="delete-note-dialog el-dialog--borderless el-dialog--small">

        <!-- Title -->
        <template #header="{ close, titleId, titleClass }">
            <x-title-divide>{{ getTitle() }}</x-title-divide>
        </template>

        <!-- Form -->
        <x-form-container v-loading="formLoading" @keydown="submitOnCtrlEnter">

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="sm">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="sm">{{ formError }}</x-notification>

            <!-- Text -->
            <x-title size="6" mb="sm">Are you sure? This cannot be undone.</x-title>
            <x-stack gap="xs">
                <x-text>
                    Are you sure you want to delete this Note and any associated content?
                </x-text>
            </x-stack>

            <!-- Form Controls -->
            <x-space height="normal" />
            <x-flex>
                <el-button type="warning" variation="small" :disabled="isLoading" @click="handleSubmit">{{ getSubmitButtonName() }}</el-button>
                <x-box ml="auto">
                    <el-button variation="default small" @click="dialogVisible = false">Cancel</el-button>
                </x-box>
            </x-flex>

        </x-form-container>
    </el-dialog>

</template>

<script>
    // Action to create or edit a Note
    import { ElNotification } from 'element-plus'
    import axios from "axios";
    import { sendInertiaForm } from '~/utils/inertia-utils';

    export default {
        props: {
            // Pre-selected Note (to edit an existing note)
            note: {
                type: Object, // ActivityData DTO
                default: null,
            },

            // Subject Model to attach this Note to
            subjectType: {
                type: String,
                default: null,
            },
            subjectId: {
                type: Number,
                default: null,
            },
            showSubject: {
                type: Boolean,
                default: false,
            },

            // Parent Model to attach this Note to
            parentType: {
                type: String,
                default: null,
            },
            parentId: {
                type: Number,
                default: null,
            },

            // Text or Icon Button
            asIcon: {
                type: Boolean,
                default: false,
            },

            // Variation
            variation: {
                type: String,
                default: "default", // default, primary, error
            },

            // Options to pass through to the sendInertiaForm() request
            submitOptions: {
                type: Object,
                default: {},
            },
        },

        data() {
            if (this.note && ( ! this.note.with?.valid || this.note.with?.class !== 'App\\Models\\Note' ) ) {
                console.error('An invalid Note without a correct model reference was passed in');
            }

            return {
                // State
                dialogVisible: false,
                formLoading: false,

                // Form data
                form: this.$inertia.form({
                    note_id: this.note?.with?.id ?? null,
                }),
                formMessage: null,
                formError: null,
            };
        },

        computed: {
            isLoading() {
              return this.formLoading;
            }
        },

        components: {
            //
        },

        methods: {
            getTitle() {
                return 'Delete Note';
            },
            getOpenButtonName() {
                return 'Delete Note';
            },
            getSubmitButtonName() {
                return 'Delete Note';
            },
            handleOpen() {
                this.formMessage = null;
                this.formError = null;
            },
            handleSubmit() {
                let vm = this;
                let route = 'api.notes.destroy';

                if (this.isLoading) {
                  return false;
                }

                sendInertiaForm(vm, {
                    route: route,
                    ...this.submitOptions,
                });
            },
            submitOnCtrlEnter(e) {
                if (this.dialogVisible && e.keyCode == 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>
