<template>
    <x-page>

        <!-- Users Index -->
        <users-index
            :limit="usersLimit"
            :initialResult="usersResult"
            />

    </x-page>
</template>

<script>
    // Page to show all Users
    import usersIndex from "~/pages/staff/users/components/users-index";

    export default {
        props: {
            usersLimit: null,
            usersResult: Object, // Paginated UserData Collection, keyed by 'users' (to match api.users.list)
        },

        components: {
            usersIndex,
        },

        mounted() {
            this.hydrateLayout();
        },
    };
</script>