<template>
    <x-page>

        <!-- User -->
        <user-show
            :user="user"
            />

    </x-page>
</template>

<script>
    // Page to show a User
    import { Inertia } from "@inertiajs/inertia";

    import userShow from "~/pages/staff/users/components/user-show";

    export default {
        props: {
            user: Object, // UserData DTO
        },

        components: {
            userShow,
        },

        methods: {
            reloadUser() {
                Inertia.reload({ only: ["user"] });
                this.hydrateLayout({ user: this.user });
            },
        },

        mounted() {
            this.hydrateLayout({ user: this.user });
            this.events.on('reloadData', this.reloadUser);
        },
    };
</script>