<template>
    <x-page>

        <!-- Reporting Index -->
        <reporting-index />

    </x-page>
</template>

<script>
    // Page to show Reporting
    import reportingIndex from "~/pages/staff/reporting/components/reporting-index";

    export default {
        props: {
            //
        },

        components: {
            reportingIndex,
        },

        mounted() {
            this.hydrateLayout();
        },
    };
</script>