/* Scopes / Print */
// Default styling for print
// Inspiration: https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

// Ignore print breaks for normal content
.page-break {
    page-break-before: always;
}
.print\:page-break {
    display: none;
}

// Page Setup
@media print {
    
    // Page Size / Print Layout
    @page {
        // size: A4 portrait;
        size: 330mm 427mm;
        margin: 18mm 14mm;
    }

    // Layout
    .layout-container {
        width: 1170px;
    }

    // Force printed content onto the next page
    .print\:page-break {
        display: block;
        page-break-before: always;
    }

}

// Website Layout
@media print {

    // Body
    body {
        //
    }
    .layout-wrapper {
        min-height: auto;
    }

    // Reverse Scope
    // body,
    // .scope-reverse {
    //     background: transparent !important;
    //     color: #{val('colors.gray.darkest')} !important;
    //     --colors-type-body: #{val('colors.gray.darkest')} !important;
    //     --colors-type-title: #{val('colors.gray.darkest')} !important;
    //     --colors-type-primary: #{val('colors.gray.darkest')} !important;
    // }

}

// Web App Layout
// WARNING, be careful with empty x-row components (flex containers set to a row),
// such as an empty default-actionbar.vue, as this commonly causes print issues (~ 20,000 pages when printing).
// If there are no actions for this Project, avoid leaving an empty <x-row> as this may cause the print issues.
@media print {

    // Layout
    .app-root {
        display: block !important;
        min-height: auto !important;
    }
    .app-root__layout {
        padding-left: 0 !important;
    }
    .app-root__sidebar {
        display: none !important;
    }
    .app-root__container {
        display: block !important;
    }
    .app-root__header {
        box-shadow: none !important;
        border-bottom: v('common.border.normal');
    }
    .app-root__body {
        display: block !important;
    }

    .app-root__overlay {
        display: none !important;
    }
    .app-toggle-sidebar {
        display: none !important;
    }

    .app-user-badge {
        background-color: transparent !important;
        border: none !important;
    }
    .app-user-badge__avatar,
    .app-user-badge__menu {
        display: none !important;
    }

    .layout-container {
        width: auto !important;
        max-width: none !important;
    }

}
