/* Scopes / Reverse */
// Shift common / gray text to white

.scope-reverse {
    // CSS Variables (for child elements)
    --colors-type-body: #{val('colors.base', white)};
    --colors-type-title: #{val('colors.base', white)};
    --colors-type-primary: #{val('colors.base', white)};

    // Overrides
    // .style-title:not(.scope-cancel) {
    //     color: #{val('colors.base', white)};
    // }
    .style-divide:not(.scope-cancel) {
        border-color: #{val('colors.base', white)};
    }
}

.scope-reverse:not(.style-link, .style-button) {
    // Direct colors (on this class)
    color: #{val('colors.base', white)};
    // background-color: #{val('colors.reverse', black)}; // TBC
}
