<template>
    <x-page>

        <!-- Organisations Index -->
        <create-contact-form :type="type" />

    </x-page>
</template>

<script>
    // Page to show create a Contact
    import createContactForm from "~/pages/staff/contacts/components/create-contact-form";

    export default {
        props: {
            type: {
                // Contact Type: 'organisation', 'user' (from ContactType.php enum)
                type: String,
                default: null,
            },
        },

        components: {
            createContactForm,
        },

        mounted() {
            this.hydrateLayout();
        },
    };
</script>