<template>
    <Button>
        <x-icon v-if="icon && ! iconRight" :name="icon" :label="iconLabel ?? icon" :size="iconSize" />
        <span><slot /></span>
        <x-icon v-if="icon && iconRight" :name="icon" :label="iconLabel ?? icon" :size="iconSize" variation="right" />
    </Button>
</template>

<script lang="ts">
    // Enhance the Ripple Button to allow for optional icons
    import { defineComponent } from "vue";
    import { Button } from "@river-agency/ripple-vue/"

    export default defineComponent({
        components: { Button },

        props: {
            // Icon
            icon: String,
            iconLabel: String,
            iconSize: {
                type: String,
                default: null,
            },
            iconRight: {
                type: Boolean,
                default: false,
            }
        },

    });
</script>