<template>
    <x-box v-bind="attributes" @click="handleClick">
        <x-icon v-if="icon && ! iconRight" :name="icon" :label="iconLabel ?? icon" :size="iconSize" />
        <span><slot /></span>
        <x-icon v-if="icon && iconRight" :name="icon" :label="iconLabel ?? icon" :size="iconSize" variation="right" />
    </x-box>
</template>

<script lang="ts">
    // EXAMPLE Override the Ripple Button to allow for optional icons
    import { defineComponent } from "vue";
    // import { Box } from "../box";

    export default defineComponent({
        // components: { Box },

        props: {
            as: {
                type: [String, Object],
                default: "button",
            },
            type: {
                type: String,
                default: "button",
                validate: (value: string) => ["button", "submit"].includes(value),
            },
            href: String,
            variation: [String, Object],
            external: Boolean,
            disabled: Boolean,
            readonly: Boolean,
            active: Boolean,
            inertia: {
                // Ignore if external...
                type: Boolean,
                default: true,
            },
            icon: String,
            iconLabel: String,
            iconSize: {
                type: String,
                default: null,
            },
            iconRight: {
                type: Boolean,
                default: false,
            }
        },

        data() {
            return {
                bem: this.$ripple().classNamer("style-button"),
            };
        },

        methods: {
            handleClick(event: Event) {
                // Copied over from Link.vue in Ripple
                if (this.disabled || this.readonly) {
                    event.preventDefault();
                    return;
                }

                // Allow functional buttons (no href)
                if (! this.href) {
                    event.preventDefault();
                    return;
                }

                // Manage inetia links
                if (this.inertia && ! this.external) {
                    event.preventDefault();

                    const Inertia = (this as any).$inertia;
                    if (!Inertia) {
                        console.warn("Inertia plugin is not configured.");
                        return;
                    }

                    return Inertia.visit(this.href, {
                        method: this.method,
                        data: this.data,
                        headers: this.headers,
                        only: this.only,
                        preserveState: this.preserveState,
                        preserveScroll: this.preserveScroll,
                        ...this.options,
                    })
                }

                // Manage external links
                if (this.external) {
                    (window as any).open(this.href, "_blank");
                } else {
                    (window as any).location.href = this.href;
                }
            },
        },

        computed: {
            attributes() {
                let as = this.as;
                let variations = [this.bem.modifier(this.variation)];
                let attributes: { [key: string]: any } = {};

                if (this.href) {
                    // Push href onto the link, to enable open in new tab
                    as = "a";
                    attributes.href = this.href;
                }
                if (this.external) {
                    attributes.target = "_blank";
                    attributes.rel = "noopener nofollower";
                    variations.push(this.bem.modifier("external"));
                }

                if (this.active) {
                    variations.push(this.bem.modifier("active"));
                    attributes["data-state"] = "active";
                }
                if (this.disabled) {
                    variations.push(this.bem.modifier("disabled"));
                    attributes["data-state"] = "disabled";
                }
                if (this.readonly) {
                    variations.push(this.bem.modifier("readonly"));
                    attributes["data-state"] = "readonly";
                }

                return {
                    as,
                    class: [this.bem.block(), ...variations],
                    disabled: this.disabled,
                    readonly: this.readonly,
                    ...attributes,
                };
            },
        },
    });
</script>