/* Components / Banner */
// A customisable display banner

.display-banner {
    position: relative;
    border: none;
    padding-right: 5rem; // Close button
    border-radius: 0;
}
.display-banner.is-closed {
    display: none;
}

.display-banner__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    cursor: pointer;
    height: 2rem;
    padding: 0.1em;
    transition: v("common.transition.fast", all 0.2s ease-in-out);
    transition-property: color;
}
.display-banner__close:hover {
    color: v("colors.gray.normal", slategray);
}

// Responsive
@include design-breakpoint-down("sm") {
    .display-banner {
        padding-right: 3rem; // Close button
    }
    .display-banner__close {
        height: 1.8rem;
        right: 0.8rem;
    }
}
