/* Components / Dropdown Menu */
// A dropdown menu powered by Alpine JS
// Variations: inline, right

// Parent
.dropdown-menu {
    position: relative;
    overflow: visible;
}

// Trigger
.dropdown-menu__trigger {
    display: inline-block;
}

// Submenu
.dropdown-menu__submenu {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    width: auto;
    max-width: 90vw; // 100%
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: v('colors.base', white);
    box-shadow: v('common.shadow.soft', 0px 1px 2px rgb(0 0 0 / 20%));
    // Animation & States
    transition: v('common.transition.fast', 0.2s);
    transition-property: color, background-color, border-color, opacity, background-size, margin-top; //, transform;
    pointer-events: none;
    opacity: 0;
    margin-top: -0.5rem; // Same as margin-top
}
.dropdown-menu__submenu :where(a) {
    // color: v('colors.gray.normal', slategray);
}
:where(.dropdown-menu__submenu) {
    // Low specificity
    margin-top: 1rem;
    padding: 1.5rem 2rem;
    gap: 1rem;
    min-width: 150px;
}
.dropdown-menu__submenu.is-open {
    pointer-events: all;
    opacity: 1;
    margin-top: 1rem;
}

// Variations
.dropdown-menu--inline :where(.dropdown-menu__submenu) {
    padding: 1.0rem 0;
    gap: 0.5rem;
}

.dropdown-menu--left .dropdown-menu__submenu {
    left: 0;
    right: auto;
}
.dropdown-menu--center .dropdown-menu__submenu {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
}
.dropdown-menu--right .dropdown-menu__submenu {
    left: auto;
    right: 0;
}

@include design-breakpoint-down('md') {
    .md-down\:dropdown-menu--left .dropdown-menu__submenu {
        left: 0 !important;
        right: auto !important;
        transform: none !important;
    }
}
