/* Components / Form & Inputs */

// Form
.form-container {
    //
}


// Form Message
.form-message {
    //
}


// Form Control
.form-control {
    position: relative;
    min-width: 10rem;
    color: v('colors.gray.normal', slategray);
}
:where(.form-control) {
    margin-bottom: v('sizes.size.sm', 1.4rem);
}

.form-control--row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .form-control__label {
        margin-bottom: 0;
    }
}
.form-control--row-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    .form-control__label {
        margin-bottom: 0;
        margin-left: 0.5rem;
    }
}

// Form Control - Label
.form-control__label {
    display: inline-block;
    font-size: v('type.size.sm', 1.4rem);
    color: v('colors.gray.normal', slategray);
    letter-spacing: v('type.tracking.wide', 0);
    margin-bottom: v('sizes.size.2xs', 0.5rem);
}

// Form Control - Body
.form-control__body {
    position: relative;
    display: flex;
    align-items: center;
}

// Form Control - Input
.form-control__input {
    // The input fills the parent .display-input container
    display: block;
    width: 100%;
}

// Form Control - Description
.form-control__description {
    display: inline-block;
    font-size: v('type.size.sm', 1.4rem);
    color: v('colors.type.body', slategray);
    font-style: italic;
}

// Form Control - Messages
.form-control__success {
    font-size: v('type.size.sm', 1.4rem);
    color: v('colors.success.normal', #5DA176);
    margin-top: v('sizes.size.tiny', 0.2rem);
}
.form-control__error {
    font-size: v('type.size.sm', 1.4rem);
    color: v('colors.error.normal', #CC2A2B);
    margin-top: v('sizes.size.tiny', 0.2rem);
}

// Form Control - Interaction
// .form-control__body:hover .form-control__input {
//     outline: none;
//     border-color: v('colors.gray.normal', slategray);
// }
// .form-control__body.is-active .form-control__input {
//     outline: none;
//     border-color: v('colors.primary.normal', slateblue);
// }

// Form Control Variation: Button
.form-control--button {
    .form-control__input {
        padding-right: 4rem;
    }
    select.form-control__input {
        -webkit-appearance: none;
    }
    button {
        // Position
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        // Style
        border: none;
        background: transparent;
        cursor: pointer;
        color: v('colors.gray.border', slategray);
        height: 1.5em;
        // Animation
        transition: v('common.transition.fast', all 0.2s ease-in-out);
        transition-property: color;
    }
    button > :where(.style-icon) {
        height: 100%;
    }
    button:hover {
        color: v('colors.primary.normal', slateblue);
    }
}

// Form Control Variation: Icon
.form-control--icon {
    .form-control__input {
        padding-right: 4rem;
    }
    select.form-control__input {
        -webkit-appearance: none;
    }
    .style-icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        // Animation
        transition: v('common.transition.fast', all 0.2s ease-in-out);
        transition-property: margin-top;
    }
    :where(.style-icon) {
        height: 1.0em;
    }
}
.form-control--select {
    .form-control__body:hover .style-icon {
        margin-top: v('sizes.size.tiny', 0.2rem);
    }
}


// Form Input
.form-input {
    font-family: v('type.font.normal', sans-serif);
    font-size: v('type.size.normal', 1.6rem);
    padding: v('sizes.padding.input', 0.8rem 2.0rem);
    line-height: normal; // 1.5em; // Normalise between elements for consistent height
    color: v('colors.type.body', slategray);
    border: solid v('common.border-width.input', 2px) v('colors.gray.border', slategray);
    border-radius: v('common.border-radius.input', 2px);
    // Animation
    transition: v('common.transition.fast', all 0.2s ease-in-out);
    transition-property: color, background-color, border-color, opacity, background-size, transform;
}
.form-input::placeholder {
    color: v('colors.gray.placeholder', slategray);
}

// Form Input- Interaction
.form-input:hover {
    outline: none;
    border-color: v('colors.gray.normal', slategray);
}
.form-input:active, .form-input:focus {
    outline: none;
    border-color: v('colors.primary.normal', slateblue);
}

// Form Input - Custom types
input[type=checkbox].form-input,
input[type=radio].form-input {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0.4em;
    accent-color: v('colors.primary.normal');
}
input[type=checkbox].form-input:not(:first-child),
input[type=radio].form-input:not(:first-child) {
    margin-left: v('sizes.size.sm', 2.0rem);
}
.form-control--checkboxes .form-control__body label,
.form-control--radio .form-control__body label {
    // white-space: nowrap;
}
input[type=checkbox].form-input + .form-control__description {
    margin-left: v('sizes.size.xs', 1.0rem);
}
.form-control--checkbox:hover,
.form-control--checkbox:has(input:checked),
.form-control--radio:hover
.form-control--radio:has(input:checked) {
    .form-control__label {
        color: v('colors.gray.dark', slategray);
    }
}
textarea.form-input {
    min-height: 10rem;
}
