/* Components / Hero */
// A hero banner with image and text
// Variations: large, small

.display-hero {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 25vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: v('colors.gray.bg', ghostwhite);
}
.display-hero__cover {
    background-color: v('colors.alpha', rgba(black, 0.1));
}
.display-hero__more {
    display: inline-block;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}
.display-hero__more a {
    display: inline-block;
    color: val('colors.base', white);
    // Animation
    transition: v('common.transition.fast', all 0.2s ease-in-out);
    transition-property: transform;
}
.display-hero__more a:hover {
    transform: translateY(0.5rem);
}
.display-hero__more a > .style-icon {
    height: 2rem;
}
.display-hero__more:hover {
    > .style-icon {
        transform: translateY(0.5rem);
    }
}

// Variations
.display-hero--img .style-title,
.display-hero--img .style-text {
    color: val('colors.base', white);
}

.display-hero--fullscreen {
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.display-hero--large {
    min-height: 75vh;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.display-hero--small {
    min-height: 12vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
