/* Components / Layout */
// Page layout components (structure, header, footer, mobile menu)

// Layout Structure (sticky footer)
.layout-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

.layout-body__content {
    position: relative;
    flex-grow: 1;
}

// Header
.layout-header {
    position: relative;
    padding: v("sizes.size.normal", 3rem) 0;
    background-color: v("colors.base", white);
    color: v("colors.gray.dark", slategray);
}

.layout-header--floating {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
}

// Header - Fixed
// Powered by @river-common/common/fixedHeader.js
// PENDING update
// .layout-header.is-fixed {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: auto;
//     z-index: 999;
//     // Style updates
//     padding: v("sizes.size.small", 2rem) 0;
//     box-shadow: v("common.shadow.soft", 0px 1px 2px rgb(0 0 0 / 20%));
//     background-color: val("colors.base", white);
// }

// .layout-header.scope-reverse.is-fixed {
//     background-color: val("colors.reverse", black);
// }

// @media (prefers-reduced-motion: no-preference) {
//     .layout-header.is-fixed {
//         // Animation
//         animation-name: layout-header--slide-in;
//         animation-duration: v("common.speed.fast", 0.2s);
//         animation-iteration-count: 1;
//     }

//     @keyframes layout-header--slide-in {
//         from {
//             transform: translateY(-100%);
//         }
//         to {
//             transform: translateY(0);
//         }
//     }
// }

// Footer
.layout-footer {
    position: relative;
    padding: v("sizes.size.normal", 3rem) 0;
    color: v("colors.gray.normal", slategray);
    background-color: v("colors.gray.bg", ghostwhite);
}

@include design-breakpoint-down("sm") {
    .layout-footer {
        text-align: center;
    }
    .layout-footer .flex {
        justify-content: center;
    }
}

// Mobile Menu
body.has-mobile-menu {
    overflow: hidden;
}
.mobile-menu {
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: v("colors.base", white);
    min-width: 320px;
    // Animation
    transition: v("common.transition.fast", all 0.2s ease-in-out);
    transition-property: opacity;
    pointer-events: none;
    opacity: 0;
}
.mobile-menu.is-open {
    pointer-events: all;
    opacity: 1;
}
.mobile-menu__close {
    position: absolute;
    top: 3rem;
    right: 4rem;
    cursor: pointer;
    height: 2rem;
    padding: 0.1em;
    color: v("colors.gray.light", slategray);
    transition: v("common.transition.fast", all 0.2s ease-in-out);
    transition-property: color;
}
.mobile-menu__close:hover {
    color: v("colors.gray.normal", slategray);
}
.mobile-menu menu {
    padding: 0;
}
.mobile-menu__body {
    padding: 3rem;
}
.mobile-menu__card {
    position: relative;
    padding: 3rem 4rem;
    border: 2rem solid v('colors.gray.border');
}
