/* Components / Mobile Menu Toggle */
// A simple mobile menu toggle button with multiple animation variations
// Variation animations: offset, inverse, plus, up, arrow

// Parent
.mobile-menu-toggle {
    display: inline-block;
    position: relative;
    color: currentColor;
    cursor: pointer;
    width: 24px;
    height: 16px;

    // Children (style)
    span {
        display: block;
        position: absolute;
        left: 0%;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        border-radius: 2px;
        // Animation
        transition: val('common.transition.fast', all 0.2s ease-in-out);
        transition-property: transform, top, left, width, height, opacity;
    }

    // Children (position)
    span:nth-child(1) {
        top: 0%;
    }
    span:nth-child(2) {
        top: 50%;
    }
    span:nth-child(3) {
        top: 100%;
    }
}

// Variation: offset
.mobile-menu-toggle--offset {
    // Children (position)
    span:nth-child(3) {
        width: 75%;
    }
}
.mobile-menu-toggle--offset:hover,
.mobile-menu-toggle--offset:active, .mobile-menu-toggle--offset.is-active {
    // Children (position)
    span:nth-child(1) {
        top: 50%;
    }
    span:nth-child(2) {
        top: 0%;
    }
    span:nth-child(3) {
        left: 25%;
    }
}

// Variation: inverse
.mobile-menu-toggle--inverse {
    // Children (position)
    span:nth-child(3) {
        width: 75%;
    }
}
.mobile-menu-toggle--inverse:hover,
.mobile-menu-toggle--inverse:active, .mobile-menu-toggle--inverse.is-active {
    // Children (position)
    span:nth-child(1) {
        top: 100%;
    }
    span:nth-child(3) {
        top: 0%;
        left: 25%;
    }
}

// Variation: plus
.mobile-menu-toggle--plus {
    // Children (position)
    span:nth-child(3) {
        width: 100%;
    }
}
.mobile-menu-toggle--plus:hover,
.mobile-menu-toggle--plus:active, .mobile-menu-toggle--plus.is-active {
    // Children (position)
    span:nth-child(1) {
        top: 50%;
    }
    span:nth-child(3) {
        top: 50%;
    }
    span:nth-child(2) {
        transform: rotate(90deg);
        width: 80%;
        left: 10%;
    }
}

// Variation: up
.mobile-menu-toggle--up:hover,
.mobile-menu-toggle--up:active, .mobile-menu-toggle--up.is-active {
    // Children (position)
    span:nth-child(1) {
        transform: rotate(90deg);
        left: -30%;
        width: 80%;
        top: 50%;
    }
    span:nth-child(2) {
        transform: rotate(90deg);
        left: 0%;
        width: 80%;
        top: 40%;
    }
    span:nth-child(3) {
        transform: rotate(-90deg);
        left: 30%;
        width: 80%;
        top: 50%;
    }
}

// Variation: arrow
.mobile-menu-toggle--arrow {
    // Children (position)
    span:nth-child(1) {
        width: 100%;
    }
    span:nth-child(2) {
        width: 75%;
    }
    span:nth-child(3) {
        width: 50%;
    }
}
.mobile-menu-toggle--arrow:hover,
.mobile-menu-toggle--arrow:active, .mobile-menu-toggle--arrow.is-active {
    // Children (position)
    span:nth-child(1) {
        width: 50%;
        left: 50%;
    }
    span:nth-child(2) {
        width: 75%;
        left: 25%;
    }
    span:nth-child(3) {
        width: 100%;
    }
}
