/* Components / Modal */
// An interactive popup modal

// Modal
body.has-modal-popup {
    overflow: hidden;
}
.modal-wrapper {
    display: inline-block;
}
.modal-popup {
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    // Animation
    transition: v('common.transition.normal', all 0.5s ease-in-out);
    transition-property: opacity;
    pointer-events: none;
    opacity: 0;
}
.modal-popup.is-open {
    pointer-events: all;
    opacity: 1;
}
.modal-popup__body {
    position: relative;
    width: 80%;
    max-width: 100rem;
    width: clamp(40rem, 80%, 100rem);
    margin: auto;
}
:where(.modal-popup__body) {
    background-color: v('colors.base', white);
    padding: v('sizes.size.small', 2rem) v('sizes.size.normal', 3rem);
}
.modal-popup__close {
    position: absolute;
    top: 1.5rem;
    right: 2.0rem;
    cursor: pointer;
    height: 2rem;
    padding: 0.1em;
    color: v('colors.gray.light', slategray);
    transition: v('common.transition.fast', all 0.2s ease-in-out);
    transition-property: color;
}
.modal-popup__close:hover {
    color: v('colors.gray.normal', slategray);
}

// Variation: Inline
.modal-popup--inline {
    .modal-popup__body {
        width: auto;
        max-width: 80rem;
    }
    .modal-popup__close {
        top: 0.8rem;
        right: 1.0rem;
        height: 1.5rem;
    }
}
:where(.modal-popup--inline .modal-popup__body) {
    padding: v('sizes.size.x-small', 1rem) v('sizes.size.small', 2rem);
}
