/* Components / Pagination */
// Used for Laravel pagination, views/vendor/pagination/tailwind.blade.php

.pagination {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: v('colors.gray.normal', slategray);
    font-size: v('type.size.normal', 1.71rem);
    span, a {
        padding: 0.5rem 0.25em;
    }
    a {
        text-decoration: none;
        color: v('colors.gray.normal', slategray);
        cursor: pointer;
        transition: v('common.transition.fast', all 0.2s ease-in-out);
        transition-property: color;
    }
    a:hover {
        color: v('colors.primary.normal', slateblue);
    }
    .active span {
        color: v('colors.gray.dark', slategray);
        font-weight: v('type.weight.bold', bold);
    }
    .separator {
        margin: 0.5rem 0;
    }
}
