<template>
    <x-page>

        <x-grid columns="1 md:3" class="grid-cards-grow">
            <x-grid-cell flex>

                <!-- Organisations -->
                <organisations-list
                    title="Your Organisations"
                    :initialResult="organisationsResult"
                    :limit="organisationsLimit"
                    :actionable="false"
                    />

            </x-grid-cell>
            <x-grid-cell display="flex">

                <!-- Tickets -->
                <x-display-card>
                    <x-box class="project-list">
                        <x-title-divide :size="4" mb="normal">Your Tickets</x-title-divide>
                        <el-input placeholder="Search Tickets...">
                            <template #suffix>
                                <x-icon name="uiSearch" label="Search" size="1em" />
                            </template>
                        </el-input>
                        <x-caption mt="lg">Tickets are not currently available...</x-caption>
                    </x-box>
                </x-display-card>

            </x-grid-cell>
            <x-grid-cell>

                <!-- Projects -->
                <x-display-card>
                    <x-box class="project-list">
                        <x-title-divide :size="4" mb="normal">Related Projects</x-title-divide>
                        <el-input placeholder="Search Projects...">
                            <template #suffix>
                                <x-icon name="uiSearch" label="Search" size="1em" />
                            </template>
                        </el-input>
                        <x-caption mt="lg">Projects are not currently available...</x-caption>
                    </x-box>
                </x-display-card>

            </x-grid-cell>

        </x-grid>

    </x-page>
</template>

<script>
    // Dashboard
    import OrganisationsList from "~/components/contacts/organisations-list.vue";

    export default {
        props: {
            organisationsLimit: Number,
            organisationsResult: Object, // Paginated OrganisationData Collection, keyed by 'organisations' (to match api.organisations.list)
        },

        data() {
            return {
                admin: this.$page.props.auth.user,
            };
        },

        components: {
            OrganisationsList,
        },

        mounted: function() {
            this.hydrateLayout();
        }
    }
</script>