<template>
    <x-section py="small">
        <x-container size="normal">
            <x-title size="4" as="h2">Message: {{ message }}!</x-title>

            <!-- Render our TEST component -->
            <TestComponent></TestComponent>
            <TestComponent message="example message"></TestComponent>
        </x-container>

    </x-section>
</template>

<script lang="ts" setup>
import TestComponent from "~/components/test-component.vue";

defineProps<{
  user: App.Data.UserData,
  message: string
}>();
</script>
