<template>
    <x-page>

        <!-- Organisations Index -->
        <organisations-index
            :limit="organisationsLimit"
            :initialResult="organisationsResult"
            />

    </x-page>
</template>

<script>
    // Page to show all Organisations
    import organisationsIndex from "~/pages/staff/organisations/components/organisations-index";

    export default {
        props: {
            organisationsLimit: null,
            organisationsResult: Object, // Paginated OrganisationData Collection, keyed by 'organisations' (to match api.organisations.list)
        },

        components: {
            organisationsIndex,
        },

        mounted() {
            this.hydrateLayout();
        },
    };
</script>