<template>
    <x-page>

        <!-- Organisation -->
        <organisation-show
            :organisation="organisation"
            />

    </x-page>
</template>

<script>
    // Page to show an Organisation
    import { Inertia } from "@inertiajs/inertia";

    import organisationShow from "~/pages/staff/organisations/components/organisation-show";

    export default {
        props: {
            organisation: Object, // OrganisationData DTO
        },

        components: {
            organisationShow,
        },

        methods: {
            reloadOrganisation() {
                Inertia.reload({ only: ["organisation"] });
                this.hydrateLayout({ organisation: this.organisation });
            },
        },

        mounted() {
            this.hydrateLayout({ organisation: this.organisation });
            this.events.on('reloadData', this.reloadOrganisation);
        },
    };
</script>