<template>
    <!-- Activity List -->
    <x-box class="activity-list">

        <!-- Title -->
        <x-title-divide v-if="title" mb="normal" :adjunct="totalCount !== null ? totalCount + ' Total' : ''">{{ title }}</x-title-divide>

        <!-- Search -->
        <x-stack v-if="searchable || filterable"
            class="activity-list__search"
            mb="normal"
            gap="xs">
            <list-search v-if="searchable" v-model="activitiesParams" :result="activitiesResult" />
            <el-select v-if="filterable" filterable clearable v-model="activitiesParams.type" placeholder="All Types...">
                <el-option
                    v-for="(label, key) in activityTypes"
                    :key="key"
                    :label="label"
                    :value="key"
                    />
            </el-select>
            <el-select v-if="filterable" filterable clearable v-model="activityOption" placeholder="All Options...">
                <el-option
                    v-for="(label, key) in activityOptions"
                    :key="key"
                    :label="label"
                    :value="key"
                    />
            </el-select>
        </x-stack>

        <!-- List -->
        <x-stack
            class="activity-list__cards"
            v-loading="activitiesLoading"
            gap="normal"
            >
            <template v-if="activities.length" v-for="activity in activities" :key="activity.id">
                <activity-card
                    :actionable="actionable"
                    :activity="activity"
                    :previousId="previousId"
                    :highightNewEnabled="highightNewEnabled && highightNew"
                    />
                <x-divide my="none" />
            </template>
            <x-caption v-else>{{ noResultsText }}</x-caption>
        </x-stack>

        <!-- Paging -->
        <x-box v-if="showPagination" mb="auto">
            <x-space height="normal" />
            <list-paging v-model="activitiesParams" :result="activitiesResult" mt="auto" />
        </x-box>

        <!-- Actions -->
        <x-row v-if="actionable"
            class="activity-list__actions"
            gap="sm"
            mt="sm"
            >
            <add-edit-note-action
                :subjectType="subjectType"
                :subjectId="subjectId"
                :parentType="parentType"
                :parentId="parentId"
                variation="default"
                :submitOptions="{ visit: false, reloadData: true }"
                />
        </x-row>

    </x-box>

</template>

<script>
    // A list of Activity cards, pulled from the api.activities.list API route with paging.
    import axios from "axios";
    import { ElNotification } from "element-plus";

    import inputConfigs from "~/config/inputs-config";
    import ActivityCard from "./activity-card.vue";
    import ListSearch from "~/components/shared/list-search.vue";
    import ListPaging from "~/components/shared/list-paging.vue";
    import AddEditNoteAction from "~/components/activity/actions/add-edit-note-action.vue";

    export default {
        props: {
            // Subject model to filter data against
            // Note, a subject is required to successfully add a Note
            subjectType: {
                type: String,
                default: null,
            },
            subjectId: {
                type: Number,
                default: null,
            },

            // Parent Model to filter data against
            // Note, the parent is often what we filter against
            parentType: {
                type: String,
                default: null,
            },
            parentId: {
                type: Number,
                default: null,
            },

            initialResult: {
                // Optionally pass in initial results to skip the first load (should match the route api.activities.list)
                // This should be a Paginated DisplayActivityData Collection, keyed by 'activities' (to match api.activities.list route)
                type: Object,
                default: null,
            },
            title: {
                // Set as null to hide
                type: String,
                default: 'Notes & Activity',
            },
            searchable: {
                type: Boolean,
                default: true,
            },
            filterable: {
                type: Boolean,
                default: true,
            },
            actionable: {
                type: Boolean,
                default: true,
            },
            limit: {
                type: Number,
                default: 4,
            },
            total: {
                type: Number,
                default: null,
            },
            status: {
                // Note, this should be strictly typed from the backend ActivityStatus.php enum
                type: String,
                default: null,
            },
            highightNew: {
                // Whether to highlight or "flash" new Activity (via previousId)
                type: Boolean,
                default: true,
            },
            defaultParams: {
                type: Object,
                default: {}
            },
        },

        data() {
            return {
                // New Activity UX
                previousId: null,
                latestId: null,
                highightNewEnabled: false,

                // Search & Paging
                activitiesLoading: false,
                activitiesResult: this.initialResult ? this.initialResult.activities : null,
                activities: this.initialResult ? this.initialResult.activities.data : [],
                activitiesLastPage: this.initialResult ? this.initialResult.activities.last_page : null,
                activitiesParams: {
                    limit: this.limit,
                    page: 1,
                    author_type: null,
                    author_id: null,
                    subject_type: this.subjectType ?? null,
                    subject_id: this.subjectId ?? null,
                    parent_type: this.parentType ?? null,
                    parent_id: this.parentId ?? null,
                    keyword: null,
                    type: null,
                    pinned: null,
                    important: null,
                    attachment: null,
                },
                activitiesParamsOld: null,

                // Filtering
                activityOption: null,

                // Total Count
                totalCount: this.total,
            };
        },

        components: {
            ActivityCard,
            ListSearch,
            ListPaging,
            AddEditNoteAction,
        },

        computed: {
            ...inputConfigs,
            noResultsText() {
                if (this.searchable || this.filterable) {
                    return 'No matching Activity...';
                }
                return 'No Activity...';
            },
            showPagination() {
                if (this.searchable || this.filterable || this.actionable || this.limit) {
                    return true;
                }
                return false;
            },
        },

        watch: {
            activitiesParams: {
                handler(newValue) {
                    if (this.activitiesParamsOld && newValue.keyword !== this.activitiesParamsOld.keyword) {
                        // Reset the page if we are searching via keyword input
                        newValue.page = 1;
                    }
                    this.fetchActivities();
                },
                deep: true
            },
            activityOption: {
                handler(newValue) {
                    this.activitiesParams.pinned = ( newValue == 'pinned' ? true : null );
                    this.activitiesParams.important = ( newValue == 'important' ? true : null );
                    this.activitiesParams.attachment = ( newValue == 'attachment' ? true : null );
                }
            }
        },

        methods: {
            fetchActivities() {
                this.activitiesLoading = true;
                this.activitiesParamsOld = { ...this.activitiesParams };
                this.activities = []; // Clear existing Notes to reset their state (otherwise we cannot re-edit the same Note)

                axios
                    .get(this.route('api.activities.list', {
                        // Override with default parameters
                        ...this.activitiesParams,
                        ...this.defaultParams,
                    }))
                    .then((res) => {
                        // console.log('Fetched Activities', res.data.activities);
                        this.activitiesResult = res.data.activities;
                        this.activities = res.data.activities.data;
                        this.activitiesLastPage = res.data.activities.last_page;
                        this.activitiesLoading = false;
                        this.totalCount = res.data.activities.total;
                    })
                    .catch((err) => {
                        // console.log('Error fetching Activities', err);
                        ElNotification({
                            title: 'Error Loading Activities',
                            message: 'An error occured loading the Activities.',
                            type: 'error',
                        });
                    });
            },
        },

        mounted() {
            // reloadData Event
            this.events.on('reloadData', this.fetchActivities);

            // Fetch Activities only if they have not been passed through to us
            if (! this.activitiesResult) {
                this.fetchActivities();
            }

            // Note the previous vs. latest activity ID we have seen for this Survivor
            // This allows us to "flash" the latest activity cards to the user; see activity-list-card@isNewActivity(...)
            // if (this.survivor && this.highightNew) {
            //     let index = this.survivor.id;
            //     let previousActivityList = JSON.parse(localStorage.getItem('previousActivityList')) ?? {};

            //     // Check local storage for the previous Activity ID we have seen for this Survivor
            //     this.previousId = previousActivityList[index] ?? null;

            //     // Check the latest (highest) Activity ID we have in our records for this Survivor
            //     this.latestId = 0;
            //     for (let a in this.activities) {
            //         this.latestId = Math.max(this.latestId, this.activities[a].id);
            //     }

            //     // Update local storage to note the latest Activity ID we have seen
            //     if (this.latestId) {
            //         previousActivityList[index] = this.latestId;
            //         localStorage.setItem('previousActivityList', JSON.stringify(previousActivityList));
            //     }
            //     // console.log('Activity Record', this.previousId, this.latestId);
            // }

            // Manage whether we are enabling "new" activity to flash to the user (UX)
            if (this.highightNew) {
                let vm = this;
                clearTimeout(vm.highightNewEnabled);
                setTimeout(function() {
                    // Enable "new" activity (flash)
                    vm.highightNewEnabled = true;
                }, 200);
                setTimeout(function() {
                    // Disable "new" activity (return to normal)
                    vm.highightNewEnabled = false;
                }, 1000);
            }

        },
    };
</script>

<style lang="scss">
    .activity-list {
        display: flex;
        flex-direction: column;
        min-height: 60rem;
    }
</style>