<template>
    <!-- Activity Card -->
    <x-inner-card class="activity-card" m="none" :activity-new="isNewActivity(activity.id)">

        <!-- Header -->
        <x-row mb="xs" color="gray.placeholder" alignItems="center" class="activity-card__header">
            <x-label color="gray.placeholder" class="activity-card__label">{{ activity.typeLabel }}</x-label>
            <x-row v-if="activity.type == 'note'" ml="sm" gap="xs" class="activity-card__actions">
                <add-edit-note-action asIcon :note="activity" :submitOptions="{ visit: false, reloadData: true }" />
                <delete-note-action asIcon :note="activity" :submitOptions="{ visit: false, reloadData: true }" />
            </x-row>
            <x-row ml="auto" gap="2xs" class="activity-card__options">
                <template v-if="activity.isPinned">
                    <el-tooltip content="Pinned" effect="dark" placement="top">
                        <x-icon size="1.2em" name="heroArrowDownOnSquare" label="Pinned" />
                    </el-tooltip>
                </template>
                <template v-if="activity.isImportant">
                    <el-tooltip v-if="activity.isImportant" content="Important" effect="dark" placement="top">
                        <x-icon size="1.2em" name="heroExclamationCircle"  label="Important" />
                    </el-tooltip>
                </template>
                <template v-if="activity.hasAttachments">
                    <el-tooltip v-if="activity.isImportant" content="Attachments" effect="dark" placement="top">
                        <x-icon name="heroDocumentText"  label="Attachments" />
                    </el-tooltip>
                </template>
            </x-row>
        </x-row>

        <!-- Author -->
        <x-row wrap="wrap" gapX="xs" gapY="none" alignItems="baseline" mb="xs" class="activity-card__author">
            <x-text color="gray.dark" size="sm">{{ activity.authorName }}, {{ activity.dateLabel }}</x-text>
            <x-adjunct>{{ activity.authorType ? activity.authorType + ', ' : '' }}{{ activity.dateDiff }}{{ activity.edited ? ' (edited)' : '' }}</x-adjunct>
        </x-row>

        <!-- Body (content) -->
        <x-box class="activity-card__body">
            <x-text color="gray.dark" size="sm">
                <x-box as="span" weight="title" v-if="activity.title">{{ activity.title }}:&nbsp;</x-box>
                <x-box as="span" v-html="activity.messageHtml ?? activity.message ?? '-'" />
            </x-text>
        </x-box>

        <!-- Actions -->
        <x-box v-if="actionable" class="activity-card__actions">
            <x-row gap="sm">
                <x-button
                    v-if="activity.pageLink && activity.pageLink.active && activity.pageLink.url !== currentUrl"
                    :href="activity.pageLink.url"
                    variation="default small"
                    icon="uiRight" iconLabel=">" :iconRight="true"
                    mt="xs"
                    >{{ activity.pageLink.name }}</x-button>
                <x-box v-if="activity.hasAttachments" mt="xs">
                    <el-tooltip :content="'Download Attachment: ' + activity.attachmentName" effect="dark" placement="top">
                        <el-button type="default" variation="small" @click="openAttachment(activity.attachmentLocation)">
                            <span>Attachment</span>
                            <x-icon variation="right" name="uiRight" label=">" :size="null" />
                        </el-button>
                    </el-tooltip>
                </x-box>
                <span><!-- PLACEHOLDER; avoid an empty flex row, otherwise we will create a Print issue with ~ 20,000 pages --></span>
            </x-row>
        </x-box>

    </x-inner-card>
</template>

<script>
    // A card that represents an Activity, to go into an Activity List
    import AddEditNoteAction from './actions/add-edit-note-action.vue'
    import DeleteNoteAction from './actions/delete-note-action.vue'

    export default {
        props: {
            activity: Object, // DisplayActivityData DTO
            actionable: {
                type: Boolean,
                default: true,
            },
            previousId: {
                type: Number,
                default: null
            },
            newEnabled: {
                type: Boolean,
                default: false,
            }
        },

        data() {
            return {
                activityOpen: false,
                currentUrl: window.location.href,
            }
        },

        components: {
            AddEditNoteAction,
            DeleteNoteAction,
        },

        methods: {
            openAttachment(attchmentLocation) {
                window.open(attchmentLocation, '_blank');
            },
            isNewActivity(id) {
                // Whether this activity should be considered "new" (UX styling to alert the user)
                return this.previousId && this.newEnabled
                    ? id > this.previousId
                    : false;
            },
        },
    };
</script>

<style lang="scss">
    .activity-card {
        position: relative;
        border-radius: 1rem;
        // Animation comes from .inner-card
    }
    .activity-card[activity-new=true] {
        // UX styling to alert the user
        // background-color: v('colors.gray.bg');
        background-color: v('colors.reverse');
    }
</style>