<!-- Organisations: Show Details -->
<template>

    <!-- Details + Actions -->
    <x-grid columns="1 md:3" gap="normal" class="organisation-details grid-cards-grow">

        <!-- Organisation Details -->
        <x-grid-cell span="1 md:2">
            <x-display-card>
                <x-title size="5" mb="normal">Organisation Details</x-title>

                <!-- Organisation Details: Tabs -->
                <organisation-show-tabs :organisation="organisation" />

            </x-display-card>
        </x-grid-cell>

        <!-- Organisation Actions -->
        <x-grid-cell span="1">
            <x-display-card>
                <x-title-divide mb="normal">Actions</x-title-divide>

                <x-row wrap="wrap" gap="sm">
                    <add-edit-note-action
                        :subjectType="organisation.modelType"
                        :subjectId="organisation.modelId"
                        :parentType="organisation.modelType"
                        :parentId="organisation.modelId"
                        variation="primary"
                        :submitOptions="{ visit: false, reloadData: true }"
                        />
                    <organisation-edit-details-action
                        :organisation="organisation"
                        variation="default"
                        :submitOptions="{ visit: false, reloadData: true }"
                        />
                </x-row>
            </x-display-card>
        </x-grid-cell>

    </x-grid>

    <!-- Activity & Lists -->
    <x-space height="normal" />

    <x-grid columns="1 md:3" gap="normal" class="organisation-lists grid-cards-grow">

        <!-- Activity & Notes -->
        <x-display-card>
            <!-- @debt type class from the backend -->
            <activity-list
                :subjectType="organisation.modelType"
                :subjectId="organisation.modelId"
                :parentType="organisation.modelType"
                :parentId="organisation.modelId"
                :searchable="true"
                :limit="activitiesLimit"
                :total="activitiesCount"
                :initialResult="activitiesResult"
                :defaultParams="{}"
                />
        </x-display-card>

        <!-- Tickets -->
        <x-display-card>
            <x-box class="project-list">
                <x-title-divide mb="normal">Tickets</x-title-divide>
                <el-input placeholder="Search Tickets...">
                    <template #suffix>
                        <x-icon name="uiSearch" label="Search" size="1em" />
                    </template>
                </el-input>
                <x-caption mt="lg">Tickets are not currently available...</x-caption>
            </x-box>
        </x-display-card>

        <!-- Projects -->
        <x-display-card>
            <x-box class="project-list">
                <x-title-divide mb="normal">Projects</x-title-divide>
                <el-input placeholder="Search Projects...">
                    <template #suffix>
                        <x-icon name="uiSearch" label="Search" size="1em" />
                    </template>
                </el-input>
                <x-caption mt="lg">Projects are not currently available...</x-caption>
            </x-box>
        </x-display-card>

    </x-grid>

</template>

<script>
    // Show details for an Organisation
    import { Inertia } from "@inertiajs/inertia";

    import OrganisationShowTabs from "~/pages/staff/organisations/components/organisation-show-tabs";
    import ActivityList from "~/components/activity/activity-list.vue";
    import AddEditNoteAction from "~/components/activity/actions/add-edit-note-action.vue";
    import OrganisationEditDetailsAction from "~/components/contacts/actions/organisation-edit-details-action.vue";

    export default {
        props: {
            // Organisation
            organisation: Object, // OrganisationData DTO

            // Activities
            activitiesLimit: null,
            activitiesResult: Object, // Paginated ActivityData Collection, keyed by 'activities' (to match api.activities.list)
            activitiesCount: null,
        },

        data() {
            return {
                //
            };
        },

        computed: {
            //
        },

        components: {
            OrganisationShowTabs,
            ActivityList,
            AddEditNoteAction,
            OrganisationEditDetailsAction,
        },

        methods: {
            //
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    .organisation-details {
        //
    }
</style>