<!-- Organisations: Show Details / Tabs -->
<template>
    <el-tabs type="border-card">

        <!-- Overview -->
        <el-tab-pane label="Overview">
            <x-grid columns="1 sm:2 lg:3" mt="sm">
                <x-label-value label="Organisation Name">{{ organisation.name }}</x-label-value>
                <x-label-value label="Reference Code">{{ organisation.reference ?? '-' }}</x-label-value>
                <x-label-value label="Industry">{{ organisation.industry ?? '-' }}</x-label-value>
                <x-label-value label="Website">{{ organisation.website ?? '-' }}</x-label-value>
                <x-label-value label="Phone">{{ organisation.phone ?? '-' }}</x-label-value>
                <x-label-value label="Email">{{ organisation.email ?? '-' }}</x-label-value>
                <x-label-value label="Type">{{ organisation.typeLabel ?? '-' }}</x-label-value>
                <x-grid-cell span="1 sm:2">
                    <x-label-value :label="organisation.address ? 'Address' : 'Location'">{{ organisation.addressLabel ?? '-' }}</x-label-value>
                </x-grid-cell>
            </x-grid>
            <x-divide my="normal" />
            <x-label-value label="Comments" :value="organisation.commentsHtml ?? '-'" />
            <x-row gap="sm" mt="normal">
                <organisation-edit-details-action
                    :organisation="organisation"
                    variation="default"
                    :submitOptions="{ visit: false, reloadData: true }"
                    />
            </x-row>
        </el-tab-pane>

        <!-- People -->
        <el-tab-pane label="People">
            People...
        </el-tab-pane>

    </el-tabs>
</template>

<script>
    // Tabs to show and manage an Organisation
    import OrganisationEditDetailsAction from "~/components/contacts/actions/organisation-edit-details-action.vue";

    export default {
        props: {
            organisation: Object, // OrganisationData DTO
        },

        data() {
            return {
                //
            };
        },

        computed: {
            //
        },

        components: {
            OrganisationEditDetailsAction,
        },

        methods: {
            //
        },

        mounted() {
            //
        },
    };
</script>