<!-- Organisations: Index List -->
<template>

    <!-- Search -->
    <x-form-grid>
        <x-form-control for="input_keyword" label="Quick Search">
            <el-input id="input_keyword" v-model="organisationsParams.keyword" placeholder="Name or Reference Code...">
                <template #suffix>
                    <x-icon name="uiSearch" label="Search" size="1em" />
                </template>
            </el-input>
        </x-form-control>
        <x-form-control for="input_type" label="Organisation Type">
            <el-select
                filterable clearable default-first-option
                id="input_type"
                v-model="organisationsParams.type"
                placeholder="Any Type..."
                >
                <el-option v-for="(label, key) in organisationTypeOptions" :key="key" :label="label" :value="key" />
            </el-select>
        </x-form-control>
        <x-form-control for="input_year" label="Year Added" display="none md:block!">
            <el-date-picker
                id="input_year"
                v-model="organisationsParams.year"
                type="year"
                format="YYYY"
                value-format="YYYY"
                placeholder="Select Year..."
                />
        </x-form-control>
    </x-form-grid>

    <!-- Cards -->
    <x-divide mt="lg" mb="2xl" />

    <x-form-grid v-loading="organisationsLoading">
        <template v-if="organisations.length" v-for="organisation in organisations" :key="organisation.id">
            <x-display-card>
                <organisation-card :organisation="organisation" />
            </x-display-card>
        </template>
        <x-caption v-else>No matching Organisations...</x-caption>
    </x-form-grid>

    <x-divide mt="2xl" mb="lg" />

    <!-- Paging -->
    <x-form-grid>
        <list-paging v-model="organisationsParams" :result="organisationsResult" />
    </x-form-grid>

</template>

<script>
    // Index page for Organisations
    import axios from "axios";
    import { ElNotification } from 'element-plus'
    import debounce from 'lodash/debounce'

    import inputConfigs from "~/config/inputs-config";
    import OrganisationCard from "~/components/contacts/organisation-card.vue";
    import ListPaging from "~/components/shared/list-paging.vue";

    export default {
        props: {
            initialResult: {
                // Optionally pass in initial results to skip the first load (should match the route api.organisations.list)
                // This should be a Paginated OrganisationData Collection, keyed by 'organisations' (to match api.organisations.list route)
                type: Object,
                default: null,
            },
            limit: {
                type: Number,
                default: 12,
            },
            searchable: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                // Search & Paging
                organisationsLoading: false,
                organisationsResult: this.initialResult ? this.initialResult.organisations : null,
                organisations: this.initialResult ? this.initialResult.organisations.data : [],
                organisationsLastPage: this.initialResult ? this.initialResult.organisations.last_page : null,
                organisationsParams: {
                    limit: this.limit,
                    page: 1,
                    keyword: null,
                    type: null,
                    year: null,
                    status: 'active', // @debt type from backend; this should match default state of OrganisationController@index
                },
                organisationsParamsOld: null,
            };
        },

        components: {
            OrganisationCard,
            ListPaging,
        },

        computed: {
            ...inputConfigs,
        },

        watch: {
            organisationsParams: {
                handler(newValue) {
                    if (this.organisationsParamsOld && newValue.page == this.organisationsParamsOld.page) {
                        // Reset the page back to 1, if any param other than page has changed
                        newValue.page = 1;
                    }
                    this.fetchOrganisations();
                },
                deep: true,
            },
        },

        methods: {
            fetchOrganisations: debounce(function() {
                this.organisationsLoading = true;
                this.organisationsParamsOld = { ...this.organisationsParams };

                axios
                    .get(this.route("api.organisations.list", this.organisationsParams))
                    .then((res) => {
                        // console.log('Fetched organisations', res.data.organisations);
                        this.organisationsResult = res.data.organisations;
                        this.organisations = res.data.organisations.data;
                        this.organisationsLastPage = res.data.organisations.last_page;
                        this.organisationsLoading = false;
                    })
                    .catch((err) => {
                        // console.log('Error fetching organisations', err);
                        ElNotification({
                            title: "Error Loading Organisations",
                            message: "An error occured loading the Organisations.",
                            type: "error",
                        });
                    });
            }, 200),
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>