<template>
    <x-box v-bind="attributes">
        <slot />
    </x-box>
</template>

<script>
    import { defineComponent } from "vue";

    export default defineComponent({
        props: {
            variation: String,
            // Input settings
            for: {
                type: String,
                default: null,
            },
            label: {
                type: String,
                default: null,
            },
            description: {
                type: String,
                default: null,
            },
            error: {
                type: String,
                default: null,
            },
            success: {
                type: String,
                default: null,
            },
        },

        data() {
            return {
                bem: this.$ripple().classNamer("form-input"),
            };
        },

        computed: {
            attributes() {
                let classes = [this.bem.block(), this.bem.modifier(this.variation)];

                return {
                    class: classes,
                };
            },
        },
    });
</script>

<style lang="scss">
    //
</style>