<template>
    <x-box v-bind="attributes">

        <!-- Label -->
        <x-box v-if="label" as="label" class="form-control__label" :for="for">{{ label }}<x-box v-if="required" as="span" color="error.normal" ml="tiny">*</x-box></x-box>

        <!-- Body -->
        <div class="form-control__body">
            <slot />
        </div>

        <!-- Description -->
        <x-text v-if="description" class="form-control__description">{{ description }}</x-text>

        <!-- Messages (Success, Error) -->
        <x-text class="form-control__success" v-if="success">{{ success }}</x-text>
        <x-text class="form-control__error" v-if="error">{{ error }}</x-text>        

    </x-box>
</template>

<script>
    import { defineComponent } from "vue";

    export default defineComponent({
        props: {
            variation: String,
            // Input settings
            for: {
                type: String,
                default: null,
            },
            label: {
                type: String,
                default: null,
            },
            required: {
                // Visual cue only (no validation incorporated)
                type: Boolean,
                default: false,
            },
            description: {
                type: String,
                default: null,
            },
            error: {
                type: String,
                default: null,
            },
            success: {
                type: String,
                default: null,
            },
        },

        data() {
            return {
                bem: this.$ripple().classNamer("form-control"),
            };
        },

        computed: {
            attributes() {
                let classes = [this.bem.block(), this.bem.modifier(this.variation)];

                return {
                    class: classes,
                };
            },
        },
    });
</script>