<template>
    <x-box as="form"
        v-bind="attributes"
        :method="method"
        :action="action"
        >
        <slot />
    </x-box>
</template>

<script>
    import { defineComponent } from "vue";

    export default defineComponent({
        props: {
            variation: String,
            // Form Settings
            // isLoading: false,
            method: {
                type: String,
                default: "POST",
            },
            action: {
                // Optional, as we may submit the for via axios, etc
                type: String,
                required: false,
            },
        },

        data() {
            return {
                bem: this.$ripple().classNamer("form-container"),
            };
        },

        computed: {
            attributes() {
                let classes = [this.bem.block(), this.bem.modifier(this.variation)];

                return {
                    class: classes,
                };
            },
        },
    });
</script>

<style lang="scss">
    //
</style>