<template>
    <x-grid v-bind="attributes" :columns="columns" :gapX="gap ?? gapX" :gapY="gap ?? gapY">
        <slot />
    </x-grid>
</template>

<script>
    import { defineComponent } from "vue";

    export default defineComponent({
        props: {
            variation: String,
            // Grid Properties
            columns: {
                type: String,
                default: "1 md:3"
            },
            gap: {
                type: String,
                default: null,
            },
            gapX: {
                type: String,
                default: 'normal',
            },
            gapY: {
                type: String,
                default: 'normal',
            },
        },

        data() {
            return {
                bem: this.$ripple().classNamer("form-grid"),
            };
        },

        computed: {
            attributes() {
                let classes = [this.bem.block(), this.bem.modifier(this.variation)];

                return {
                    class: classes,
                };
            },
        },
    });
</script>

<style lang="scss">
    .form-grid {
        //
    }
    .form-grid :where(.form-control) {
        // We'll use grid gaps to control spacing between form elements
        margin-bottom: 0;
    }
</style>