<template>
  <div class="app-root">
    <x-row
      class="app-root__header"
      px="small"
      bg="white"
      flexShrink="0"
      alignItems="center"
      justifyContent="between"
      gap="small">

      <x-row alignItems="center" gap="small" class="app-root__sidebar">
        <span class="md:none">
          <x-icon-button
            name="menu"
            variation="circle"
            aria-label="Show Main Navigation"
            @click="showSidebar"
          />
        </span>
        <x-link :href="route('dashboard')" variation="plain">
          <Logo :name="config.name" />
        </x-link>
      </x-row>

      <x-row textAlign="right" gap="small">
        <x-link :inertia="false" href="/auth/logout">
          Log Out
        </x-link>

        <x-text>
          {{ $page.props.auth.user.name }}
        </x-text>
      </x-row>
    </x-row>

    <x-flex class="app-root__content" flexGrow="1" wrap="nowrap">
      <div
        class="app-root__sidebar app-root__sidebar--left"
        :data-state="sidebarState">

        <x-row
          padding="small"
          alignItems="center"
          justifyContent="between"
          gap="small"
          display="flex md:none">
          <Logo
            :name="config.name"
          />
          <x-icon-button
            ml="auto"
            name="close"
            variation="circle"
            aria-label="Close Navigation"
            @click="hideSidebar"
          />
        </x-row>
        <Navigation @routeChange="hideSidebar"/>
      </div>


      <div class="app-root__body">
        <main>
          <slot />
        </main>
      </div>
    </x-flex>

    <div
      class="app-root--overlay"
      :data-state="sidebarState"
      @click="hideSidebar"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import Logo from '../components/logo.vue';
import Navigation from '../components/navigation.vue';
import { useConfig } from '../composables/river';

export default defineComponent({
  components: {
    Logo,
    Navigation,
  },

  data: () => ({
    config: useConfig(),
    sidebarState: "closed",
  }),

  methods: {
    showSidebar() {
      this.sidebarState = 'open';
    },
    hideSidebar() {
      this.sidebarState = 'closed';
    }
  }
})
</script>

<style lang="scss">
@import "../../styles/design-system";

.app-root {
  --header-height: 64px;
  --sidebar-width: 270px;
  --animation-speed: 200ms;
  --body-bg: var(--colors-gray-50);

  min-height: 100vh;
  background: var(--colors-gray-50);
  padding-top: var(--header-height);
}

.app-root__header {
  background: white;
  border-bottom: 1px solid var(--colors-gray-100);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: 10;
}

/** Primary Sidebar */
.app-root__content .app-root__sidebar {
  width: 100%;
  max-width: var(--sidebar-width);
  border-right: 1px solid var(--colors-gray-100);
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;

  // Mobile
  @include design-breakpoint-down('md') {
    background: white;
    transform: translateX(calc(var(--sidebar-width) * -1));

    &[data-state="open"] {
      transition: transform var(--animation-speed) ease;
      transform: translateX(0);
    }
  }

  // Desktop
  @include design-breakpoint-up('md') {
    background: var(--body-bg);
    padding-top: var(--header-height);
    z-index: 5;
  }
}

.app-root__body {
  width: 100%;

  // Desktop
  // Account for when sidebar is opened
  @include design-breakpoint-up('md') {
    padding-left: var(--sidebar-width);
  }
}

.app-root--overlay {
  background: #fff;
  position: fixed;
  inset: 0;
  z-index: 15;
  transition: opacity 100ms ease;
  opacity: 0;
  pointer-events: none;

  &[data-state="open"] {
    opacity: 0.5;
    pointer-events: all;
  }

  @include design-breakpoint-up('md') {
    display: none;
  }
}

</style>
