<!-- Project Layout = Full-height sidebar, header + body within content -->
<template>
    <div :class="appRootClass" :data-sidebar-state="sidebarState">

        <!-- App Layout -->
        <x-box class="app-root__layout">
            
            <!-- Sidebar -->
            <x-box class="app-root__sidebar">

                <!-- Toggle Sidebar -->
                <x-box @click="events.emit('toggleSidebar', 'close')" class="app-toggle-sidebar">
                    <x-icon name="uiClose" label="Close Menu" :size="null" />
                </x-box>

                <!-- Logo -->
                <x-box mb="lg">
                    <x-logo :href="narrowState ? null : '/'" class="app-root__logo" :reverse="true" />
                    <x-pill v-if="isAdmin()" info mt="xs">Staff Access</x-pill>
                </x-box>

                <!-- Navigation -->
                <Navigation
                class="app-root__navigation"
                    :activeRoute="activeRoute"
                    :activeSectionRouteKey="activeSectionRouteKey"
                    :activeSubmenuRouteKey="activeSubmenuRouteKey"
                    />
                
                <!-- RIVER -->
                <x-box class="app-root__vendor">
                    <x-text size="xs" color="base ">Powered by <x-logo-river :reverse="true" mx="tiny" /></x-text>
                </x-box>

            </x-box>

            <x-box class="app-root__container">

                <!-- Header -->
                <x-box class="app-root__header">

                    <!-- Header Content -->
                    <x-row class="app-root__header-row" gap="sm" alignItems="center">

                        <!-- Header (Breadcrumbs & Actionbar) -->
                        <Header
                            :activeRoute="activeRoute"
                            :activeSectionRouteKey="activeSectionRouteKey"
                            :activeSubmenuRouteKey="activeSubmenuRouteKey"
                            />

                        <!-- User Controls / Badge -->
                        <x-row class="app-controls" ml="auto" textAlign="right" alignItems="center" gap="sm">
<!--                             
                            <el-tooltip
                                effect="dark"
                                content="Messages - Pending"
                                placement="bottom"
                            >
                                <x-icon color="gray.light" name="toolsMessages" label="Messages" />
                            </el-tooltip>
                            <el-tooltip
                                effect="dark"
                                content="Notifications - Pending"
                                placement="bottom"
                            >
                                <x-icon color="gray.light" name="toolsNotifications" label="Notifications" />
                            </el-tooltip>
 -->
                            <x-row class="app-user-badge" alignItems="center" gap="sm">
                                <x-image class="app-user-badge__avatar" src="assets/images/content/avatar.png" />
                                <x-stack class="app-user-badge__label" gap="none">
                                    <x-subtitle>
                                        {{ $page.props.auth.user.name }}
                                    </x-subtitle>
                                    <x-adjunct color="gray.dark">
                                        {{ $page.props.auth.user.role ?? '-' }}
                                    </x-adjunct>
                                </x-stack>
                                <el-dropdown trigger="click" ref="badgeDropdown" class="app-user-badge__menu">
                                    <div class="app-user-badge__menu-trigger">
                                        <x-image class="app-user-badge__avatar" src="assets/images/content/avatar.png" />
                                        <x-icon color="gray.darkest" name="uiMenuDots" label=":" />
                                    </div>
                                    <template #dropdown>
                                        <el-dropdown-menu>
                                            <el-dropdown-item>
                                                <x-link variation="plain" :href="dashboardUrl" @click="closeBadgeDropdown">Dashboard</x-link>
                                            </el-dropdown-item>
                                            <el-dropdown-item v-if="isAdmin()">
                                                <x-link variation="plain" href="/admin" :external="true" @click="closeBadgeDropdown">Admin Portal</x-link>
                                            </el-dropdown-item>
                                            <el-dropdown-item divided>
                                                <x-link :href="profileUrl" variation="plain" @click="closeBadgeDropdown">Profile</x-link>
                                            </el-dropdown-item>
                                            <el-dropdown-item>
                                                <x-link :href="logoutUrl" :inertia="false" variation="plain">Logout</x-link>
                                            </el-dropdown-item>
                                        </el-dropdown-menu>
                                    </template>
                                </el-dropdown>
                            </x-row>
                        </x-row>

                    </x-row>
                </x-box>

                <!-- Body -->
                <x-box as="main" class="app-root__body" @hydrate="hydrateLayout">
                    <slot/>
                </x-box>

            </x-box>
        </x-box>

        <x-box class="app-root__overlay" @click="events.emit('toggleSidebar', 'close')"></x-box> 

    </div>
</template>

<script>
    // Our main layout for this project
    // The layout knows about the active route and section, to pass onto navigation etc
    import { defineComponent } from 'vue';
    import { useConfig } from '../composables/river';

    // Navigation & Routes config
    // import Logo from '~/components/logo.vue';
    import Navigation from '~/components/navigation/navigation.vue';
    import Header from '~/components/navigation/header.vue';
    import appNavigationConfig from "~/config/app-navigation-config.js";
    import staffNavigationConfig from "~/config/staff-navigation-config.js";
    import routesConfig from "~/config/routes-config.js";

    export default defineComponent({
        props: {
            //
        },

        data: function() {
            return {
                config: useConfig(),
                sidebarState: "open",
                narrowState: false,
                badgeDropdown: null,
                // Navigation & Routes
                appNavigationConfig: appNavigationConfig,
                staffNavigationConfig: staffNavigationConfig,
                routesConfig: routesConfig,
                activeRoute: route().current(),
            }
        },

        components: {
            // Logo,
            Navigation,
            Header,
        },

        computed: {
            appRootClass() {
                // As we share this layout between Users and Staff, define which user is present for CSS
                let string = 'app-root ';
                string += this.isAdmin()
                    ? 'app-root--staff'
                    : 'app-root--user';
                return string;
            },
            dashboardUrl() {
                return this.isAdmin()
                    ? route('staff.dashboard')
                    : route('app.dashboard');
            },
            profileUrl() {
                return this.isAdmin()
                    ? route('staff.profile.index')
                    : route('app.profile.index');
            },
            logoutUrl() {
                return this.isAdmin()
                    ? route('staff.logout')
                    : route('logout');
            },
            navigationConfig() {
                return this.$page.props.auth.admin
                    ? this.staffNavigationConfig
                    : this.appNavigationConfig;
            },
            activeSectionRouteKey() {
                // Return the routeKey for the active section (eg, 'clients.index'), based on the activeRoute

                // First check for a match in navigationConfig by activeRoute
                if (this.navigationConfig[this.activeRoute]) {
                    return this.activeRoute;
                }

                // Then check for a match in routesConfig by activeRoute, and return the associated sectionRoute
                // This is because each route in the routesConfig belongs to one of our navigation 'sections'
                if (routesConfig[this.activeRoute]) {
                    return routesConfig[this.activeRoute].sectionRoute ?? null;
                }

                // No match
                return null;
            },
            activeSubmenuRouteKey() {
                // Return the routeKey of the active submenu (eg, 'clients.checkpoints'), based on the activeRoute
                if (routesConfig[this.activeRoute]) {
                    return routesConfig[this.activeRoute].submenuRoute ?? this.activeRoute;
                }
                return null;
            },
        },

        watch: {
            "$page.url": {
                immediate: true,
                handler(newValue, oldValue) {
                    this.activeRoute = route().current();
                },
            },
        },

        methods: {
            isAdmin() {
                // We are logged in as an admin, if an admin is passed through via HandleInertiaRequests.php
                return this.$page.props.auth.admin
                    ? true
                    : false;
            },
            hydrateLayout(layoutData) {
                // console.log('hydrateLayout', layoutData);
                // Close the window when we navigate via the menu on mobile
                this.narrowState = false;
                if (window.innerWidth <= 1020) {
                    // NOTE, the 1020 width needs to match design-breakpoint-down('md')
                    this.events.emit('toggleSidebar', 'close');
                    this.narrowState = true;
                }
            },
            toggleSidebar(state) {
                state = state ?? 'toggle';
                if (state == 'toggle') {
                    state = (this.sidebarState == 'open' ? 'close' : 'open');
                }
                if (state == 'open' || state == 'close') {
                    this.sidebarState = state;
                } else {
                    console.log('Invalid sidebar state', state);
                }
            },
            closeBadgeDropdown() {
                // Manually close the el-dropdown badgeDropdown (with a small delay for UX)
                // As we're using our own button elements inside the dropdown (so the default close is not triggered)
                let vm = this;
                if (vm.$refs.badgeDropdown) {
                    setTimeout(function() {
                        vm.$refs.badgeDropdown.handleClose();
                    }, 100);
                }
            },
        },

        mounted: function() {
            this.events.on('hydrateLayout', this.hydrateLayout);
            this.events.on('toggleSidebar', this.toggleSidebar);
        },
    })
</script>

<style lang="scss">
    .app-root {
        // Styles
        display: flex;
        min-height: 100vh;
        background-color: v('colors.base');

        // Variables
        --app-sidebar-width: 280px;
        --app-sidebar-padding: 5rem 4rem;
    }

    .app-root__layout {
        // Note, we can't use flex here if we use el-table, as it will not resize down if we make the window smaller
        // as .app-root__container will continue to grow
        position: relative;
        flex-grow: 1;
        display: flex; // block
        width: 100%;
        padding-left: var(--app-sidebar-width);
        // Transition
        transition: v('common.transition.fast');
        transition-property: padding-left;
    }

    .app-root__sidebar {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        z-index: 1500;
        // position: absolute;
        top: 0;
        left: 0;
        width: var(--app-sidebar-width);
        min-height: 100%;
        // background: v('colors.gradient');
        background-color: v('colors.gray.darkest');
        padding: var(--app-sidebar-padding);
        padding-top: 3rem;
        font-size: v('type.size.normal');

        // Fixed position (separate from page)
        position: fixed;
        height: 100vh;
        overflow: auto;

        // Transition
        transition: v('common.transition.fast');
        transition-property: left;
    }
    .app-root__navigation {
        margin-bottom: 3rem;
    }
    .app-root__logo {
        display: block;        
        text-decoration: none;
    }
    .app-root__vendor {
        margin-top: auto;
        opacity: 0.8;
    }
    @include design-breakpoint-down('md') {
        // Put the menu "on top" of the content on mobile
        .app-root__layout {
            // padding-left: 0;
            // @debt we need to add another close sidebar button in the sidebar before we can do this
            // (and re-implement the body overlay)
        }
    }
    @media only screen and (max-height: 600px) {
        // Reduce menu height on short screens (reduce chance of scrollbar)
        .app-root__sidebar {
            font-size: v('type.size.sm');
        }
    }
    .app-root--user .app-root__sidebar {
        background-color: v('colors.primary.darkest');
    }

    .app-root__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .app-root__header {
        flex-shrink: 0;
        background-color: v('colors.base');
        box-shadow: v('common.shadow.card', 1px 1px 3px rgba(black, 0.5));
    }

    .app-root__body {
        // Use <x-page> and <x-section> inside the app body for default page padding
        display: flex;
        flex-grow: 1;
        max-width: 100%;
    }

    // Header
    .app-header {
        padding: 2rem 2rem;
    }

    // Header - User Controls & Badge
    .app-controls {
        padding: 0 2rem 0 0;
    }
    .app-user-controls {
        //
    }
    .app-user-badge {
        padding: 0.5rem;
        border-radius: 5rem; // 4rem Avatar Image Height + 0.5rem*2 Padding
        overflow: hidden;
        background-color: v('colors.gray.bg');
        line-height: normal;
        border: v('common.border.normal');
    }
    .app-user-badge .style-title {
        white-space: nowrap;
        max-width: 18rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .app-user-badge__avatar {
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
        background-color: white;
        overflow: hidden;
    }
    .app-user-badge__avatar img {
        object-fit: cover;
    }

    // Header - Responsive
    .app-user-badge__menu-trigger {
        cursor: pointer;
    }
    .app-user-badge__menu-trigger > .style-image {
        display: none;
    }
    @include design-breakpoint-down('sm') {
        .app-root__header-row {
            gap: 0;
        }
        .app-header {
            padding: 1rem 1rem;
        }
        .app-controls {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
        }

        .app-breadcrumbs {
            display: block;
        }
        .app-breadcrumbs > .style-title {
            display: inline;
            font-size: v('type.size.title-5');
        }
        .app-breadcrumbs > .app-breadcrumbs__seperator {
            transform: translateY(0.2rem);
            margin: 0 0.5rem;
        }

        // Header - User Controls & Badge
        .app-user-badge > .app-user-badge__avatar,
        .app-user-badge > .app-user-badge__label {
            display: none;
        }
        .app-user-badge__menu-trigger .style-icon {
            display: none;
        }
        .app-user-badge__menu-trigger .style-image {
            display: block;
        }
    }

    // Toggle Sidebar Buttons
    .app-toggle-sidebar {
        display: inline-block;
        cursor: pointer;
        padding: 0.1rem;
        .style-icon {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    .app-root__sidebar {
        .app-toggle-sidebar {
            display: none;
            color: v('colors.gray.light');
            position: absolute;
            top: 3.0rem;
            right: 3.0rem;
        }
    }
    .app-root__header {
        .app-toggle-sidebar {
            margin-top: 0;
            margin-right: 1.5rem;
        }
    }

    // Toggle Sidebar
    .app-root__overlay {
        display: none;
        position: fixed;
        z-index: 1450; // underneath sidebar
        inset: 0;
        background: black;
        opacity: 0.5;
    }
    .app-root[data-sidebar-state="close"] {
        .app-root__layout {
            padding-left: 0;
        }
        .app-root__sidebar {
            left: calc(var(--app-sidebar-width) * -1);
        }
    }
    @include design-breakpoint-down('md') {
        // NOTE, the 'md' width of 1020px needs to be reflected under hydrateLayout()
        .app-root__sidebar {
            .app-toggle-sidebar {
                display: block;
            }
        }
        .app-root__layout {
            padding-left: 0 !important;
        }
        .app-root[data-sidebar-state="open"] {
            .app-root__overlay {
                display: block;
            }
        }
    }
</style>
