<!-- Users: Show Details -->
<template>

    <!-- Details + Actions -->
    <x-grid columns="1 md:3" gap="normal" class="user-details grid-cards-grow">

        <!-- User Details -->
        <x-grid-cell span="1 md:2">
            <x-display-card>
                <x-title size="5" mb="normal">User Details</x-title>

                <!-- User Details: Tabs -->
                <user-show-tabs :user="user" />

            </x-display-card>
        </x-grid-cell>

        <!-- User Actions -->
        <x-grid-cell span="1">
            <x-display-card>
                <x-title-divide mb="normal">Actions</x-title-divide>

                <x-row wrap="wrap" gap="sm">
                    <add-edit-note-action
                        :subjectType="user.modelType"
                        :subjectId="user.modelId"
                        :parentType="user.modelType"
                        :parentId="user.modelId"
                        variation="primary"
                        :submitOptions="{ visit: false, reloadData: true }"
                        />
                    <user-edit-details-action
                        :user="user"
                        variation="default"
                        :submitOptions="{ visit: false, reloadData: true }"
                        />
                    <user-add-remove-access-action
                        :user="user"
                        variation="default"
                        :submitOptions="{ visit: false, reloadData: true }"
                        />
                </x-row>
            </x-display-card>
        </x-grid-cell>

    </x-grid>

    <!-- Activity & Lists -->
    <x-space height="normal" />

    <x-grid columns="1 md:3" gap="normal" class="user-lists grid-cards-grow">

        <!-- Activity & Notes -->
        <x-display-card>
            <!-- @debt type class from the backend -->
            <activity-list
                :subjectType="user.modelType"
                :subjectId="user.modelId"
                :parentType="user.modelType"
                :parentId="user.modelId"
                :searchable="true"
                :limit="activitiesLimit"
                :total="activitiesCount"
                :initialResult="activitiesResult"
                :defaultParams="{}"
                />
        </x-display-card>

        <!-- Tickets -->
        <x-display-card>
            <x-box class="project-list">
                <x-title-divide mb="normal">Tickets</x-title-divide>
                <el-input placeholder="Search Tickets...">
                    <template #suffix>
                        <x-icon name="uiSearch" label="Search" size="1em" />
                    </template>
                </el-input>
                <x-caption mt="lg">Tickets are not currently available...</x-caption>
            </x-box>
        </x-display-card>

        <!-- Projects -->
        <x-display-card>
            <x-box class="project-list">
                <x-title-divide mb="normal">Projects</x-title-divide>
                <el-input placeholder="Search Projects...">
                    <template #suffix>
                        <x-icon name="uiSearch" label="Search" size="1em" />
                    </template>
                </el-input>
                <x-caption mt="lg">Projects are not currently available...</x-caption>
            </x-box>
        </x-display-card>

    </x-grid>

</template>

<script>
    // Show details for an User
    import { Inertia } from "@inertiajs/inertia";

    import UserShowTabs from "~/pages/staff/users/components/user-show-tabs";
    import ActivityList from "~/components/activity/activity-list.vue";
    import AddEditNoteAction from "~/components/activity/actions/add-edit-note-action.vue";
    import UserEditDetailsAction from "~/components/contacts/actions/user-edit-details-action.vue";
    import UserAddRemoveAccessAction from "~/components/contacts/actions/user-add-remove-access-action.vue";

    export default {
        props: {
            // User
            user: Object, // UserData DTO

            // Activities
            activitiesLimit: null,
            activitiesResult: Object, // Paginated ActivityData Collection, keyed by 'activities' (to match api.activities.list)
            activitiesCount: null,
        },

        data() {
            return {
                //
            };
        },

        computed: {
            //
        },

        components: {
            UserShowTabs,
            ActivityList,
            AddEditNoteAction,
            UserEditDetailsAction,
            UserAddRemoveAccessAction,
        },

        methods: {
            //
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    .user-details {
        //
    }
</style>