<!-- Users: Show Details / Tabs -->
<template>
    <el-tabs type="border-card">

        <!-- Overview -->
        <el-tab-pane label="Overview">
            <x-grid columns="1 sm:2 lg:3" mt="sm">
                <x-label-value label="Full Name">{{ user.name }}</x-label-value>
                <x-label-value label="Reference">{{ user.reference ?? '-' }}</x-label-value>
                <x-label-value label="Occupation">{{ user.occupation ?? '-' }}</x-label-value>
                <x-label-value label="Website">{{ user.website ?? '-' }}</x-label-value>
                <x-label-value label="Phone">{{ user.phone ?? '-' }}</x-label-value>
                <x-label-value label="Email">{{ user.email ?? '-' }}</x-label-value>
                <x-label-value label="Organisations">3 Total</x-label-value>
                <x-label-value label="Login Access">No</x-label-value>
                <x-label-value label="Last Login">-</x-label-value>
            </x-grid>
            <x-divide my="normal" />
            <x-label-value label="Comments" :value="user.commentsHtml ?? '-'" />
            <x-row gap="sm" mt="normal">
                <user-edit-details-action
                    :user="user"
                    variation="default"
                    :submitOptions="{ visit: false, reloadData: true }"
                    />
            </x-row>
        </el-tab-pane>

        <!-- Organisations -->
        <el-tab-pane label="Organisations">
            Organisations...
        </el-tab-pane>

    </el-tabs>
</template>

<script>
    // Tabs to show and manage an User
    import UserEditDetailsAction from "~/components/contacts/actions/user-edit-details-action.vue";

    export default {
        props: {
            user: Object, // UserData DTO
        },

        data() {
            return {
                //
            };
        },

        computed: {
            //
        },

        components: {
            UserEditDetailsAction,
        },

        methods: {
            //
        },

        mounted() {
            //
        },
    };
</script>