<!-- users: Index List -->
<template>

    <!-- Search -->
    <x-form-grid>
        <x-form-control for="input_keyword" label="Quick Search">
            <el-input id="input_keyword" v-model="usersParams.keyword" placeholder="Name or Email...">
                <template #suffix>
                    <x-icon name="uiSearch" label="Search" size="1em" />
                </template>
            </el-input>
        </x-form-control>
        <x-form-control for="input_access" label="Access Type">
            <el-select
                filterable clearable default-first-option
                id="input_access"
                v-model="usersParams.access"
                placeholder="Any Access..."
                >
                <el-option v-for="(label, key) in userAccessOptions" :key="key" :label="label" :value="key" />
            </el-select>
        </x-form-control>
        <x-form-control for="input_year" label="Year Added" display="none md:block!">
            <el-date-picker
                id="input_year"
                v-model="usersParams.year"
                type="year"
                format="YYYY"
                value-format="YYYY"
                placeholder="Select Year..."
                />
        </x-form-control>
    </x-form-grid>

    <!-- Cards -->
    <x-divide mt="lg" mb="2xl" />

    <x-form-grid v-loading="usersLoading">
        <template v-if="users.length" v-for="user in users" :key="user.id">
            <x-display-card>
                <user-card :user="user" />
            </x-display-card>
        </template>
        <x-caption v-else>No matching Users...</x-caption>
    </x-form-grid>

    <x-divide mt="2xl" mb="lg" />

    <!-- Paging -->
    <x-form-grid>
        <list-paging v-model="usersParams" :result="usersResult" />
    </x-form-grid>

</template>

<script>
    // Index page for users
    import axios from "axios";
    import { ElNotification } from 'element-plus'
    import debounce from 'lodash/debounce'

    import inputConfigs from "~/config/inputs-config";
    import userCard from "~/components/contacts/user-card.vue";
    import ListPaging from "~/components/shared/list-paging.vue";

    export default {
        props: {
            initialResult: {
                // Optionally pass in initial results to skip the first load (should match the route api.users.list)
                // This should be a Paginated userData Collection, keyed by 'users' (to match api.users.list route)
                type: Object,
                default: null,
            },
            limit: {
                type: Number,
                default: 12,
            },
            searchable: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                // Search & Paging
                usersLoading: false,
                usersResult: this.initialResult ? this.initialResult.users : null,
                users: this.initialResult ? this.initialResult.users.data : [],
                usersLastPage: this.initialResult ? this.initialResult.users.last_page : null,
                usersParams: {
                    limit: this.limit,
                    page: 1,
                    keyword: null,
                    access: null,
                    year: null,
                    status: null, // @debt type from backend; this should match default state of userController@index
                },
                usersParamsOld: null,
            };
        },

        components: {
            userCard,
            ListPaging,
        },

        computed: {
            ...inputConfigs,
        },

        watch: {
            usersParams: {
                handler(newValue) {
                    if (this.usersParamsOld && newValue.page == this.usersParamsOld.page) {
                        // Reset the page back to 1, if any param other than page has changed
                        newValue.page = 1;
                    }
                    this.fetchusers();
                },
                deep: true,
            },
        },

        methods: {
            fetchusers: debounce(function() {
                this.usersLoading = true;
                this.usersParamsOld = { ...this.usersParams };

                axios
                    .get(this.route("api.users.list", this.usersParams))
                    .then((res) => {
                        // console.log('Fetched users', res.data.users);
                        this.usersResult = res.data.users;
                        this.users = res.data.users.data;
                        this.usersLastPage = res.data.users.last_page;
                        this.usersLoading = false;
                    })
                    .catch((err) => {
                        // console.log('Error fetching users', err);
                        ElNotification({
                            title: "Error Loading Users",
                            message: "An error occured loading the Users.",
                            type: "error",
                        });
                    });
            }, 200),
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>