<!-- Contacts / Create -->
<template>

    <!-- Create Contact -->
    <x-box>

        <!-- Form -->
        <x-form-container v-loading="formLoading" :variation="readOnly ? 'readonly' : ''" @keydown="submitOnCtrlEnter">

            <!-- Title -->
            <!-- <x-title size="5" mb="small">{{ getTitle() }}</x-title> -->

            <!-- Notifications -->
            <x-notification v-if="formMessage" success mb="normal">{{ formMessage }}</x-notification>
            <x-notification v-if="formError" error mb="normal">{{ formError }}</x-notification>

            <!-- Contact Type -->
            <x-title size="5" mb="sm">Contact Type</x-title>
            <x-form-grid>
                <x-grid-cell>
                    <x-form-control :error="form.errors.contact_type" label="Contact Type" required>
                        <x-row wrap="wrap">
                            <template v-for="(label, key) in contactTypeOptions" :key="key">
                                <el-radio :disabled="readOnly" v-model="form.contact_type" :label="key">{{ label }}</el-radio>
                            </template>
                        </x-row>
                    </x-form-control>
                </x-grid-cell>
            </x-form-grid>

            <!-- Organisation: Details -->
            <template v-if="isOrganisation()">
                <x-space height="2xl" />
                <x-title size="5" mb="sm">Organisation Details</x-title>
                <x-form-grid>
                    <x-grid-cell>
                        <x-form-control for="input_name" :error="form.errors.name" label="Organisation Name" required>
                            <el-input :disabled="readOnly" id="input_name" v-model="form.name" placeholder="Name..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_reference" :error="form.errors.reference" label="Reference Code">
                            <el-input :disabled="readOnly" id="input_reference" v-model="form.reference" placeholder="Code..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_industry" :error="form.errors.industry" label="Industry">
                            <el-input :disabled="readOnly" id="input_industry" v-model="form.industry" placeholder="Industry..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_website" :error="form.errors.website" label="Website">
                            <el-input :disabled="readOnly" id="input_website" v-model="form.website" placeholder="Website..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_phone" :error="form.errors.phone" label="Phone">
                            <el-input :disabled="readOnly" id="input_phone" v-model="form.phone" placeholder="Phone..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_email" :error="form.errors.email" label="Email">
                            <el-input :disabled="readOnly" id="input_email" v-model="form.email" placeholder="Email..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell span="1 md:2">
                        <x-form-control for="input_address" :error="form.errors.address" label="Address">
                            <el-input :disabled="readOnly" id="input_address" v-model="form.address" placeholder="Address..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_country" :error="form.errors.country" label="Country">
                            <el-select :disabled="readOnly"
                                filterable clearable default-first-option
                                id="input_country"
                                v-model="form.country"
                                placeholder="Country...">
                                <el-option v-for="(label, key) in countryOptions" :key="key" :label="label" :value="key" />
                            </el-select>
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell span="1 md:3">
                        <x-form-control :error="form.errors.type" label="Organisation Type">
                            <x-row wrap="wrap">
                                <template v-for="(label, key) in organisationTypeOptions" :key="key">
                                    <el-radio v-if="key !== 'other'" :disabled="readOnly" v-model="form.type" :label="key">{{ label }}</el-radio>
                                </template>
                                <x-row gapX="sm" ml="normal">
                                    <el-radio :disabled="readOnly" v-model="form.type" label="other">Other</el-radio>
                                    <el-input variation="small"
                                        :disabled="form.type !== 'other' || readOnly"
                                        id="input_type_other"
                                        v-model="form.type_other"
                                        placeholder="Other type..."
                                        style="max-width: 24rem;"
                                        />
                                </x-row>
                            </x-row>
                        </x-form-control>
                    </x-grid-cell>
                </x-form-grid>
            </template>

            <!-- Organisation: Contact People -->
            <template v-if="isOrganisation()">
                <x-space height="2xl" />
                <x-title size="5" mb="sm">Contact People</x-title>
                <x-caption>These are added as Users which are linked to the Organisation. Once added, you can click through to any of the Users to activate an online login.</x-caption>
                <x-caption>PENDING</x-caption>
            </template>

            <!-- User: Details -->
            <template v-if="isUser()">
                <x-space height="2xl" />
                <x-title size="5" mb="sm">User Details</x-title>
                <x-form-grid>
                    <x-grid-cell>
                        <x-form-control for="input_name" :error="form.errors.name" label="Full Name" required>
                            <el-input :disabled="readOnly" id="input_name" v-model="form.name" placeholder="Name..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_email" :error="form.errors.email" label="Email" required>
                            <el-input :disabled="readOnly" id="input_email" v-model="form.email" placeholder="Email..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_reference" :error="form.errors.reference" label="Reference">
                            <el-input :disabled="readOnly" id="input_reference" v-model="form.reference" placeholder="Reference..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_website" :error="form.errors.website" label="Website">
                            <el-input :disabled="readOnly" id="input_website" v-model="form.website" placeholder="Website..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_phone" :error="form.errors.phone" label="Phone">
                            <el-input :disabled="readOnly" id="input_phone" v-model="form.phone" placeholder="Phone..." />
                        </x-form-control>
                    </x-grid-cell>
                    <x-grid-cell>
                        <x-form-control for="input_occupation" :error="form.errors.occupation" label="Occupation">
                            <el-input :disabled="readOnly" id="input_occupation" v-model="form.occupation" placeholder="Occupation..." />
                        </x-form-control>
                    </x-grid-cell>

                </x-form-grid>
            </template>

            <!-- Administration -->
            <x-space height="2xl" />
            <x-title size="5" mb="sm">Administration</x-title>
            <x-form-grid>
                <x-grid-cell>
                    <x-form-control :error="form.errors.admin_id" label="Contact Manager" required>
                        <el-select id="input_admin_id" :disabled="true" v-model="form.admin_id" placeholder="Select Staff...">
                            <el-option :key="admin.id" :label="admin.name" :value="admin.id"></el-option>
                        </el-select>
                    </x-form-control>
                </x-grid-cell>
                <x-grid-cell>
                    <x-form-control :error="form.errors.date_added" label="Date Added" required>
                        <el-date-picker :disabled="readOnly" id="input_date_added" v-model="form.date_added" placeholder="Select Date..." />
                    </x-form-control>
                </x-grid-cell>
            </x-form-grid>
            <x-form-grid mt="normal">
                <x-grid-cell span="1 md:2">
                    <x-form-control for="input_comments" :error="form.errors.comments" label="Comments">
                        <el-input
                            :disabled="readOnly"
                            type="textarea"
                            autosize
                            id="input_comments"
                            v-model="form.comments"
                            placeholder="Comments..."
                        />
                    </x-form-control>
                </x-grid-cell>
            </x-form-grid>

            <!-- Form Controls -->
            <x-row wrap="wrap" mt="2xl" gap="normal">
                <el-button v-if="! readOnly" :disabled="! isSubmitEnabled()" id="form-submit" type="primary" @click="handleSubmit">{{ getSubmitButtonName() }}</el-button>
                <x-button ml="md:auto" variation="default" :href="route('staff.dashboard')">Cancel</x-button>
            </x-row>

        </x-form-container>

    </x-box>

</template>

<script>
    // Create page for Contacts (Organisations and Users)
    import { ElNotification } from "element-plus";
    import { sendInertiaForm } from "~/utils/inertia-utils";

    import inputConfigs from "~/config/inputs-config";

    export default {
        props: {
            type: {
                type: String, // Default type: organisation, user
                default: null,
            },
        },

        data() {
            return {
                // Admin
                admin: this.$page.props.auth.user,

                // State
                formLoading: false,
                formMessage: null,
                formError: null,

                // Form data
                form: this.$inertia.form({
                    // Setup
                    contact_id: null,
                    contact_type: this.type ?? null,

                    // Setup - Administration
                    admin_id: this.$page.props.auth.user.id ?? null,
                    date_added: new Date(),

                    // Contact Details (Shared)
                    name: null,
                    reference: null,                    
                    phone: null,
                    email: null,
                    website: null,
                    address: null,
                    country: null,
                    type: null,
                    type_other: null,
                    comments: null,

                    // Organisation Details
                    industry: null,

                    // User Details
                    occupation: null,
                }),
            };
        },

        components: {
            //
        },

        computed: {
            ...inputConfigs,
            readOnly() {
                return false;
            },
        },

        watch: {
            //
        },

        methods: {
            isEditing() {
                // Note, we do not have scope for editing calls as of launch
                return false; // this.contact ? true : false;
            },
            isOrganisation() {
                return this.form.contact_type == 'organisation';
            },
            isUser() {
                return this.form.contact_type == 'user';
            },
            getTitle() {
                return this.isEditing() ? "Edit Contact" : "Create Contact";
            },
            getSubmitButtonName() {
                switch(true) {
                    case this.isOrganisation():
                        return 'Add Organisation';
                        break;
                    case this.isUser():
                        return 'Add User';
                        break;
                    default:
                        return 'Add Contact';
                }
            },
            isSubmitEnabled() {
                return this.isOrganisation() || this.isUser();
            },
            getRoute() {
                switch(true) {
                    case this.isOrganisation():
                        return 'api.organisations.store';
                        break;
                    case this.isUser():
                        return 'api.users.store';
                        break;
                    default:
                        return null;
                }
            },
            handleSubmit() {
                document.getElementById('form-submit').blur();
                const vm = this;
                const route = this.getRoute();
                if (route) {
                    sendInertiaForm(vm, {
                        route: this.getRoute(),
                        options: {
                            preserveScroll: false,
                        },
                    });
                } else {
                    ElNotification({
                        title: "Error Submitting Form",
                        message: "There is a problem with the form data.",
                        type: "error",
                    });
                }
            },
            submitOnCtrlEnter(e) {
                if (e.keyCode == 13 && e.ctrlKey) {
                    this.handleSubmit();
                }
            },
        },

        mounted() {
            //
        },
    };
</script>

<style lang="scss">
    //
</style>